n8n/Final Prompt Optimizer.json
{
  "name": "Final Prompt Optimizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "final-prompt-optimizer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "56da94a1-2419-435b-b0f0-f008bc0ad882",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -304,
        -208
      ],
      "webhookId": "final-prompt-optimizer-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract input from webhook\nconst items = $input.all();\nconst body = items[0].json.body;\n\n// Validate required fields\nif (!body.task_description) {\n  throw new Error('Missing task_description');\n}\nif (!body.selected_framework) {\n  throw new Error('Missing selected_framework');\n}\nif (!body.prompt_run_id) {\n  throw new Error('Missing prompt_run_id');\n}\n\n// Extract data - personality_type and personality_approach are now optional\nconst personalityType = body.personality_type || null;\nconst personalityApproach = body.personality_approach || null;\nconst taskDescription = body.task_description;\nconst traitPercentages = body.trait_percentages || {};\nconst selectedFramework = body.selected_framework;\nconst frameworkReasoning = body.framework_reasoning || '';\nconst questions = body.framework_questions || [];\nconst answers = body.clarifying_answers || [];\nconst promptRunId = body.prompt_run_id;\n\n// Validate personality_approach value if provided\nif (personalityApproach && personalityApproach !== 'amplify' && personalityApproach !== 'counterbalance') {\n  throw new Error(`Invalid personality_approach value: ${personalityApproach}. Must be 'amplify' or 'counterbalance'`);\n}\n\n// Build trait information for context (only if personality type provided)\nlet traitInfo = '';\nif (personalityType && Object.keys(traitPercentages).length > 0) {\n  const traitLabels = {\n    mind: 'Mind (Introversion/Extraversion)',\n    energy: 'Energy (Intuitive/Observant)',\n    nature: 'Nature (Thinking/Feeling)',\n    tactics: 'Tactics (Judging/Prospecting)',\n    identity: 'Identity (Assertive/Turbulent)'\n  };\n\n  const formattedTraits = Object.entries(traitPercentages)\n    .map(([key, value]) => {\n      const label = traitLabels[key] || key;\n      return `  - ${label}: ${value}%`;\n    })\n    .join('\\n');\n\n  traitInfo = `\\nTrait Percentages:\\n${formattedTraits}`;\n}\n\n// Build questions and answers\nconst questionsAndAnswers = questions.map((question, index) => {\n  const answer = answers[index];\n  return `Q${index + 1}: ${question}\\nA${index + 1}: ${answer !== null && answer !== undefined ? answer : '[Skipped]'}`;\n}).join('\\n\\n');\n\nreturn {\n  prompt_run_id: promptRunId,\n  personality_type: personalityType,\n  has_personality: personalityType !== null,\n  personality_approach: personalityApproach,\n  task_description: taskDescription,\n  trait_percentages: traitPercentages,\n  trait_info: traitInfo,\n  selected_framework: selectedFramework,\n  framework_reasoning: frameworkReasoning,\n  questions_and_answers: questionsAndAnswers\n};"
      },
      "id": "b4021339-994d-45ee-97c4-bffde5d2c688",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the system prompt for final optimization\nconst inputData = $input.first().json;\nconst hasPersonality = inputData.has_personality;\nconst personalityApproach = inputData.personality_approach;\n\nlet systemPrompt, userMessage;\n\nif (hasPersonality && personalityApproach) {\n  // WITH PERSONALITY: Include personality-based approach\n  systemPrompt = `You are an expert at crafting AI prompts tailored to personality types based on the 16personalities.com framework.\n\nYour task is to create an optimised, comprehensive AI prompt that:\n1. Uses the specified prompt engineering framework as its foundation\n2. Applies the designated personality approach strategy:\n   ${personalityApproach === 'amplify' ? \n     '**AMPLIFY**: Design the prompt to leverage the user\\'s natural personality strengths. Frame instructions in ways that align with their cognitive preferences and communication style. Encourage them to use their natural abilities and thinking patterns.' : \n     '**COUNTERBALANCE**: Design the prompt to provide structure and guidance that compensates for potential personality weaknesses. Include explicit guardrails, step-by-step guidance, and frameworks that help the user approach the task from angles that may not come naturally to them. Be prescriptive and directive.'}\n3. Incorporates all provided clarifying answers to add specificity\n4. Includes relevant context, constraints, and requirements\n5. Specifies desired output format clearly\n6. Is clear, specific, actionable, and ready to use\n\nThe prompt should be well-structured, comprehensive, and carefully calibrated to maximize effectiveness based on the ${personalityApproach} strategy.\n\nReturn ONLY the optimised prompt text, without any preamble, explanation, or commentary. The prompt should be ready to use as-is.`;\n\n  userMessage = `Personality Type: ${inputData.personality_type}${inputData.trait_info}\n\nTask Description:\n${inputData.task_description}\n\nSelected Framework: ${inputData.selected_framework}\n\nPersonality Approach: ${personalityApproach.toUpperCase()}\n\nFramework Selection Reasoning:\n${inputData.framework_reasoning}${inputData.qa_section}\n\n---\n\nUsing the ${inputData.selected_framework} framework and the ${personalityApproach.toUpperCase()} approach, create a comprehensive, optimised AI prompt for this task that is perfectly tailored to this user's personality type and requirements.`;\n\n} else {\n  // WITHOUT PERSONALITY: Generic framework-based optimization\n  systemPrompt = `You are an expert at crafting effective AI prompts using established prompt engineering frameworks.\n\nYour task is to create an optimised, comprehensive AI prompt that:\n1. Uses the specified prompt engineering framework as its foundation\n2. Incorporates all provided clarifying answers to add specificity\n3. Includes relevant context, constraints, and requirements\n4. Specifies desired output format clearly\n5. Is clear, specific, actionable, and ready to use\n\nThe prompt should be well-structured, comprehensive, and optimised for effectiveness using the selected framework.\n\nReturn ONLY the optimised prompt text, without any preamble, explanation, or commentary. The prompt should be ready to use as-is.`;\n\n  userMessage = `Task Description:\n${inputData.task_description}\n\nSelected Framework: ${inputData.selected_framework}\n\nFramework Selection Reasoning:\n${inputData.framework_reasoning}${inputData.qa_section}\n\n---\n\nUsing the ${inputData.selected_framework} framework, create a comprehensive, optimised AI prompt for this task.`;\n}\n\nreturn {\n  prompt_run_id: inputData.prompt_run_id,\n  personality_type: inputData.personality_type,\n  has_personality: hasPersonality,\n  system_prompt: systemPrompt,\n  user_message: userMessage\n};"
      },
      "id": "3d56edba-c5ad-4b1e-8522-eef26ed55895",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-7-sonnet-20250219\",\n  \"max_tokens\": 4000,\n  \"temperature\": 0.7,\n  \"system\": {{ JSON.stringify($json.system_prompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify($json.user_message) }}\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "562fbfb7-9ff0-42f7-ae34-00c60536fd16",
      "name": "Call Claude Sonnet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        368,
        -208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5u3Dji2E1ZKRUSRX",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true,
      "notes": "Uses Claude Sonnet for high-quality final prompt generation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-status-code",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a90168b-0bf0-49a0-874f-c9aeed73f0f8",
      "name": "Check Response Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -304,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle API error response\nconst item = $input.first();\nconst response = item.json;\nconst webhookData = $node[\"Build LLM Prompt\"].json;\n\nlet errorMessage = 'API call failed';\nlet errorDetails = {};\n\n// Check if this is an n8n error (when continueOnFail is true)\nif (response.errorMessage) {\n  // n8n error format\n  errorMessage = response.errorMessage || 'Unknown error';\n  \n  // Add description if available\n  if (response.errorDescription) {\n    errorDetails.description = response.errorDescription;\n    // Use description as main error message if more specific\n    if (response.errorDescription !== errorMessage) {\n      errorMessage = response.errorDescription;\n    }\n  }\n  \n  // Extract error details\n  if (response.errorDetails) {\n    // HTTP code\n    if (response.errorDetails.httpCode) {\n      errorDetails.http_code = response.errorDetails.httpCode;\n    }\n    \n    // Raw error message (contains the actual API response)\n    if (response.errorDetails.rawErrorMessage && response.errorDetails.rawErrorMessage.length > 0) {\n      const rawError = response.errorDetails.rawErrorMessage[0];\n      \n      // Try to parse if it's a JSON string\n      const match = rawError.match(/\\{.*\\}/);\n      if (match) {\n        try {\n          const parsed = JSON.parse(match[0].replace(/\\\\/g, ''));\n          if (parsed.error) {\n            if (parsed.error.type) {\n              errorDetails.error_type = parsed.error.type;\n            }\n            if (parsed.error.message) {\n              errorDetails.api_message = parsed.error.message;\n              // Use API message as main error if more specific\n              if (parsed.error.message !== errorMessage) {\n                errorMessage = parsed.error.message;\n              }\n            }\n          }\n        } catch (e) {\n          // If parsing fails, just store the raw message\n          errorDetails.raw_error = rawError;\n        }\n      }\n    }\n  }\n  \n  // Add n8n-specific details for debugging\n  if (response.n8nDetails) {\n    errorDetails.node_name = response.n8nDetails.nodeName;\n    errorDetails.time = response.n8nDetails.time;\n  }\n} else if (response.statusCode && response.statusCode !== 200) {\n  // HTTP error (non-200 status) without n8n error wrapper\n  errorDetails.status_code = response.statusCode;\n  \n  if (response.statusMessage) {\n    errorDetails.status_message = response.statusMessage;\n  }\n  \n  // Try to get error from response body\n  if (response.body && response.body.error) {\n    errorMessage = response.body.error.message || response.body.error.type || errorMessage;\n    errorDetails.error_type = response.body.error.type;\n  }\n}\n\nreturn {\n  prompt_run_id: webhookData.prompt_run_id,\n  success: false,\n  error: errorMessage,\n  details: errorDetails\n};"
      },
      "id": "a693618a-bbb6-4028-81ad-71f27524b0ee",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "dc6b18a8-2fd6-44e7-812e-a640e9664fb7",
      "name": "Respond with Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the optimised prompt from Anthropic response\nconst items = $input.all();\nconst response = items[0].json;\n\nlet optimisedPrompt = '';\n\nif (response.body.content && response.body.content[0]?.text) {\n  optimisedPrompt = response.body.content[0].text.trim();\n} else {\n  throw new Error('Invalid response from LLM');\n}\n\n// Get the original data from the Build LLM Prompt node\nconst webhookData = $node[\"Build LLM Prompt\"].json;\n\nreturn {\n  optimized_prompt: optimisedPrompt,\n  prompt_run_id: webhookData.prompt_run_id,\n  personality_type: webhookData.personality_type,\n  model_used: response.model || 'claude-3-5-sonnet-20241022',\n  tokens_used: {\n    input: response.usage?.input_tokens || 0,\n    output: response.usage?.output_tokens || 0,\n    total: (response.usage?.input_tokens || 0) + (response.usage?.output_tokens || 0)\n  }\n};"
      },
      "id": "482d31d6-a0db-492c-9eb1-c6b0154d3df0",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "facd789d-396b-4034-9bcf-1236273361da",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        -304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "fc11956c-70fa-4b81-a83c-928b2994ba24"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1cf763ca-be18-4c4a-849f-725df3f5461e",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failure"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        592,
        -208
      ],
      "id": "094e4c4d-1a56-4070-880e-4ab0d29d9ef0",
      "name": "Check response"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "user-agent": "GuzzleHttp/7",
            "content-type": "application/json",
            "authorization": "Basic YWRtaW46cGFzc3dvcmQ=",
            "content-length": "1686"
          },
          "params": {},
          "query": {},
          "body": {
            "prompt_run_id": 14,
            "personality_type": "INTP-A",
            "trait_percentages": {
              "mind": null,
              "energy": null,
              "nature": null,
              "tactics": null,
              "identity": null
            },
            "task_description": "I want to brainstorm all potential features for a meal planner app. Be thorough.",
            "selected_framework": "SCAMPER",
            "framework_reasoning": "For an INTP seeking comprehensive feature brainstorming, SCAMPER is ideal as it provides a systematic yet creative approach to innovation. This framework will help explore multiple dimensions of feature development through structured creativity, perfectly matching the analytical and exploratory nature of an INTP.",
            "framework_questions": [
              "What specific pain points or challenges do current meal planning apps typically struggle with that you'd like to address?",
              "Are there any unique dietary preferences, restrictions, or lifestyle factors you want the app to accommodate beyond standard meal planning?",
              "What technological capabilities or integrations (like grocery delivery, nutrition tracking, or recipe databases) are you most interested in exploring?",
              "How do you envision the user experience and interaction flow being different from existing meal planner applications?",
              "What budget and technical complexity constraints should we keep in mind while brainstorming potential features?"
            ],
            "clarifying_answers": [
              "Retention is a critical challenge, with 70% of users abandoning apps within 2 weeks if they're too complex or time-consuming.",
              "No. At this stage, I just want to come up with a comprehensive list of POSSIBLE features for the app.",
              "All of these - and more!",
              "I want to make good use of speech recognition, but let's just brainstorm the potential features for now.",
              "None"
            ]
          },
          "webhookUrl": "https://n8n.localhost/webhook/final-prompt-optimizer",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Sonnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Sonnet": {
      "main": [
        [
          {
            "node": "Check response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response Status": {
      "main": [
        [],
        []
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check response": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb8b8202-ae09-4d58-8466-4446cb9c8f56",
  "meta": {
    "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
  },
  "id": "YMvRB5aEeEqeZzO0",
  "tags": []
}