n8n/Framework Selector.json
{
  "name": "Framework Selector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "framework-selector",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6de16bc4-5afd-43ea-8fa4-65187d5e7c02",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        496,
        384
      ],
      "webhookId": "framework-selector-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract input from webhook\nconst items = $input.all();\nconst body = items[0].json.body;\n\n// Validate required fields\nif (!body.task_description) {\n  throw new Error('Missing task_description');\n}\nif (!body.prompt_run_id) {\n  throw new Error('Missing prompt_run_id');\n}\n\n// Extract data - personality_type is now optional\nconst personalityType = body.personality_type || null;\nconst taskDescription = body.task_description;\nconst traitPercentages = body.trait_percentages || {};\nconst promptRunId = body.prompt_run_id;\n\n// Build trait information for context (only if personality type provided)\nlet traitInfo = '';\nif (personalityType && Object.keys(traitPercentages).length > 0) {\n  const traitLabels = {\n    mind: 'Mind (Introversion/Extraversion)',\n    energy: 'Energy (Intuitive/Observant)',\n    nature: 'Nature (Thinking/Feeling)',\n    tactics: 'Tactics (Judging/Prospecting)',\n    identity: 'Identity (Assertive/Turbulent)'\n  };\n\n  const formattedTraits = Object.entries(traitPercentages)\n    .map(([key, value]) => {\n      const label = traitLabels[key] || key;\n      return `  - ${label}: ${value}%`;\n    })\n    .join('\\n');\n\n  traitInfo = `\\nTrait Percentages:\\n${formattedTraits}`;\n}\n\nreturn {\n  prompt_run_id: promptRunId,\n  personality_type: personalityType,\n  has_personality: personalityType !== null,\n  task_description: taskDescription,\n  trait_percentages: traitPercentages,\n  trait_info: traitInfo\n};"
      },
      "id": "006c9726-e70a-4a27-9b0d-880a00442440",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load the Framework Selection Matrix\nconst frameworkMatrix = `# AI Prompt Framework Selection Matrix\n\n**Purpose**: Quick reference for selecting the optimal prompt engineering framework based on task type and personality.\n\n## Framework Categories Overview\n\n1. **Structured Clarity** - Precise, organised outputs (CRISPE, RELIC, RTF)\n2. **Iterative Refinement** - Progressive improvement (RACEF, Chain of Destiny)\n3. **Decision-Making** - Prioritisation and evaluation (RICE, SMART, COAST)\n4. **Reasoning & Analysis** - Logical problem-solving (Chain of Thought, Tree of Thought)\n5. **Persuasive & Marketing** - Influence and conversion (BAB, CAR-PAR-STAR)\n6. **Creative Exploration** - Ideation and innovation (SCAMPER, How Might We, What If)\n7. **Educational** - Learning and explanation (Bloom's Taxonomy, ELI5)\n8. **Customer-Focused** - User engagement (RACE, ERA, CARE)\n9. **Strategic Analysis** - Business and planning (3Cs, 4S, GOPA)\n10. **Structured Reasoning** - Systematic approaches (RISE, ROSES, PEE, SPEAR)\n\n## Framework Quick Reference\n\n| Framework | Best For | Personality Fit | Key Strength |\n|-----------|----------|----------------|--------------|\n| **CRISPE** | Technical docs, strategic planning | INTJ, ISTJ, ENTJ | Comprehensive structure |\n| **RELIC** | Content creation, customer interactions | ENFJ, ESFJ, INFJ | Goal-oriented with constraints |\n| **RTF** | Data retrieval, simple requests | ISTP, ESTP, ISTJ | Simple and efficient |\n| **RACEF** | Brainstorming, iterative problem-solving | ENTP, ENFP, INTP | Highly flexible |\n| **Chain of Destiny** | Complex projects requiring quality | INTJ, INFJ, INTP | Continuous improvement |\n| **RICE** | Feature prioritisation, product decisions | ENTJ, ESTJ, INTJ | Data-driven prioritisation |\n| **SMART** | Goal-setting, project planning | ESTJ, ISTJ, ENTJ | Clear, measurable goals |\n| **COAST** | Strategic problem-solving | ENTJ, INTJ, ENTP | Tactical breakdown |\n| **Chain of Thought** | Complex reasoning, multi-step problems | INTP, INTJ, INFJ | Transparent logic |\n| **Tree of Thought** | Complex decisions with multiple paths | INTJ, INTP, ENTP | Explores alternatives |\n| **BAB** | Marketing copy, persuasive content | ENFP, ESFP, ENTJ | Emotional transformation |\n| **SCAMPER** | Product innovation, brainstorming | ENTP, ENFP, INTP | Systematic creativity |\n| **How Might We** | Design thinking, innovation | ENFP, ENTP, INFP | Optimistic reframing |\n| **ELI5** | Simplification, accessibility | ENFP, ESFP, ENFJ | Clarity through simplicity |\n| **CARE** | Customer service, empathy | INFJ, ISFJ, ENFJ | Compassionate response |\n\n## Task Type Recommendations\n\n**Technical/Documentation**: CRISPE, RTF, RASCEF, CIDI\n**Strategic Planning**: COAST, SMART, GOPA, 3Cs, RICE\n**Creative/Brainstorming**: SCAMPER, How Might We, What If, Imagine, RISEN\n**Marketing/Persuasion**: BAB, TAG, APE, RACE, Challenge-Solution-Benefit\n**Analysis/Research**: Chain of Thought, PROMPT, TQA, PAUSE, Tree of Thought\n**Customer Engagement**: CARE, ERA, RACE, RELIC\n**Decision Making**: RICE, SMART, Pros & Cons, FOCUS, Six Thinking Hats\n**Educational**: Bloom's Taxonomy, ELI5, Socratic Method, Help Me Understand\n**Problem Solving**: COAST, SPAR, Challenge-Solution-Benefit, GOPA\n**Iterative Work**: RACEF, Chain of Destiny, SPEAR, ROSES\n\n## Selection Criteria\n\n1. **Task Complexity**: Simple \u2192 RTF, Zero-Shot | Complex \u2192 Chain of Thought, CRISPE, Atomic Prompting\n2. **Audience**: Technical \u2192 CRISPE, CIDI | General \u2192 ELI5, Help Me Understand | Marketing \u2192 BAB, TAG\n3. **Output Type**: Analysis \u2192 Chain of Thought, TQA | Content \u2192 BLOG, APE | Strategy \u2192 COAST, GOPA\n4. **Iteration Needs**: One-shot \u2192 GRADE, RTF | Iterative \u2192 RACEF, Chain of Destiny, SPEAR\n5. **Decision Focus**: Evaluation \u2192 RICE, Pros & Cons | Planning \u2192 SMART, COAST\n6. **Creativity Level**: Structured \u2192 CRISPE, SMART | Creative \u2192 SCAMPER, How Might We, Imagine\n7. **Personality Alignment**: Match framework strengths to personality preferences`;\n\n// Pass through the input data and add the framework matrix\nconst inputData = $input.first().json;\n\nreturn {\n  ...inputData,\n  framework_matrix: frameworkMatrix\n};"
      },
      "id": "6406f1c5-e811-4ca6-b023-3fe37b4bcea5",
      "name": "Load Framework Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the system prompt for framework selection\nconst inputData = $input.first().json;\nconst hasPersonality = inputData.has_personality;\n\nlet systemPrompt, userMessage;\n\nif (hasPersonality) {\n  // WITH PERSONALITY: Use personality-based approach\n  systemPrompt = `You are an expert in prompt engineering frameworks and personality-based communication.\n\nYour task is to:\n1. Analyse the user's task description and personality type\n2. INTERPRET TRAIT STRENGTH to understand the user's personality nuances:\n\n   **Trait Percentage Interpretation:**\n   - **50-60% (BALANCED)**: User exhibits behaviours from BOTH ends of this trait spectrum. They're flexible and can adapt between styles.\n     * Example: 55% Introversion - sometimes needs alone time, sometimes energised by others\n     * Example: 58% Thinking - can be analytical OR empathetic depending on context\n\n   - **61-75% (MODERATE)**: Clear preference for one side but can access the opposite when needed. Standard personality traits.\n     * Example: 70% Extraversion - prefers social interaction but can work independently\n     * Example: 68% Judging - likes structure but can be flexible when required\n\n   - **76-100% (STRONG)**: Very consistent and pronounced trait. User STRONGLY embodies this characteristic.\n     * Example: 92% Thinking - almost exclusively logical, struggles with emotional decisions\n     * Example: 88% Judging - extremely structured, dislikes ambiguity or changes\n\n   **How Trait Strength Affects Strategy Selection:**\n   - BALANCED traits (50-60%): User won't benefit from extreme optimisation. They can naturally bridge different styles. Consider hybrid approaches or frameworks that allow flexibility.\n   - MODERATE traits (61-75%): Standard AMPLIFY/COUNTERBALANCE strategies apply as designed.\n   - STRONG traits (76-100%):\n     * AMPLIFY becomes HIGHLY effective - lean heavily into their extreme strengths\n     * COUNTERBALANCE needs MORE explicit scaffolding and structure to work against their strong natural tendencies\n\n3. Determine task-personality alignment considering trait strength:\n   - Does the user's personality type have natural STRENGTHS that would help with this task?\n   - Or does the task require traits that are WEAKNESSES or challenges for this personality type?\n3. Decide the optimal personality approach strategy:\n   - **AMPLIFY**: If the user's personality strengths directly support the task requirements\n     (e.g., INTJ analysing complex data, ENFP brainstorming creative ideas, ISTJ creating detailed documentation)\n   - **COUNTERBALANCE**: If the user's personality weaknesses could undermine the task\n     (e.g., INTP writing persuasive marketing copy, ESTJ generating open-ended creative ideas, INFP making quick data-driven decisions)\n4. Select the SINGLE most appropriate prompt framework from the provided matrix\n5. Explain WHY this framework is optimal AND why you chose amplify or counterbalance (2-3 sentences)\n   - IMPORTANT: Use direct address - write to the user as \"you\" and \"your\" (e.g., \"your systematic nature\", \"your strengths\"), NOT third person (\"their nature\", \"the user's strengths\")\n6. Generate 3-5 clarifying questions tailored to the chosen strategy AND trait strength:\n   - If AMPLIFY: Ask questions that help leverage their natural strengths\n     * With STRONG traits (76-100%): Ask highly focused questions that assume their preferences (e.g., \"What analytical frameworks do you prefer?\" not \"Do you prefer data or intuition?\")\n     * With BALANCED traits (50-60%): Ask questions that explore different approaches (e.g., \"Would you like structured analysis, intuitive exploration, or a balanced mix?\")\n   - If COUNTERBALANCE: Ask questions that provide structure and compensate for potential blind spots\n     * With STRONG traits (76-100%): Ask more prescriptive questions that create explicit scaffolding\n     * With BALANCED traits (50-60%): Ask gentler questions as they're naturally flexible\n   - If AMPLIFY: Ask questions that help leverage their natural strengths\n   - If COUNTERBALANCE: Ask questions that provide structure and compensate for potential blind spots\n\n**CRITICAL REQUIREMENT - READ CAREFULLY:**\nFor ANY task involving purchasing, buying, or acquiring something (car, house, product, service, etc.), you MUST include these THREE questions without exception:\n1. A question about BUDGET or price range\n2. A question about LOCATION or country/region\n3. A question about TIMELINE for the purchase\n\nBEFORE generating questions, FIRST determine the task category:\n\n**Task Type Analysis:**\n- Purchase/Buying Decision (car, house, product, service): MUST ask budget + location/country + timeline\n- Planning/Project Management: MUST ask about deadline, stakeholders, success metrics\n- Learning/Skill Development: MUST ask about current knowledge level, available time, learning goals\n- Creative/Content Creation: MUST ask about target audience, purpose, constraints\n- Problem-Solving: MUST ask about current situation, attempted solutions, desired outcome\n- Decision-Making: MUST ask about criteria, constraints, stakeholders affected\n\n**Few-Shot Examples:**\n\nEXAMPLE 1 - Good (Purchase Task: \"I want to buy a car\"):\n\u2713 \"What is your budget range for this car purchase?\"\n\u2713 \"Which country/region will you be purchasing and driving the car in?\"\n\u2713 \"What is your timeline for making this purchase?\"\n\u2713 \"What are your primary use cases (daily commute, family transport, long-distance travel)?\"\n\nEXAMPLE 2 - Bad (Purchase Task: \"I want to buy a car\"):\n\u2717 \"What features are important to you?\" (Too vague, doesn't capture critical context)\n\u2717 \"Have you owned a car before?\" (Not directly relevant to the current decision)\n\u2717 \"What colour do you prefer?\" (Superficial detail, not strategic)\n\nEXAMPLE 3 - Good (Planning Task: \"Create a marketing campaign\"):\n\u2713 \"What is your campaign budget?\"\n\u2713 \"Who is your target audience (demographics, psychographics)?\"\n\u2713 \"What is your campaign timeline and key milestones?\"\n\u2713 \"What are your primary success metrics (conversions, brand awareness, engagement)?\"\n\nThe questions should:\n- Be specific to the chosen framework's requirements\n- MANDATORY: Include critical contextual questions based on task type (see analysis above)\n- Be tailored to both the personality type AND the chosen strategy\n- Build upon each other logically\n- Be answerable in 1-3 sentences each\n- Cover fundamental constraints FIRST (budget, location, timeline) before details\n\n**Self-Validation:**\nAfter generating questions, verify: \"Have I asked about the critical contextual factors for this task type? Am I missing budget, location, timeline, or other fundamental constraints?\"\n\nYou MUST respond ONLY with valid JSON in this exact format:\n{\n  \"selected_framework\": \"Framework Name\",\n  \"personality_approach\": \"amplify\" or \"counterbalance\",\n  \"reasoning\": \"2-3 sentence explanation of why this framework is optimal AND why you chose amplify or counterbalance\",\n  \"questions\": [\n    \"Question 1 text?\",\n    \"Question 2 text?\",\n    \"Question 3 text?\"\n  ]\n}\n\nDo not include any text outside the JSON object. The questions array must contain 3-5 questions.`;\n\n  userMessage = `Framework Selection Matrix:\n\n${inputData.framework_matrix}\n\n---\n\nPersonality Type: ${inputData.personality_type}${inputData.trait_info}\n\nTask Description:\n${inputData.task_description}\n\n---\n\nBased on the above information, select the optimal framework and generate clarifying questions.`;\n\n} else {\n  // WITHOUT PERSONALITY: Use task-based approach only\n  systemPrompt = `You are an expert in prompt engineering frameworks.\n\nYour task is to:\n1. Analyse the user's task description\n2. Select the SINGLE most appropriate prompt framework from the provided matrix based on:\n   - Task complexity\n   - Output requirements\n   - Task type and objectives\n3. Explain WHY this framework is optimal for this specific task (2-3 sentences)\n   - IMPORTANT: Use direct address - write to the user as \"you\" and \"your\" (e.g., \"your task\", \"your goals\"), NOT third person (\"their task\", \"the user's goals\")\n4. Generate 3-5 clarifying questions that:\n   - Help gather missing context or details specific to the framework\n   - Build upon each other logically\n   - Are answerable in 1-3 sentences each\n   - Help structure the user's thinking about their task\n\n   Note: Since no personality information is available, focus questions purely on task requirements, constraints, and desired outcomes.\n\n**CRITICAL REQUIREMENT - READ CAREFULLY:**\nFor ANY task involving purchasing, buying, or acquiring something (car, house, product, service, etc.), you MUST include these THREE questions without exception:\n1. A question about BUDGET or price range\n2. A question about LOCATION or country/region\n3. A question about TIMELINE for the purchase\n\nBEFORE generating questions, FIRST determine the task category:\n\n**Task Type Analysis:**\n- Purchase/Buying Decision (car, house, product, service): MUST ask budget + location/country + timeline\n- Planning/Project Management: MUST ask about deadline, stakeholders, success metrics\n- Learning/Skill Development: MUST ask about current knowledge level, available time, learning goals\n- Creative/Content Creation: MUST ask about target audience, purpose, constraints\n- Problem-Solving: MUST ask about current situation, attempted solutions, desired outcome\n- Decision-Making: MUST ask about criteria, constraints, stakeholders affected\n\n**Few-Shot Examples:**\n\nEXAMPLE 1 - Good (Purchase Task: \"I want to buy a car\"):\n\u2713 \"What is your budget range for this car purchase?\"\n\u2713 \"Which country/region will you be purchasing and driving the car in?\"\n\u2713 \"What is your timeline for making this purchase?\"\n\u2713 \"What are your primary use cases (daily commute, family transport, long-distance travel)?\"\n\nEXAMPLE 2 - Bad (Purchase Task: \"I want to buy a car\"):\n\u2717 \"What features are important to you?\" (Too vague, doesn't capture critical context)\n\u2717 \"Have you owned a car before?\" (Not directly relevant to the current decision)\n\u2717 \"What colour do you prefer?\" (Superficial detail, not strategic)\n\nEXAMPLE 3 - Good (Planning Task: \"Create a marketing campaign\"):\n\u2713 \"What is your campaign budget?\"\n\u2713 \"Who is your target audience (demographics, psychographics)?\"\n\u2713 \"What is your campaign timeline and key milestones?\"\n\u2713 \"What are your primary success metrics (conversions, brand awareness, engagement)?\"\n\nThe questions MUST:\n- Cover fundamental constraints FIRST (budget, location, timeline) before details\n- Include critical contextual questions based on task type (see analysis above)\n- Be specific to the chosen framework's requirements\n\n**Self-Validation:**\nAfter generating questions, verify: \"Have I asked about the critical contextual factors for this task type? Am I missing budget, location, timeline, or other fundamental constraints?\"\n\nYou MUST respond ONLY with valid JSON in this exact format:\n{\n  \"selected_framework\": \"Framework Name\",\n  \"reasoning\": \"2-3 sentence explanation of why this framework is optimal for this task\",\n  \"questions\": [\n    \"Question 1 text?\",\n    \"Question 2 text?\",\n    \"Question 3 text?\"\n  ]\n}\n\nDo not include any text outside the JSON object. The questions array must contain 3-5 questions.\nDo NOT include a \"personality_approach\" field since no personality type was provided.`;\n\n  userMessage = `Framework Selection Matrix:\n\n${inputData.framework_matrix}\n\n---\n\nTask Description:\n${inputData.task_description}\n\n---\n\nBased on the above information, select the optimal framework and generate clarifying questions.`;\n}\n\nreturn {\n  prompt_run_id: inputData.prompt_run_id,\n  personality_type: inputData.personality_type,\n  has_personality: hasPersonality,\n  task_description: inputData.task_description,\n  system_prompt: systemPrompt,\n  user_message: userMessage\n};\n\n"
      },
      "id": "38fe388e-417b-4002-8edc-5c7c7051d861",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-haiku-20241022\",\n  \"max_tokens\": 2000,\n  \"temperature\": 0.7,\n  \"system\": {{ JSON.stringify($json.system_prompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify($json.user_message) }}\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "083508dd-fe96-4cb4-9f9b-61f782dea684",
      "name": "Call Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1392,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5u3Dji2E1ZKRUSRX",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true,
      "notes": "Uses Claude Haiku for cost-efficient framework selection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-status-code",
              "leftValue": "={{$json[\"statusCode\"].toString() }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e048d1a-2547-46a0-afbb-165897a25df4",
      "name": "Check Response Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle API error response\nconst item = $input.first();\nconst response = item.json;\nconst webhookData = $node[\"Build LLM Prompt\"].json;\n\nlet errorMessage = 'API call failed';\nlet errorDetails = {};\n\n// Check if this is an n8n error (when continueOnFail is true)\nif (response.errorMessage) {\n  // n8n error format\n  errorMessage = response.errorMessage || 'Unknown error';\n  \n  // Add description if available\n  if (response.errorDescription) {\n    errorDetails.description = response.errorDescription;\n    // Use description as main error message if more specific\n    if (response.errorDescription !== errorMessage) {\n      errorMessage = response.errorDescription;\n    }\n  }\n  \n  // Extract error details\n  if (response.errorDetails) {\n    // HTTP code\n    if (response.errorDetails.httpCode) {\n      errorDetails.http_code = response.errorDetails.httpCode;\n    }\n    \n    // Raw error message (contains the actual API response)\n    if (response.errorDetails.rawErrorMessage && response.errorDetails.rawErrorMessage.length > 0) {\n      const rawError = response.errorDetails.rawErrorMessage[0];\n      \n      // Try to parse if it's a JSON string\n      const match = rawError.match(/\\{.*\\}/);\n      if (match) {\n        try {\n          const parsed = JSON.parse(match[0].replace(/\\\\/g, ''));\n          if (parsed.error) {\n            if (parsed.error.type) {\n              errorDetails.error_type = parsed.error.type;\n            }\n            if (parsed.error.message) {\n              errorDetails.api_message = parsed.error.message;\n              // Use API message as main error if more specific\n              if (parsed.error.message !== errorMessage) {\n                errorMessage = parsed.error.message;\n              }\n            }\n          }\n        } catch (e) {\n          // If parsing fails, just store the raw message\n          errorDetails.raw_error = rawError;\n        }\n      }\n    }\n  }\n  \n  // Add n8n-specific details for debugging\n  if (response.n8nDetails) {\n    errorDetails.node_name = response.n8nDetails.nodeName;\n    errorDetails.time = response.n8nDetails.time;\n  }\n} else if (response.statusCode && response.statusCode !== 200) {\n  // HTTP error (non-200 status) without n8n error wrapper\n  errorDetails.status_code = response.statusCode;\n  \n  if (response.statusMessage) {\n    errorDetails.status_message = response.statusMessage;\n  }\n  \n  // Try to get error from response body\n  if (response.body && response.body.error) {\n    errorMessage = response.body.error.message || response.body.error.type || errorMessage;\n    errorDetails.error_type = response.body.error.type;\n  }\n}\n\nreturn {\n  prompt_run_id: webhookData.prompt_run_id,\n  success: false,\n  error: errorMessage,\n  details: errorDetails\n};"
      },
      "id": "38321a75-4766-4889-805e-72afa97fba8b",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "0bc86302-c53a-4137-8ef8-d7440e7710d2",
      "name": "Respond with Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2064,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON response from Claude\nconst items = $input.all();\nconst response = items[0].json;\n\nlet selectedFramework = '';\nlet personalityApproach = null;  // Can be null if no personality type provided\nlet reasoning = '';\nlet questions = [];\n\n// Extract text from Anthropic response\nif (response.body.content && response.body.content[0]?.text) {\n  const responseText = response.body.content[0].text.trim();\n  \n  try {\n    // Parse JSON response\n    const parsed = JSON.parse(responseText);\n    \n    selectedFramework = parsed.selected_framework || '';\n    personalityApproach = parsed.personality_approach || null;  // Optional field\n    reasoning = parsed.reasoning || '';\n    questions = parsed.questions || [];\n    \n    // Validate we have required fields\n    if (!selectedFramework || !reasoning || questions.length < 3 || questions.length > 5) {\n      throw new Error('Invalid response structure: missing required fields or incorrect question count (must be 3-5)');\n    }\n    \n    // Get the original data to check if personality was provided\n    const webhookData = $node[\"Build LLM Prompt\"].json;\n    const hasPersonality = webhookData.has_personality;\n    \n    // Validate personality_approach if personality was provided\n    if (hasPersonality) {\n      if (!personalityApproach) {\n        throw new Error('personality_approach is required when personality_type is provided');\n      }\n      if (personalityApproach !== 'amplify' && personalityApproach !== 'counterbalance') {\n        throw new Error(`Invalid personality_approach value: ${personalityApproach}. Must be 'amplify' or 'counterbalance'`);\n      }\n    } else {\n      // Without personality, personality_approach should be null\n      if (personalityApproach) {\n        console.log('Warning: personality_approach provided but no personality_type. Ignoring personality_approach.');\n        personalityApproach = null;\n      }\n    }\n    \n  } catch (error) {\n    throw new Error(`Failed to parse LLM response: ${error.message}. Response was: ${responseText}`);\n  }\n} else {\n  throw new Error('Invalid response format from LLM');\n}\n\n// Get the original data\nconst webhookData = $node[\"Build LLM Prompt\"].json;\n\nreturn {\n  prompt_run_id: webhookData.prompt_run_id,\n  selected_framework: selectedFramework,\n  personality_approach: personalityApproach,  // Can be null\n  framework_reasoning: reasoning,\n  framework_questions: questions,\n  model_used: response.body.model || 'claude-3-5-haiku-20241022',\n  tokens_used: {\n    input: response.body.usage?.input_tokens || 0,\n    output: response.body.usage?.output_tokens || 0,\n    total: (response.body.usage?.input_tokens || 0) + (response.body.usage?.output_tokens || 0)\n  }\n};"
      },
      "id": "86c9a8c9-d606-461a-b786-e786146c9962",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "edbaf6ba-aa3d-4eb7-82de-9d11251593d3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2064,
        288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "e204b2ca-4b2a-4c7a-922f-b0960f2045a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cd6ad45-b343-42cc-84d6-4b0307311547",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failure"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1616,
        384
      ],
      "id": "184be06a-0f42-414b-b323-cb9f2fbda0d5",
      "name": "Check response"
    }
  ],
  "pinData": {
    "Call Claude Haiku": [
      {
        "json": {
          "body": {
            "model": "claude-3-5-haiku-20241022",
            "id": "msg_01BgD3R2j4D7PiEZCSddD5WP",
            "type": "message",
            "role": "assistant",
            "content": [
              {
                "type": "text",
                "text": "{\n  \"selected_framework\": \"RACEF\",\n  \"reasoning\": \"For an INTP working on feature brainstorming, RACEF is ideal as it provides a highly flexible, iterative approach to exploring multiple potential solutions. This framework aligns perfectly with the INTP's natural tendency for expansive, analytical thinking and comprehensive exploration of possibilities.\",\n  \"questions\": [\n    \"What specific user problems or pain points are you hoping to solve with this meal planner app's features?\",\n    \"Are there any existing meal planning apps or services that you find particularly inspiring or lacking in certain areas?\",\n    \"What are the primary target user segments for this app (e.g., busy professionals, fitness enthusiasts, families, budget-conscious individuals)?\",\n    \"What technical constraints or platform limitations should we consider when brainstorming features?\",\n    \"Would you prefer the brainstorming to focus more on functional features, user experience innovations, or a balanced approach?\"\n  ]\n}"
              }
            ],
            "stop_reason": "end_turn",
            "stop_sequence": null,
            "usage": {
              "input_tokens": 1655,
              "cache_creation_input_tokens": 0,
              "cache_read_input_tokens": 0,
              "cache_creation": {
                "ephemeral_5m_input_tokens": 0,
                "ephemeral_1h_input_tokens": 0
              },
              "output_tokens": 221,
              "service_tier": "standard"
            }
          },
          "headers": {
            "date": "Thu, 06 Nov 2025 13:34:46 GMT",
            "content-type": "application/json",
            "transfer-encoding": "chunked",
            "connection": "close",
            "anthropic-ratelimit-input-tokens-limit": "50000",
            "anthropic-ratelimit-input-tokens-remaining": "49000",
            "anthropic-ratelimit-input-tokens-reset": "2025-11-06T13:34:43Z",
            "anthropic-ratelimit-output-tokens-limit": "10000",
            "anthropic-ratelimit-output-tokens-remaining": "10000",
            "anthropic-ratelimit-output-tokens-reset": "2025-11-06T13:34:47Z",
            "anthropic-ratelimit-requests-limit": "50",
            "anthropic-ratelimit-requests-remaining": "49",
            "anthropic-ratelimit-requests-reset": "2025-11-06T13:34:42Z",
            "retry-after": "18",
            "anthropic-ratelimit-tokens-limit": "60000",
            "anthropic-ratelimit-tokens-remaining": "59000",
            "anthropic-ratelimit-tokens-reset": "2025-11-06T13:34:43Z",
            "request-id": "req_011CUrit7r5ynwi7CSKCVx8h",
            "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
            "anthropic-organization-id": "f48f4b14-5781-4652-8a74-847e6d27356e",
            "x-envoy-upstream-service-time": "5350",
            "cf-cache-status": "DYNAMIC",
            "x-robots-tag": "none",
            "server": "cloudflare",
            "cf-ray": "99a4f843a9562534-LHR"
          },
          "statusCode": 200,
          "statusMessage": "OK"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "user-agent": "GuzzleHttp/7",
            "content-type": "application/json",
            "authorization": "Basic YWRtaW46cGFzc3dvcmQ=",
            "content-length": "242"
          },
          "params": {},
          "query": {},
          "body": {
            "prompt_run_id": 9,
            "personality_type": "INTP-A",
            "trait_percentages": {
              "mind": null,
              "energy": null,
              "nature": null,
              "tactics": null,
              "identity": null
            },
            "task_description": "I want to brainstorm all potential features for a meal planner app. Be thorough."
          },
          "webhookUrl": "https://n8n.localhost/webhook/framework-selector",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Load Framework Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Framework Matrix": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Haiku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Haiku": {
      "main": [
        [
          {
            "node": "Check response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check response": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5dcb547e-7b14-45dd-90e5-1f87d3518a14",
  "meta": {
    "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
  },
  "id": "bfMRMEHRhwxbr6V9",
  "tags": []
}