n8n/Framework Selector.json
{
  "name": "Framework Selector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "framework-selector",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b6ef40cb-ca5a-43bd-bad7-5401f37e9ad9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "framework-selector-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract input from webhook\nconst items = $input.all();\nconst body = items[0].json.body;\n\n// Validate required fields\nif (!body.personality_type) {\n  throw new Error('Missing personality_type');\n}\nif (!body.task_description) {\n  throw new Error('Missing task_description');\n}\nif (!body.prompt_run_id) {\n  throw new Error('Missing prompt_run_id');\n}\n\n// Extract data\nconst personalityType = body.personality_type;\nconst taskDescription = body.task_description;\nconst traitPercentages = body.trait_percentages || {};\nconst promptRunId = body.prompt_run_id;\n\n// Build trait information for context\nlet traitInfo = '';\nif (Object.keys(traitPercentages).length > 0) {\n  const traitLabels = {\n    mind: 'Mind (Introversion/Extraversion)',\n    energy: 'Energy (Intuitive/Observant)',\n    nature: 'Nature (Thinking/Feeling)',\n    tactics: 'Tactics (Judging/Prospecting)',\n    identity: 'Identity (Assertive/Turbulent)'\n  };\n\n  const formattedTraits = Object.entries(traitPercentages)\n    .map(([key, value]) => {\n      const label = traitLabels[key] || key;\n      return `  - ${label}: ${value}%`;\n    })\n    .join('\\n');\n\n  traitInfo = `\\nTrait Percentages:\\n${formattedTraits}`;\n}\n\nreturn {\n  prompt_run_id: promptRunId,\n  personality_type: personalityType,\n  task_description: taskDescription,\n  trait_percentages: traitPercentages,\n  trait_info: traitInfo\n};"
      },
      "id": "5ce74687-3063-4d01-ab76-c2533cca5b4c",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load the Framework Selection Matrix\nconst frameworkMatrix = `# AI Prompt Framework Selection Matrix\n\n**Purpose**: Quick reference for selecting the optimal prompt engineering framework based on task type and personality.\n\n## Framework Categories Overview\n\n1. **Structured Clarity** - Precise, organised outputs (CRISPE, RELIC, RTF)\n2. **Iterative Refinement** - Progressive improvement (RACEF, Chain of Destiny)\n3. **Decision-Making** - Prioritisation and evaluation (RICE, SMART, COAST)\n4. **Reasoning & Analysis** - Logical problem-solving (Chain of Thought, Tree of Thought)\n5. **Persuasive & Marketing** - Influence and conversion (BAB, CAR-PAR-STAR)\n6. **Creative Exploration** - Ideation and innovation (SCAMPER, How Might We, What If)\n7. **Educational** - Learning and explanation (Bloom's Taxonomy, ELI5)\n8. **Customer-Focused** - User engagement (RACE, ERA, CARE)\n9. **Strategic Analysis** - Business and planning (3Cs, 4S, GOPA)\n10. **Structured Reasoning** - Systematic approaches (RISE, ROSES, PEE, SPEAR)\n\n## Framework Quick Reference\n\n| Framework | Best For | Personality Fit | Key Strength |\n|-----------|----------|----------------|--------------|\n| **CRISPE** | Technical docs, strategic planning | INTJ, ISTJ, ENTJ | Comprehensive structure |\n| **RELIC** | Content creation, customer interactions | ENFJ, ESFJ, INFJ | Goal-oriented with constraints |\n| **RTF** | Data retrieval, simple requests | ISTP, ESTP, ISTJ | Simple and efficient |\n| **RACEF** | Brainstorming, iterative problem-solving | ENTP, ENFP, INTP | Highly flexible |\n| **Chain of Destiny** | Complex projects requiring quality | INTJ, INFJ, INTP | Continuous improvement |\n| **RICE** | Feature prioritisation, product decisions | ENTJ, ESTJ, INTJ | Data-driven prioritisation |\n| **SMART** | Goal-setting, project planning | ESTJ, ISTJ, ENTJ | Clear, measurable goals |\n| **COAST** | Strategic problem-solving | ENTJ, INTJ, ENTP | Tactical breakdown |\n| **Chain of Thought** | Complex reasoning, multi-step problems | INTP, INTJ, INFJ | Transparent logic |\n| **Tree of Thought** | Complex decisions with multiple paths | INTJ, INTP, ENTP | Explores alternatives |\n| **BAB** | Marketing copy, persuasive content | ENFP, ESFP, ENTJ | Emotional transformation |\n| **SCAMPER** | Product innovation, brainstorming | ENTP, ENFP, INTP | Systematic creativity |\n| **How Might We** | Design thinking, innovation | ENFP, ENTP, INFP | Optimistic reframing |\n| **ELI5** | Simplification, accessibility | ENFP, ESFP, ENFJ | Clarity through simplicity |\n| **CARE** | Customer service, empathy | INFJ, ISFJ, ENFJ | Compassionate response |\n\n## Task Type Recommendations\n\n**Technical/Documentation**: CRISPE, RTF, RASCEF, CIDI\n**Strategic Planning**: COAST, SMART, GOPA, 3Cs, RICE\n**Creative/Brainstorming**: SCAMPER, How Might We, What If, Imagine, RISEN\n**Marketing/Persuasion**: BAB, TAG, APE, RACE, Challenge-Solution-Benefit\n**Analysis/Research**: Chain of Thought, PROMPT, TQA, PAUSE, Tree of Thought\n**Customer Engagement**: CARE, ERA, RACE, RELIC\n**Decision Making**: RICE, SMART, Pros & Cons, FOCUS, Six Thinking Hats\n**Educational**: Bloom's Taxonomy, ELI5, Socratic Method, Help Me Understand\n**Problem Solving**: COAST, SPAR, Challenge-Solution-Benefit, GOPA\n**Iterative Work**: RACEF, Chain of Destiny, SPEAR, ROSES\n\n## Selection Criteria\n\n1. **Task Complexity**: Simple → RTF, Zero-Shot | Complex → Chain of Thought, CRISPE, Atomic Prompting\n2. **Audience**: Technical → CRISPE, CIDI | General → ELI5, Help Me Understand | Marketing → BAB, TAG\n3. **Output Type**: Analysis → Chain of Thought, TQA | Content → BLOG, APE | Strategy → COAST, GOPA\n4. **Iteration Needs**: One-shot → GRADE, RTF | Iterative → RACEF, Chain of Destiny, SPEAR\n5. **Decision Focus**: Evaluation → RICE, Pros & Cons | Planning → SMART, COAST\n6. **Creativity Level**: Structured → CRISPE, SMART | Creative → SCAMPER, How Might We, Imagine\n7. **Personality Alignment**: Match framework strengths to personality preferences`;\n\n// Pass through the input data and add the framework matrix\nconst inputData = $input.first().json;\n\nreturn {\n  ...inputData,\n  framework_matrix: frameworkMatrix\n};"
      },
      "id": "e4495b2a-9b86-4d4c-823d-0fdb1ccc6ecc",
      "name": "Load Framework Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the system prompt for framework selection\nconst systemPrompt = `You are an expert in prompt engineering frameworks and personality-based communication.\n\nYour task is to:\n1. Analyse the user's task description and personality type\n2. Select the SINGLE most appropriate prompt framework from the provided matrix\n3. Explain WHY this framework is optimal (2-3 sentences)\n4. Generate 3-5 clarifying questions that will help create the best possible prompt\n\nThe questions should:\n- Be specific to the chosen framework's requirements\n- Help gather missing context or details\n- Be tailored to the user's personality type\n- Build upon each other logically\n- Be answerable in 1-3 sentences each\n\nYou MUST respond ONLY with valid JSON in this exact format:\n{\n  \"selected_framework\": \"Framework Name\",\n  \"reasoning\": \"2-3 sentence explanation of why this framework is optimal\",\n  \"questions\": [\n    \"Question 1 text?\",\n    \"Question 2 text?\",\n    \"Question 3 text?\"\n  ]\n}\n\nDo not include any text outside the JSON object. The questions array must contain 3-5 questions.`;\n\n// Build the user message\nconst inputData = $input.first().json;\n\nconst userMessage = `Framework Selection Matrix:\n\n${inputData.framework_matrix}\n\n---\n\nPersonality Type: ${inputData.personality_type}${inputData.trait_info}\n\nTask Description:\n${inputData.task_description}\n\n---\n\nBased on the above information, select the optimal framework and generate clarifying questions.`;\n\nreturn {\n  prompt_run_id: inputData.prompt_run_id,\n  personality_type: inputData.personality_type,\n  task_description: inputData.task_description,\n  system_prompt: systemPrompt,\n  user_message: userMessage\n};"
      },
      "id": "07d3a0c1-138e-4fc5-ab3e-c206c3d4cdd3",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-haiku-20241022\",\n  \"max_tokens\": 2000,\n  \"temperature\": 0.7,\n  \"system\": {{ JSON.stringify($json.system_prompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify($json.user_message) }}\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "continueOnFail": true,
      "id": "88067ad2-9482-4436-8501-5b01e4d0cb9d",
      "name": "Call Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5u3Dji2E1ZKRUSRX",
          "name": "Header Auth account"
        }
      },
      "notes": "Uses Claude Haiku for cost-efficient framework selection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-status-code",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8b3c4d5-e6f7-8901-2345-6789abcdef01",
      "name": "Check Response Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle API error response\nconst item = $input.first();\nconst response = item.json;\nconst webhookData = $node[\"Build LLM Prompt\"].json;\n\nlet errorMessage = 'API call failed';\nlet errorDetails = {};\n\n// Check if this is an n8n error (when continueOnFail is true)\nif (response.errorMessage) {\n  // n8n error format\n  errorMessage = response.errorMessage || 'Unknown error';\n  \n  // Add description if available\n  if (response.errorDescription) {\n    errorDetails.description = response.errorDescription;\n    // Use description as main error message if more specific\n    if (response.errorDescription !== errorMessage) {\n      errorMessage = response.errorDescription;\n    }\n  }\n  \n  // Extract error details\n  if (response.errorDetails) {\n    // HTTP code\n    if (response.errorDetails.httpCode) {\n      errorDetails.http_code = response.errorDetails.httpCode;\n    }\n    \n    // Raw error message (contains the actual API response)\n    if (response.errorDetails.rawErrorMessage && response.errorDetails.rawErrorMessage.length > 0) {\n      const rawError = response.errorDetails.rawErrorMessage[0];\n      \n      // Try to parse if it's a JSON string\n      const match = rawError.match(/\\{.*\\}/);\n      if (match) {\n        try {\n          const parsed = JSON.parse(match[0].replace(/\\\\/g, ''));\n          if (parsed.error) {\n            if (parsed.error.type) {\n              errorDetails.error_type = parsed.error.type;\n            }\n            if (parsed.error.message) {\n              errorDetails.api_message = parsed.error.message;\n              // Use API message as main error if more specific\n              if (parsed.error.message !== errorMessage) {\n                errorMessage = parsed.error.message;\n              }\n            }\n          }\n        } catch (e) {\n          // If parsing fails, just store the raw message\n          errorDetails.raw_error = rawError;\n        }\n      }\n    }\n  }\n  \n  // Add n8n-specific details for debugging\n  if (response.n8nDetails) {\n    errorDetails.node_name = response.n8nDetails.nodeName;\n    errorDetails.time = response.n8nDetails.time;\n  }\n} else if (response.statusCode && response.statusCode !== 200) {\n  // HTTP error (non-200 status) without n8n error wrapper\n  errorDetails.status_code = response.statusCode;\n  \n  if (response.statusMessage) {\n    errorDetails.status_message = response.statusMessage;\n  }\n  \n  // Try to get error from response body\n  if (response.body && response.body.error) {\n    errorMessage = response.body.error.message || response.body.error.type || errorMessage;\n    errorDetails.error_type = response.body.error.type;\n  }\n}\n\nreturn {\n  prompt_run_id: webhookData.prompt_run_id,\n  success: false,\n  error: errorMessage,\n  details: errorDetails\n};"
      },
      "id": "b9c8d7e6-f5a4-3210-9876-fedcba987654",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
      "name": "Respond with Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1552,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON response from Claude\nconst items = $input.all();\nconst response = items[0].json;\n\nlet selectedFramework = '';\nlet reasoning = '';\nlet questions = [];\n\n// Extract text from Anthropic response\nif (response.content && response.content[0]?.text) {\n  const responseText = response.content[0].text.trim();\n  \n  try {\n    // Parse JSON response\n    const parsed = JSON.parse(responseText);\n    \n    selectedFramework = parsed.selected_framework || '';\n    reasoning = parsed.reasoning || '';\n    questions = parsed.questions || [];\n    \n    // Validate we have all required fields\n    if (!selectedFramework || !reasoning || questions.length < 3 || questions.length > 5) {\n      throw new Error('Invalid response structure: missing fields or incorrect question count');\n    }\n  } catch (error) {\n    throw new Error(`Failed to parse LLM response: ${error.message}. Response was: ${responseText}`);\n  }\n} else {\n  throw new Error('Invalid response format from LLM');\n}\n\n// Get the original data\nconst webhookData = $node[\"Build LLM Prompt\"].json;\n\nreturn {\n  prompt_run_id: webhookData.prompt_run_id,\n  selected_framework: selectedFramework,\n  framework_reasoning: reasoning,\n  framework_questions: questions,\n  model_used: response.model || 'claude-3-5-haiku-20241022',\n  tokens_used: {\n    input: response.usage?.input_tokens || 0,\n    output: response.usage?.output_tokens || 0,\n    total: (response.usage?.input_tokens || 0) + (response.usage?.output_tokens || 0)\n  }\n};"
      },
      "id": "2637b6d1-7cf7-4d00-a53b-2ad4d7f705b6",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a2d7fc6f-474a-44ce-acf1-db751cae4149",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Load Framework Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Framework Matrix": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Haiku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Haiku": {
      "main": [
        [
          {
            "node": "Check Response Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response Status": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ea5f037-bc4a-47d8-acbc-94b6ac637101",
  "meta": {
    "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
  },
  "id": "bfMRMEHRhwxbr6V9",
  "tags": []
}