n8n/Prompt Framework - Prompt Generation.json
{
  "name": "Prompt Framework - Prompt Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/n8n/webhook/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b7f39817-ba7e-4e2d-8e7f-065058adace7",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        128
      ],
      "webhookId": "prompt-generation-webhook"
    },
    {
      "parameters": {
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/prompt-templates",
        "options": {}
      },
      "id": "2312447b-2393-407a-bb2f-704d59b12ab2",
      "name": "Fetch Prompt Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/personality-calibration",
        "options": {}
      },
      "id": "1ee645fc-078e-455b-94f4-c9c0892a1d7b",
      "name": "Fetch Personality Calibration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook Trigger').first().json.body || {};\nconst promptTemplates = $('Fetch Prompt Templates').first().json.content;\nconst personalityCalibration = $('Fetch Personality Calibration').first().json.content;\n\nreturn [{\n  json: {\n    workflow1_data: {\n      task_classification: body.task_classification,\n      selected_framework: body.selected_framework,\n      alternative_frameworks: body.alternative_frameworks || [],\n      personality_tier: body.personality_tier,\n      personality_adjustments_preview: body.personality_adjustments_preview || [],\n    },\n    user_input: {\n      task_description: body.original_task_description,\n      personality_type: body.personality_type || null,\n      trait_percentages: body.trait_percentages || null,\n    },\n    question_answers: body.question_answers,\n    reference_docs: {\n      prompt_templates: promptTemplates,\n      personality_calibration: personalityCalibration,\n    },\n  },\n}];"
      },
      "id": "f5198784-c72c-461d-bc2d-8868f0589db6",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-3-7-sonnet-20250219',\n  max_tokens: 8192,\n  temperature: 0.3,\n  system: `You are an expert prompt engineering assistant. Your task is to construct an optimised prompt using the selected framework, incorporating the user's answers to clarifying questions, and applying appropriate personality-based adjustments.\\n\\nYou have access to two reference documents:\\n\\n## PROMPT TEMPLATES\\n${$json.reference_docs.prompt_templates}\\n\\n## PERSONALITY CALIBRATION\\n${$json.reference_docs.personality_calibration}\\n\\n---\\n\\n## YOUR TASK\\n\\n1. **Construct the optimised prompt** using the selected framework's template structure\\n2. **Incorporate all user information** from their task description and question answers\\n3. **Apply personality adjustments** to language, structure, and format (if personality data exists)\\n4. **Generate model recommendations** based on task type and requirements\\n5. **Provide iteration suggestions** for refining the prompt if needed\\n\\n## IMPORTANT RULES\\n\\n- The optimised prompt should be COMPLETE and ready for copy/paste into an AI model\\n- If personality_tier is \"none\", use neutral language and skip personality adjustments\\n- Include ALL relevant information from the user's answers\\n- Make the prompt specific, not generic\\n- Ensure constraints are clearly stated\\n- The prompt should be self-contained (the AI receiving it shouldn't need additional context)\\n\\n## OUTPUT FORMAT\\n\\nYou MUST respond with valid JSON in exactly this structure:\\n\\n{\\n  \"optimised_prompt\": \"The complete prompt text, ready for copy/paste. Use \\\\n for line breaks within the prompt.\",\\n  \"metadata\": {\\n    \"framework_used\": {\\n      \"name\": \"Framework Name\",\\n      \"code\": \"FRAMEWORK_CODE\",\\n      \"components\": [\"Component1\", \"Component2\"],\\n      \"explanation\": \"Why this framework was selected and how it was applied\"\\n    },\\n    \"personality_adjustments\": [\\n      {\\n        \"trait\": \"Trait description (e.g., High Thinking 84%)\",\\n        \"adjustment\": \"What was adjusted based on this trait\"\\n      }\\n    ],\\n    \"model_recommendations\": [\\n      {\\n        \"rank\": 1,\\n        \"model\": \"Model Display Name\",\\n        \"model_id\": \"model-api-identifier\",\\n        \"rationale\": \"Why this model is recommended\"\\n      },\\n      {\\n        \"rank\": 2,\\n        \"model\": \"Second Choice\",\\n        \"model_id\": \"model-api-identifier\",\\n        \"rationale\": \"Why this is the second choice\"\\n      },\\n      {\\n        \"rank\": 3,\\n        \"model\": \"Budget Option\",\\n        \"model_id\": \"model-api-identifier\",\\n        \"rationale\": \"Cost-effective alternative\"\\n      }\\n    ],\\n    \"iteration_suggestions\": [\\n      \"Suggestion for refining if output isn't quite right\",\\n      \"Another suggestion for a different angle\"\\n    ]\\n  }\\n}\\n\\nDo not include any text outside the JSON structure. Do not use markdown code blocks.`,\n  messages: [\n    {\n      role: 'user',\n      content: `Generate an optimised prompt using the following information:\\n\\n## TASK CLASSIFICATION (from Workflow 1)\\n${JSON.stringify($json.workflow1_data.task_classification, null, 2)}\\n\\n## SELECTED FRAMEWORK\\n${JSON.stringify($json.workflow1_data.selected_framework, null, 2)}\\n\\n## PERSONALITY TIER\\n${$json.workflow1_data.personality_tier}\\n\\n## PERSONALITY ADJUSTMENTS TO APPLY\\n${JSON.stringify($json.workflow1_data.personality_adjustments_preview, null, 2)}\\n\\n---\\n\\n## ORIGINAL TASK DESCRIPTION\\n${$json.user_input.task_description}\\n\\n## PERSONALITY DATA\\n${$json.user_input.personality_type ? 'Type: ' + $json.user_input.personality_type + ($json.user_input.trait_percentages ? '\\nPercentages: ' + JSON.stringify($json.user_input.trait_percentages) : '') : 'None provided - use neutral defaults'}\\n\\n## USER'S ANSWERS TO CLARIFYING QUESTIONS\\n${JSON.stringify($json.question_answers, null, 2)}\\n\\n---\\n\\nNow construct the optimised prompt incorporating all this information.`\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "aaa8387b-3ff8-44f2-ad44-586a1403be6c",
      "name": "Call Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5u3Dji2E1ZKRUSRX",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\n\n// Anthropic response: top-level content array with { type: 'text', text: '...' }\nconst firstContent = Array.isArray(apiResponse.content)\n  ? apiResponse.content[0]\n  : null;\nlet messageContent = firstContent?.text || null;\n\nif (messageContent && typeof messageContent === 'string') {\n  messageContent = messageContent\n    .replace(/```json\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n}\n\nlet data;\ntry {\n  data = messageContent ? JSON.parse(messageContent) : null;\n} catch (e) {\n  return [\n    {\n      json: {\n        success: false,\n        data: null,\n        error: {\n          message: 'Failed to parse LLM response',\n          details: e.message,\n          raw: messageContent,\n        },\n      },\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      success: true,\n      data,\n      error: null,\n    },\n  },\n];"
      },
      "id": "e3e13a95-a986-44ce-b6f5-55f1089e2046",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "df7764cb-18c2-4817-9922-313d5f9f6204",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1408,
        128
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"data\": null,\n  \"error\": {\n    \"message\": \"An error occurred during prompt generation\",\n    \"details\": {{ JSON.stringify($json) }}\n  }\n}",
        "options": {}
      },
      "id": "b42bb927-66e1-42bd-b16d-43acf2d639e4",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "0daecc8f-1e80-404d-800c-e4092bce6e33",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        448
      ]
    },
    {
      "parameters": {},
      "id": "c79e69e7-6037-41af-b57b-513edb0c80b6",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        512,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Prompt Templates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Personality Calibration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt Templates": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Personality Calibration": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Call Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Anthropic API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0fd114c1-7b4b-4075-bf5b-d491cf2b9ee3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
  },
  "id": "YMvRB5aEeEqeZzO0",
  "tags": [
    {
      "updatedAt": "2025-11-25T10:54:37.163Z",
      "createdAt": "2025-11-25T10:54:37.163Z",
      "id": "JCf838Zrlbs7oBCN",
      "name": "prompt-framework"
    }
  ]
}