n8n/workflow_1_analysis_v2.json
{
  "name": "Prompt Framework - Analysis & Questions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/n8n/webhook/analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-1111-1111-111111111111",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "prompt-analysis-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/framework-taxonomy",
        "options": {}
      },
      "id": "a1b2c3d4-2222-2222-2222-222222222222",
      "name": "Fetch Framework Taxonomy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 140],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/personality-calibration",
        "options": {}
      },
      "id": "a1b2c3d4-3333-3333-3333-333333333333",
      "name": "Fetch Personality Calibration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/question-bank",
        "options": {}
      },
      "id": "a1b2c3d4-4444-4444-4444-444444444444",
      "name": "Fetch Question Bank",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 460],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "a1b2c3d4-5555-5555-5555-555555555555",
      "name": "Merge Reference Docs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get data from all inputs\nconst webhookData = $('Webhook Trigger').first().json.body;\nconst frameworkTaxonomy = $('Fetch Framework Taxonomy').first().json;\nconst personalityCalibration = $('Fetch Personality Calibration').first().json;\nconst questionBank = $('Fetch Question Bank').first().json;\n\nreturn [{\n  json: {\n    user_input: {\n      task_description: webhookData.task_description || '',\n      personality_type: webhookData.personality_type || null,\n      trait_percentages: webhookData.trait_percentages || null\n    },\n    reference_docs: {\n      framework_taxonomy: frameworkTaxonomy.content || '',\n      personality_calibration: personalityCalibration.content || '',\n      question_bank: questionBank.content || ''\n    },\n    has_personality_data: !!webhookData.personality_type\n  }\n}];"
      },
      "id": "a1b2c3d4-6666-6666-6666-666666666666",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert prompt engineering assistant. Your task is to analyse user requests, classify them into task categories, select the most appropriate prompt framework, and generate tailored clarifying questions.\n\nYou have access to three reference documents:\n\n## FRAMEWORK TAXONOMY\n{{ $json.reference_docs.framework_taxonomy }}\n\n## PERSONALITY CALIBRATION\n{{ $json.reference_docs.personality_calibration }}\n\n## QUESTION BANK\n{{ $json.reference_docs.question_bank }}\n\n---\n\n## YOUR TASK\n\n1. **Classify the user's task** into a primary category (and secondary if applicable) from the taxonomy\n2. **Select the most appropriate framework** for the task\n3. **Generate clarifying questions** tailored to the task and personality (if provided)\n4. **Apply personality calibration** to question phrasing and quantity (if personality data provided)\n\n## IMPORTANT RULES\n\n- If NO personality data is provided, skip all personality-based adjustments and use neutral defaults\n- Always explain your classification reasoning\n- Select questions that are essential for generating a high-quality prompt\n- Sequence questions logically (context → goals → constraints → specifics)\n- Respect the question quantity guidelines based on task complexity\n\n## OUTPUT FORMAT\n\nYou MUST respond with valid JSON only (no markdown code blocks, no extra text). Use this exact structure:\n\n{\n  \"task_classification\": {\n    \"primary_category\": \"CATEGORY_CODE\",\n    \"secondary_category\": null,\n    \"complexity\": \"simple | moderate | complex\",\n    \"classification_reasoning\": \"Brief explanation\"\n  },\n  \"selected_framework\": {\n    \"name\": \"Framework Name\",\n    \"code\": \"FRAMEWORK_CODE\",\n    \"components\": [\"Component1\", \"Component2\"],\n    \"rationale\": \"Why this framework is best for this task\"\n  },\n  \"alternative_frameworks\": [\n    {\n      \"name\": \"Alternative Name\",\n      \"code\": \"ALT_CODE\",\n      \"when_to_use_instead\": \"Condition\"\n    }\n  ],\n  \"personality_tier\": \"full | partial | none\",\n  \"personality_adjustments_preview\": [\n    \"Adjustment 1 that will be applied\",\n    \"Adjustment 2 that will be applied\"\n  ],\n  \"clarifying_questions\": [\n    {\n      \"id\": \"Q1\",\n      \"question\": \"The question text\",\n      \"purpose\": \"Why this question matters\",\n      \"required\": true\n    }\n  ],\n  \"question_rationale\": \"Brief explanation of question selection\"\n}"
            },
            {
              "content": "=Analyse this task and generate clarifying questions:\n\n**Task Description:**\n{{ $json.user_input.task_description }}\n\n**Personality Data:**\n{{ $json.has_personality_data ? 'Type: ' + $json.user_input.personality_type + ($json.user_input.trait_percentages ? '\\nPercentages: ' + JSON.stringify($json.user_input.trait_percentages) : '\\nPercentages: Not provided (use 65% default for each trait)') : 'No personality data provided. Use neutral defaults and skip personality-based adjustments.' }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "a1b2c3d4-7777-7777-7777-777777777777",
      "name": "Claude Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1180, 300],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Prepare Input').first().json;\nconst claudeResponse = $input.first().json;\n\n// Parse the Claude response - it might be in message.content or directly in the response\nlet analysisData;\ntry {\n  const content = claudeResponse.message?.content || claudeResponse.text || claudeResponse;\n  if (typeof content === 'string') {\n    // Remove any markdown code blocks if present\n    const cleanedContent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    analysisData = JSON.parse(cleanedContent);\n  } else {\n    analysisData = content;\n  }\n} catch (e) {\n  throw new Error('Failed to parse Claude response: ' + e.message);\n}\n\nreturn [{\n  json: {\n    success: true,\n    data: analysisData,\n    original_input: {\n      task_description: input.user_input.task_description,\n      personality_type: input.user_input.personality_type,\n      trait_percentages: input.user_input.trait_percentages\n    },\n    error: null\n  }\n}];"
      },
      "id": "a1b2c3d4-8888-8888-8888-888888888888",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-9999-9999-9999-999999999999",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "jsCode": "const errorInfo = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    data: null,\n    error: {\n      message: 'An error occurred during analysis',\n      details: errorInfo.message || errorInfo.error || 'Unknown error'\n    }\n  }\n}];"
      },
      "id": "a1b2c3d4-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1660, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Framework Taxonomy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Personality Calibration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Question Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Framework Taxonomy": {
      "main": [
        [
          {
            "node": "Merge Reference Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Personality Calibration": {
      "main": [
        [
          {
            "node": "Merge Reference Docs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Question Bank": {
      "main": [
        [
          {
            "node": "Merge Reference Docs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Reference Docs": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "prompt-framework",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}
