n8n/workflow_1.json
{
    "name": "workflow_1",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "api/n8n/webhook/analysis",
                "responseMode": "responseNode",
                "options": []
            },
            "id": "a992fac0-8f28-4c7b-83d3-4346838bd0c7",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -368,
                -336
            ],
            "webhookId": "prompt-analysis-webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "framework_taxonomy",
                            "name": "framework_taxonomy",
                            "value": "{\"content\":\"# Framework Taxonomy (Compressed)\\n\\n## Task Categories\\n\\n| Code | Description | Triggers |\\n|------|-------------|----------|\\n| `DECISION` | Choose between options, prioritise | \\\"decide\\\", \\\"choose\\\", \\\"which\\\", \\\"compare\\\", \\\"pros and cons\\\" |\\n| `STRATEGY` | Business strategy, roadmaps, long-term planning | \\\"strategy\\\", \\\"plan\\\", \\\"roadmap\\\", \\\"long-term\\\", \\\"growth\\\" |\\n| `PLANNING` | Breaking down goals into actionable steps, project execution | \\\"plan\\\", \\\"organize\\\", \\\"coordinate\\\", \\\"schedule\\\", \\\"timeline\\\", \\\"project plan\\\" |\\n| `ANALYSIS` | Understand data, examine situations, root cause | \\\"analyse\\\", \\\"understand why\\\", \\\"explain\\\", \\\"examine\\\", \\\"diagnose\\\" |\\n| `CREATION_CONTENT` | Writing, marketing, emails, communications | \\\"write\\\", \\\"draft\\\", \\\"blog\\\", \\\"email\\\", \\\"copy\\\", \\\"article\\\" |\\n| `CREATION_TECHNICAL` | Code, docs, specs, technical writing | \\\"code\\\", \\\"build\\\", \\\"develop\\\", \\\"API\\\", \\\"script\\\", \\\"documentation\\\" |\\n| `IDEATION` | Brainstorming, innovation, generating ideas | \\\"ideas\\\", \\\"brainstorm\\\", \\\"creative\\\", \\\"possibilities\\\", \\\"suggestions\\\" |\\n| `PROBLEM_SOLVING` | Fixing issues, troubleshooting | \\\"solve\\\", \\\"fix\\\", \\\"problem\\\", \\\"issue\\\", \\\"challenge\\\", \\\"overcome\\\" |\\n| `OPTIMIZATION` | Making existing systems better, faster, cheaper | \\\"optimize\\\", \\\"improve\\\", \\\"enhance\\\", \\\"streamline\\\", \\\"reduce costs\\\", \\\"increase efficiency\\\" |\\n| `LEARNING` | Understanding concepts, education | \\\"learn\\\", \\\"understand\\\", \\\"explain to me\\\", \\\"teach me\\\", \\\"what is\\\" |\\n| `PERSUASION` | Convincing, selling, pitching | \\\"convince\\\", \\\"persuade\\\", \\\"pitch\\\", \\\"sell\\\", \\\"proposal\\\", \\\"negotiate\\\" |\\n| `FEEDBACK` | Reviewing, critiquing, improving work | \\\"review\\\", \\\"feedback\\\", \\\"improve\\\", \\\"critique\\\", \\\"refine\\\" |\\n| `RESEARCH` | Gathering information, investigation | \\\"research\\\", \\\"find out\\\", \\\"investigate\\\", \\\"gather information\\\" |\\n| `GOAL_SETTING` | Defining objectives, KPIs, targets | \\\"goal\\\", \\\"objective\\\", \\\"target\\\", \\\"KPI\\\", \\\"milestone\\\" |\\n\\n## Cognitive Requirements\\n\\n| Code | Description | Aligned Traits | Opposed Traits |\\n|------|-------------|----------------|----------------|\\n| `EMPATHY` | Understanding feelings, relationships | High F, High E | High T |\\n| `VISION` | Future thinking, patterns, concepts | High N, High P | High S |\\n| `DETAIL` | Step-by-step specificity, concrete actions | High S, High J | High N, High P |\\n| `DECISIVE` | Clear conclusions, confident guidance | High J, High A | High P, High T-identity |\\n| `EXPLORE` | Option generation, avoiding premature closure | High P, High N | High J |\\n| `OBJECTIVE` | Logic, evidence-based analysis | High T, High S | High F |\\n| `RISK` | Identifying problems, downsides | High T-identity, High T | High A |\\n| `CREATIVE` | Novel ideas, unconventional thinking | High N, High P | High S, High J |\\n| `STRUCTURE` | Clear organisation, logical flow | High J, High T | High P |\\n| `WARM` | Warmth, rapport-building | High F, High E | High T |\\n| `ITERATIVE` | Self-improvement, refinement, learning from feedback | High P, High T-identity | High J, High A |\\n| `ABSTRACTION` | Higher-level principle identification before specifics | High N, High T | High S |\\n| `AGENTIC` | Interleaved thinking and acting with tool interaction | High T, High P | High N (ungrounded), High J (premature) |\\n| `SYNTHESIS` | Integrating disparate information into coherent whole | High N, High T | High S, High P |\\n| `PERSUASION` | Building compelling arguments, convincing others | High E, High F, High J | High I, High T |\\n| `PEDAGOGY` | Making complex things understandable, scaffolding learning | High F, High S, High J | High N, High P |\\n\\n## Task \\u2192 Requirements Mapping\\n\\n| Task | Primary Requirements | Secondary Requirements |\\n|------|---------------------|----------------------|\\n| `DECISION` | `OBJECTIVE`, `RISK` | `DECISIVE`, `EXPLORE` |\\n| `STRATEGY` | `VISION`, `DETAIL` | `RISK`, `DECISIVE`, `SYNTHESIS` |\\n| `PLANNING` | `DETAIL`, `STRUCTURE` | `RISK`, `DECISIVE` |\\n| `ANALYSIS` | `OBJECTIVE`, `DETAIL` | `RISK`, `ABSTRACTION`, `SYNTHESIS` |\\n| `CREATION_CONTENT` | Varies (see content types) | `STRUCTURE`, `ITERATIVE` |\\n| `CREATION_TECHNICAL` | `DETAIL`, `OBJECTIVE` | `STRUCTURE`, `ITERATIVE` |\\n| `IDEATION` | `CREATIVE`, `EXPLORE` | `VISION` |\\n| `PROBLEM_SOLVING` | `OBJECTIVE`, `DETAIL` | `RISK`, `EXPLORE`, `AGENTIC` |\\n| `OPTIMIZATION` | `OBJECTIVE`, `DETAIL` | `ITERATIVE`, `RISK` |\\n| `LEARNING` | `STRUCTURE`, `PEDAGOGY` | `ABSTRACTION` |\\n| `PERSUASION` | `PERSUASION`, `EMPATHY` | `WARM`, `STRUCTURE` |\\n| `FEEDBACK` | `EMPATHY`, `OBJECTIVE` | `WARM`, `ITERATIVE` |\\n| `RESEARCH` | `OBJECTIVE`, `EXPLORE`, `SYNTHESIS` | `DETAIL`, `AGENTIC` |\\n| `GOAL_SETTING` | `DETAIL`, `DECISIVE` | `VISION` |\\n\\n### Content Types (CREATION_CONTENT)\\n\\n| Type | Triggers | Primary Reqs | Secondary Reqs |\\n|------|----------|--------------|----------------|\\n| Customer email | \\\"email to customer\\\", \\\"client email\\\" | `EMPATHY`, `WARM`, `STRUCTURE` | |\\n| Marketing copy | \\\"marketing\\\", \\\"ad copy\\\", \\\"landing page\\\" | `PERSUASION`, `CREATIVE`, `EMPATHY` | `DECISIVE` |\\n| Technical blog | \\\"technical post\\\", \\\"how-to\\\" | `OBJECTIVE`, `STRUCTURE`, `DETAIL` | `PEDAGOGY` |\\n| Executive summary | \\\"executive summary\\\", \\\"brief for leadership\\\" | `DECISIVE`, `STRUCTURE`, `SYNTHESIS` | |\\n| Apology\\/bad news | \\\"apologise\\\", \\\"bad news\\\", \\\"discontinuing\\\" | `EMPATHY`, `WARM`, `RISK` | |\\n| Sales pitch | \\\"sales\\\", \\\"pitch\\\", \\\"proposal\\\" | `PERSUASION`, `EMPATHY`, `DECISIVE` | `CREATIVE` |\\n\\n## Frameworks (Essential Info Only)\\n\\n**IMPORTANT:** Each framework has an explicit `code` field that MUST be used exactly as shown when referencing the framework template.\\n\\n### Structured Clarity\\n- **CRISPE** (`CRISPE`): Clarity, Relevance, Iteration, Specificity, Parameters, Examples. For: technical docs, strategic planning. Complexity: Medium\\n- **RELIC** (`RELIC`): Role, Emphasis, Limitation, Information, Challenge. For: content creation, strategic planning. Complexity: Medium\\n- **RTF** (`RTF`): Request, Task, Format. For: data retrieval, simple requests. Complexity: Low\\n- **CO-STAR** (`CO_STAR`): Context, Objective, Style, Tone, Audience, Response. For: content creation, marketing copy, precise tone control. Complexity: Medium\\n- **ICIO** (`ICIO`): Instruction, Context, Input, Output. For: data processing, content transformation, structured tasks. Complexity: Low\\n- **CRAFT** (`CRAFT`): Context, Request, Action, Frame, Template (+Examples, Develop). For: repeatable prompts, structured outputs. Complexity: Medium-High\\n\\n### Iterative Refinement\\n- **RACEF** (`RACEF`): Rephrase, Append, Contextualize, Examples, Follow-Up. For: brainstorming, iterative problem-solving. Complexity: Medium\\n- **Chain of Destiny** (`CHAIN_OF_DESTINY`): Baseline + Feedback loops. For: projects prioritising quality. Complexity: High\\n- **Self-Refine** (`SELF_REFINE`): Generate \\u2192 Critique \\u2192 Refine (iterative). For: writing improvement, code refinement, quality-sensitive outputs. Complexity: High\\n- **Reflexion** (`REFLEXION`): Act \\u2192 Evaluate \\u2192 Reflect \\u2192 Learn \\u2192 Act. For: complex problem-solving, code generation, multi-step reasoning. Complexity: High\\n\\n### Decision-Making & Prioritisation\\n- **RICE** (`RICE`): Reach, Impact, Confidence, Effort. For: feature prioritisation, project selection. Complexity: Low\\n- **SMART** (`SMART`): Specific, Measurable, Achievable, Relevant, Time-bound. For: goal-setting. Complexity: Low\\n- **COAST** (`COAST`): Challenge, Objective, Actions, Strategy, Tactics. For: project management. Complexity: Medium\\n- **Pros and Cons** (`PROS_AND_CONS`): Benefits vs Drawbacks. For: decision-making. Complexity: Low\\n\\n### Analytical & Problem-Solving\\n- **Chain of Thought** (`CHAIN_OF_THOUGHT`): Intro, Breakdown, Logical Progression, Conclusion. For: complex reasoning. Complexity: High\\n- **Tree of Thought** (`TREE_OF_THOUGHT`): Nodes, Edges, Outcomes. For: complex problem-solving, scenario planning. Complexity: High\\n- **FOCUS** (`FOCUS`): Focus areas, Prioritisation, Resources. For: goal-setting and prioritisation. Complexity: Medium\\n- **Six Thinking Hats** (`SIX_THINKING_HATS`): White (facts), Red (emotions), Black (risks), Yellow (benefits), Green (creativity), Blue (process). For: multi-perspective analysis. Complexity: Medium\\n- **Step-Back** (`STEP_BACK`): Abstraction \\u2192 Grounding \\u2192 Reasoning. For: STEM problems, knowledge-intensive questions, multi-hop reasoning. Complexity: Medium\\n- **ReAct** (`REACT`): Thought \\u2192 Action \\u2192 Observation (loop). For: tool-using tasks, information retrieval, agentic workflows. Complexity: High\\n- **Skeleton-of-Thought** (`SKELETON_OF_THOUGHT`): Skeleton \\u2192 Parallel Expansion \\u2192 Assembly. For: structured explanations, listicles, consultancy responses. Complexity: Medium. NOT for: sequential reasoning, math, coding.\\n\\n### Storytelling & Narrative\\n- **BAB** (`BAB`): Before, After, Bridge. For: marketing, persuasion. Complexity: Low\\n- **CAR** (`CAR`): Context, Action, Result. For: case studies, interviews. Complexity: Low\\n- **PAR** (`PAR`): Problem, Action, Result. For: success stories. Complexity: Low\\n- **STAR** (`STAR`): Situation, Task, Action, Result. For: interviews, case studies. Complexity: Low\\n- **Challenge-Solution-Benefit** (`CHALLENGE_SOLUTION_BENEFIT`): For: marketing, product development. Complexity: Low\\n\\n### Content Creation\\n- **BLOG** (`BLOG`): Background, Logic, Outline, Goal. For: blog posts, articles. Complexity: Low\\n- **APE** (`APE`): Audience, Purpose, Execution. For: content marketing. Complexity: Low\\n- **TAG** (`TAG`): Topic, Audience, Goal. For: content marketing. Complexity: Low\\n- **4S Method** (`4S_METHOD`): Structure, Style, Substance, Speed. For: digital marketing. Complexity: Low\\n- **Hamburger** (`HAMBURGER`): Intro, Body, Conclusion. For: blogs, articles. Complexity: Low\\n\\n### Creative & Innovation\\n- **SCAMPER** (`SCAMPER`): Substitute, Combine, Adapt, Modify, Put to another use, Eliminate, Reverse. For: innovation, product development. Complexity: Medium\\n- **HMW** (`HMW`): \\\"How might we...\\\" questions. For: design thinking, brainstorming. Complexity: Low\\n- **Imagine** (`IMAGINE`): Future scenario visioning. For: strategic planning. Complexity: Low\\n- **What If** (`WHAT_IF`): Hypothetical scenarios. For: creative problem-solving. Complexity: Low\\n- **SPARK** (`SPARK`): Situation, Problem, Aspiration, Result, Kismet. For: product development, marketing. Complexity: Medium\\n\\n### Educational & Learning\\n- **Bloom's Taxonomy** (`BLOOMS_TAXONOMY`): Remember \\u2192 Understand \\u2192 Apply \\u2192 Analyze \\u2192 Evaluate \\u2192 Create. For: educational content. Complexity: Medium\\n- **ELI5** (`ELI5`): Explain Like I'm 5. For: simplifying complex concepts. Complexity: Low\\n- **Help Me Understand** (`HELP_ME_UNDERSTAND`): Comprehension-focused. For: customer support, education. Complexity: Low\\n- **TQA** (`TQA`): Thematic, Question, Answer. For: e-learning. Complexity: Low\\n- **Socratic Method** (`SOCRATIC_METHOD`): Progressive questioning. For: education, critical analysis. Complexity: Medium\\n\\n### Communication & Engagement\\n- **RACE** (`RACE`): Reach, Act, Convert, Engage. For: marketing campaigns. Complexity: Medium\\n- **ERA** (`ERA`): Engage, React, Act. For: marketing, engagement. Complexity: Low\\n- **CARE** (`CARE`): Compassion, Awareness, Response, Engagement. For: customer service. Complexity: Medium\\n\\n### Strategic Analysis\\n- **3Cs** (`3CS`): Company, Customer, Competitor. For: market analysis. Complexity: Medium\\n- **GOPA** (`GOPA`): Goals, Obstacles, Plans, Actions. For: goal setting, problem-solving. Complexity: Low\\n\\n### Feedback & Improvement\\n- **RISE** (`RISE`): Reflect, Inquire, Suggest, Elevate. For: performance management. Complexity: Medium\\n- **ROSES** (`ROSES`): Recognize, Observe, Strategize, Execute, Study. For: complex projects. Complexity: Medium\\n- **PEE** (`PEE`): Point, Evidence, Explanation. For: academic writing, critiques. Complexity: Low\\n\\n### Advanced Structured\\n- **RASCEF** (`RASCEF`): Role, Action, Steps, Context, Examples, Format. For: technical documentation. Complexity: Medium\\n- **RHODES** (`RHODES`): Role, Objective, Details, Examples, Sense Check. For: creative content, marketing. Complexity: Medium\\n- **RISEN** (`RISEN`): Role, Input, Steps, Expectation, Novelty. For: research, innovation. Complexity: Medium\\n- **GRADE** (`GRADE`): Goal, Request, Action, Details, Example. For: project management. Complexity: Medium\\n- **TRACI** (`TRACI`): Task, Role, Audience, Create, Intent. For: marketing, education. Complexity: Medium\\n- **RODES** (`RODES`): Role, Objective, Details, Examples, Sense Check. For: educational content. Complexity: Medium\\n- **CIDI** (`CIDI`): Context, Instructions, Details, Input. For: project management. Complexity: Medium\\n\\n### Argumentation\\n- **TRACE** (`TRACE`): Topic, Reason, Audience, Counterargument, Evidence. For: debate, persuasive writing. Complexity: Medium\\n- **SPAR** (`SPAR`): Situation, Problem, Action, Result. For: case studies. Complexity: Low\\n- **PROMPT** (`PROMPT`): Precision, Relevance, Objectivity, Method, Provenance, Timeliness. For: research, journalism. Complexity: Medium\\n\\n### Specialised\\n- **SPEAR** (`SPEAR`): Start, Provide, Explain, Ask, Rinse & Repeat. For: everyday tasks. Complexity: Low\\n- **Few-Shot** (`FEW_SHOT`): Task + Demonstrations + Query. For: classification, creative content. Complexity: Low\\n- **Zero-Shot** (`ZERO_SHOT`): Direct instruction without examples. For: translation, factual queries. Complexity: Low\\n- **ORID** (`ORID`): Objective, Reflective, Interpretive, Decisional. For: group discussions, coaching. Complexity: Medium\\n- **PAUSE** (`PAUSE`): Prepare, Assess, Uncover, Synthesize, Execute. For: management decisions. Complexity: Medium\\n- **Elicitation** (`ELICITATION`): Structured information extraction. For: research, interviews. Complexity: Medium\\n- **Meta Prompting** (`META_PROMPTING`): Prompt \\u2192 Evaluate \\u2192 Refine Prompt \\u2192 Execute. For: prompt optimisation, complex task setup. Complexity: High\\n\\n### Visual & Dialogue\\n- **Atomic Prompting** (`ATOMIC_PROMPTING`): Detailed visual specs. For: image generation (Midjourney, DALL-E). Complexity: Medium\\n- **Five Ws and One H** (`FIVE_WS_AND_ONE_H`): Who, What, When, Where, Why, How. For: journalism, research. Complexity: Low\\n\\n## Framework Cognitive Requirements Support\\n\\nThis section maps each framework to the cognitive requirements it supports. Use this for requirement-based framework scoring.\\n\\n**Scoring Guidelines:**\\n- Primary requirements supported by framework: +3 points\\n- Secondary requirements supported by framework: +1 point\\n- Select framework with highest total score\\n- On tie, prefer lower complexity for simple tasks\\n\\n### Structured Clarity Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `CRISPE` | `DETAIL`, `STRUCTURE`, `OBJECTIVE` | `ITERATIVE` |\\n| `RELIC` | `STRUCTURE`, `DETAIL`, `CREATIVE` | `EMPATHY` |\\n| `RTF` | `DETAIL`, `STRUCTURE` | `OBJECTIVE` |\\n| `CO_STAR` | `EMPATHY`, `WARM`, `STRUCTURE` | `PERSUASION`, `CREATIVE` |\\n| `ICIO` | `DETAIL`, `OBJECTIVE`, `STRUCTURE` | - |\\n| `CRAFT` | `STRUCTURE`, `DETAIL`, `ITERATIVE` | `OBJECTIVE` |\\n\\n### Iterative Refinement Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `RACEF` | `ITERATIVE`, `CREATIVE`, `EXPLORE` | `STRUCTURE` |\\n| `CHAIN_OF_DESTINY` | `ITERATIVE`, `DETAIL`, `OBJECTIVE` | `RISK` |\\n| `SELF_REFINE` | `ITERATIVE`, `OBJECTIVE` | `STRUCTURE`, `DETAIL` |\\n| `REFLEXION` | `ITERATIVE`, `OBJECTIVE`, `AGENTIC` | `ABSTRACTION`, `RISK` |\\n\\n### Decision-Making & Prioritisation Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `RICE` | `OBJECTIVE`, `DECISIVE`, `RISK` | `DETAIL` |\\n| `SMART` | `DETAIL`, `DECISIVE`, `STRUCTURE` | `OBJECTIVE` |\\n| `COAST` | `VISION`, `DETAIL`, `STRUCTURE`, `DECISIVE` | `RISK` |\\n| `PROS_AND_CONS` | `OBJECTIVE`, `RISK`, `EXPLORE` | `DECISIVE` |\\n\\n### Analytical & Problem-Solving Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `CHAIN_OF_THOUGHT` | `OBJECTIVE`, `ABSTRACTION`, `DETAIL` | `STRUCTURE` |\\n| `TREE_OF_THOUGHT` | `OBJECTIVE`, `EXPLORE`, `ABSTRACTION` | `VISION` |\\n| `FOCUS` | `OBJECTIVE`, `DETAIL`, `DECISIVE` | `VISION` |\\n| `SIX_THINKING_HATS` | `EXPLORE`, `OBJECTIVE`, `EMPATHY` | `CREATIVE`, `RISK` |\\n| `STEP_BACK` | `ABSTRACTION`, `OBJECTIVE` | `VISION`, `STRUCTURE` |\\n| `REACT` | `AGENTIC`, `OBJECTIVE`, `ITERATIVE` | `DETAIL`, `RISK` |\\n| `SKELETON_OF_THOUGHT` | `STRUCTURE`, `VISION` | `DETAIL`, `CREATIVE` |\\n\\n### Storytelling & Narrative Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `BAB` | `PERSUASION`, `EMPATHY`, `STRUCTURE` | `WARM`, `CREATIVE` |\\n| `CAR` | `STRUCTURE`, `OBJECTIVE` | `PERSUASION` |\\n| `PAR` | `STRUCTURE`, `OBJECTIVE` | `PERSUASION` |\\n| `STAR` | `STRUCTURE`, `DETAIL`, `OBJECTIVE` | - |\\n| `CHALLENGE_SOLUTION_BENEFIT` | `PERSUASION`, `EMPATHY` | `OBJECTIVE`, `CREATIVE` |\\n\\n### Content Creation Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `BLOG` | `STRUCTURE`, `DETAIL` | `CREATIVE`, `PEDAGOGY` |\\n| `APE` | `EMPATHY`, `PERSUASION` | `STRUCTURE` |\\n| `TAG` | `EMPATHY`, `DECISIVE` | `STRUCTURE` |\\n| `4S_METHOD` | `STRUCTURE`, `CREATIVE` | `DETAIL`, `PERSUASION` |\\n| `HAMBURGER` | `STRUCTURE` | `DETAIL`, `PEDAGOGY` |\\n\\n### Creative & Innovation Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `SCAMPER` | `CREATIVE`, `EXPLORE` | `VISION` |\\n| `HMW` | `CREATIVE`, `EXPLORE`, `EMPATHY` | - |\\n| `IMAGINE` | `CREATIVE`, `VISION` | - |\\n| `WHAT_IF` | `CREATIVE`, `EXPLORE` | `VISION` |\\n| `SPARK` | `CREATIVE`, `EMPATHY`, `VISION` | `PERSUASION` |\\n\\n### Educational & Learning Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `BLOOMS_TAXONOMY` | `PEDAGOGY`, `STRUCTURE`, `ABSTRACTION` | `OBJECTIVE` |\\n| `ELI5` | `PEDAGOGY`, `EMPATHY` | `STRUCTURE` |\\n| `HELP_ME_UNDERSTAND` | `PEDAGOGY`, `EMPATHY`, `STRUCTURE` | - |\\n| `TQA` | `PEDAGOGY`, `STRUCTURE` | - |\\n| `SOCRATIC_METHOD` | `PEDAGOGY`, `OBJECTIVE`, `EXPLORE` | `ABSTRACTION` |\\n\\n### Communication & Engagement Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `RACE` | `PERSUASION`, `STRUCTURE`, `DECISIVE` | `EMPATHY` |\\n| `ERA` | `PERSUASION`, `EMPATHY`, `WARM` | - |\\n| `CARE` | `EMPATHY`, `WARM` | `STRUCTURE` |\\n\\n### Strategic Analysis Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `3CS` | `OBJECTIVE`, `SYNTHESIS`, `VISION` | `STRUCTURE` |\\n| `GOPA` | `DETAIL`, `STRUCTURE`, `DECISIVE` | `OBJECTIVE` |\\n\\n### Feedback & Improvement Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `RISE` | `EMPATHY`, `OBJECTIVE`, `WARM` | `ITERATIVE` |\\n| `ROSES` | `STRUCTURE`, `DETAIL`, `ITERATIVE` | `OBJECTIVE`, `VISION` |\\n| `PEE` | `OBJECTIVE`, `STRUCTURE` | `PERSUASION` |\\n\\n### Advanced Structured Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `RASCEF` | `DETAIL`, `STRUCTURE`, `OBJECTIVE` | - |\\n| `RHODES` | `STRUCTURE`, `DETAIL`, `CREATIVE` | `EMPATHY` |\\n| `RISEN` | `STRUCTURE`, `DETAIL`, `CREATIVE` | `VISION` |\\n| `GRADE` | `STRUCTURE`, `DETAIL`, `DECISIVE` | `OBJECTIVE` |\\n| `TRACI` | `STRUCTURE`, `EMPATHY`, `PERSUASION` | `CREATIVE` |\\n| `RODES` | `STRUCTURE`, `DETAIL`, `PEDAGOGY` | `EMPATHY` |\\n| `CIDI` | `STRUCTURE`, `DETAIL`, `OBJECTIVE` | - |\\n\\n### Argumentation Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `TRACE` | `PERSUASION`, `OBJECTIVE`, `RISK` | `EMPATHY`, `STRUCTURE` |\\n| `SPAR` | `STRUCTURE`, `OBJECTIVE` | `PERSUASION` |\\n| `PROMPT` | `OBJECTIVE`, `DETAIL`, `STRUCTURE` | `SYNTHESIS` |\\n\\n### Specialised Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `SPEAR` | `STRUCTURE`, `DETAIL` | - |\\n| `FEW_SHOT` | `STRUCTURE`, `DETAIL` | `PEDAGOGY` |\\n| `ZERO_SHOT` | `OBJECTIVE`, `DETAIL` | - |\\n| `ORID` | `OBJECTIVE`, `EMPATHY`, `DECISIVE` | `STRUCTURE` |\\n| `PAUSE` | `OBJECTIVE`, `SYNTHESIS`, `DECISIVE` | `RISK` |\\n| `ELICITATION` | `OBJECTIVE`, `DETAIL`, `STRUCTURE` | - |\\n| `META_PROMPTING` | `ITERATIVE`, `OBJECTIVE`, `ABSTRACTION` | `SYNTHESIS` |\\n\\n### Visual & Dialogue Frameworks\\n\\n| Framework | Primary Requirements | Secondary Requirements |\\n|-----------|---------------------|----------------------|\\n| `ATOMIC_PROMPTING` | `DETAIL`, `CREATIVE`, `VISION` | - |\\n| `FIVE_WS_AND_ONE_H` | `OBJECTIVE`, `DETAIL`, `STRUCTURE` | - |\\n\\n## Framework-to-Category Mapping\\n\\n**NOTE:** Use the framework codes shown in parentheses when selecting frameworks.\\n\\n### DECISION\\nPrimary: RICE (`RICE`), Pros and Cons (`PROS_AND_CONS`), Tree of Thought (`TREE_OF_THOUGHT`), Step-Back (`STEP_BACK`)\\nSecondary: SMART (`SMART`), Six Thinking Hats (`SIX_THINKING_HATS`), ORID (`ORID`), PAUSE (`PAUSE`), ReAct (`REACT`)\\n\\n### STRATEGY\\nPrimary: COAST (`COAST`), 3Cs Model (`3CS`), GOPA (`GOPA`), SMART (`SMART`), CO-STAR (`CO_STAR`)\\nSecondary: Chain of Thought (`CHAIN_OF_THOUGHT`), ROSES (`ROSES`), RELIC (`RELIC`)\\n\\n### ANALYSIS\\nPrimary: Chain of Thought (`CHAIN_OF_THOUGHT`), Tree of Thought (`TREE_OF_THOUGHT`), FOCUS (`FOCUS`), Step-Back (`STEP_BACK`)\\nSecondary: Five Ws and One H (`FIVE_WS_AND_ONE_H`), PROMPT (`PROMPT`), Socratic Method (`SOCRATIC_METHOD`), Six Thinking Hats (`SIX_THINKING_HATS`), ReAct (`REACT`)\\n\\n### CREATION_CONTENT\\nPrimary: BLOG (`BLOG`), TAG (`TAG`), APE (`APE`), 4S Method (`4S_METHOD`), CO-STAR (`CO_STAR`), CRAFT (`CRAFT`)\\nSecondary: Hamburger Model (`HAMBURGER`), CRISPE (`CRISPE`), TRACI (`TRACI`), Skeleton-of-Thought (`SKELETON_OF_THOUGHT`), Self-Refine (`SELF_REFINE`)\\n\\n### CREATION_TECHNICAL\\nPrimary: RASCEF (`RASCEF`), CRISPE (`CRISPE`), RTF (`RTF`), ICIO (`ICIO`)\\nSecondary: CIDI (`CIDI`), Zero-Shot (`ZERO_SHOT`), GRADE (`GRADE`), Self-Refine (`SELF_REFINE`), Reflexion (`REFLEXION`)\\n\\n### IDEATION\\nPrimary: SCAMPER (`SCAMPER`), HMW (`HMW`), What If (`WHAT_IF`), Imagine (`IMAGINE`), Skeleton-of-Thought (`SKELETON_OF_THOUGHT`)\\nSecondary: Tree of Thought (`TREE_OF_THOUGHT`), SPARK (`SPARK`), Six Thinking Hats (`SIX_THINKING_HATS`)\\n\\n### PROBLEM_SOLVING\\nPrimary: Chain of Thought (`CHAIN_OF_THOUGHT`), GOPA (`GOPA`), ROSES (`ROSES`), PAUSE (`PAUSE`), ReAct (`REACT`), Step-Back (`STEP_BACK`)\\nSecondary: Tree of Thought (`TREE_OF_THOUGHT`), Six Thinking Hats (`SIX_THINKING_HATS`), Five Ws and One H (`FIVE_WS_AND_ONE_H`), Reflexion (`REFLEXION`)\\n\\n### LEARNING\\nPrimary: ELI5 (`ELI5`), Bloom's Taxonomy (`BLOOMS_TAXONOMY`), TQA (`TQA`), Help Me Understand (`HELP_ME_UNDERSTAND`), Step-Back (`STEP_BACK`)\\nSecondary: Socratic Method (`SOCRATIC_METHOD`), Few-Shot (`FEW_SHOT`), Skeleton-of-Thought (`SKELETON_OF_THOUGHT`)\\n\\n### PERSUASION\\nPrimary: BAB (`BAB`), Challenge-Solution-Benefit (`CHALLENGE_SOLUTION_BENEFIT`), TRACE (`TRACE`), PEE (`PEE`), CO-STAR (`CO_STAR`)\\nSecondary: CAR (`CAR`), PAR (`PAR`), STAR (`STAR`), RACE (`RACE`)\\n\\n### FEEDBACK\\nPrimary: RISE (`RISE`), ROSES (`ROSES`), PEE (`PEE`), Self-Refine (`SELF_REFINE`)\\nSecondary: Chain of Destiny (`CHAIN_OF_DESTINY`), RACEF (`RACEF`)\\n\\n### RESEARCH\\nPrimary: PROMPT (`PROMPT`), Five Ws and One H (`FIVE_WS_AND_ONE_H`), Elicitation (`ELICITATION`), ReAct (`REACT`)\\nSecondary: Chain of Thought (`CHAIN_OF_THOUGHT`), RODES (`RODES`), Step-Back (`STEP_BACK`)\\n\\n### GOAL_SETTING\\nPrimary: SMART (`SMART`), GOPA (`GOPA`)\\nSecondary: COAST (`COAST`), FOCUS (`FOCUS`)\\n\\n## Selection Algorithm\\n\\n1. Classify task into category\\n2. Retrieve candidate frameworks from mapping\\n3. Check for special indicators:\\n   - Tone\\/audience critical? \\u2192 Prefer CO-STAR\\n   - Tool-using\\/research task? \\u2192 Consider ReAct\\n   - Quality-critical output? \\u2192 Consider Self-Refine\\n   - Principle-based reasoning needed? \\u2192 Consider Step-Back\\n   - Parallelisable structure? \\u2192 Consider Skeleton-of-Thought\\n   - Complex task setup? \\u2192 Consider Meta Prompting\\n4. Prefer \\\"Primary\\\" frameworks\\n5. Match complexity:\\n   - Simple task \\u2192 Low complexity framework\\n   - Moderate task \\u2192 Low or Medium complexity\\n   - Complex task \\u2192 Medium or High complexity\\n6. Check iteration benefit:\\n   - If quality-critical output \\u2192 Consider Self-Refine, Reflexion\\n   - If multi-step with potential failures \\u2192 Consider ReAct, Reflexion\\n   - If structure can be parallelised \\u2192 Consider Skeleton-of-Thought\\n   - If abstraction would help reasoning \\u2192 Consider Step-Back\\n7. Select ONE framework for construction\\n8. Note alternatives\\n\\nComplexity criteria:\\n- **Simple**: Single-step, clear output, minimal context\\n- **Moderate**: Multi-step, some ambiguity, needs context\\n- **Complex**: Multi-faceted, significant ambiguity, extensive context, multiple stakeholders\\n- **Iterative**: Tasks where refinement cycles improve output significantly \\u2192 Add Self-Refine or Reflexion as secondary option\"}",
                            "type": "object"
                        },
                        {
                            "id": "personality_calibration",
                            "name": "personality_calibration",
                            "value": "{\"content\":\"# Personality Calibration\\n\\n## Purpose\\n\\nThis document provides rules for adjusting prompt style, question phrasing, and output format based on the user's personality type and trait percentages. It includes the Task-Trait Alignment system for determining when to amplify, counterbalance, or remain neutral on each personality dimension.\\n\\nWhen no personality data is provided, skip all personality-based adjustments and use neutral defaults.\\n\\n---\\n\\n## The 16Personalities Framework Overview\\n\\nThe 16Personalities model uses five independent scales:\\n\\n| Scale | Dimension | Low End | High End |\\n|-------|-----------|---------|----------|\\n| Mind | Energy direction | Introverted (I) | Extraverted (E) |\\n| Energy | Information processing | Observant\\/Sensing (S) | Intuitive (N) |\\n| Nature | Decision making | Feeling (F) | Thinking (T) |\\n| Tactics | Approach to structure | Prospecting\\/Perceiving (P) | Judging (J) |\\n| Identity | Self-confidence | Turbulent (T) | Assertive (A) |\\n\\n### Percentage Interpretation\\n\\nThe percentages indicate strength of preference on each scale:\\n\\n| Percentage Range | Interpretation | Adjustment Weight |\\n|------------------|----------------|-------------------|\\n| 50-55% | Borderline \\u2014 both approaches viable | 0.25 (minimal) |\\n| 55-65% | Moderate preference | 0.50 (standard) |\\n| 65-75% | Clear preference | 0.75 (significant) |\\n| 75%+ | Strong preference | 1.00 (maximum) |\\n\\n---\\n\\n## Handling Missing Personality Data\\n\\n### Tier 1: Full Data (Type + Percentages)\\n- User provides: e.g., \\\"INTP-A\\\" with \\\"I:65%, N:64%, T:84%, P:57%, A:84%\\\"\\n- Action: Apply full personality calibration with Task-Trait Alignment\\n\\n### Tier 2: Partial Data (Type Only)\\n- User provides: e.g., \\\"INTP-A\\\" without percentages\\n- Action: Default all traits to 65% and apply standard calibration\\n- Example: INTP-A \\u2192 I:65%, N:65%, T:65%, P:65%, A:65%\\n\\n### Tier 3: No Data\\n- User provides: No personality information\\n- Action: Skip ALL personality-based adjustments\\n- Use neutral, professional defaults throughout\\n- Note in output: \\\"No personality adjustments applied \\u2014 task-driven approach used\\\"\\n\\n---\\n\\n## Task-Trait Alignment System\\n\\n### Core Principle\\n\\nRather than always amplifying or always counterbalancing personality traits, the system should:\\n\\n1. **Amplify** traits that are assets for the specific task\\n2. **Counterbalance** traits that create blind spots for the task\\n3. **Remain neutral** on traits irrelevant to the task\\n\\n### Task Cognitive Requirements\\n\\nEvery task has inherent cognitive requirements. These requirements may align with, oppose, or be unrelated to specific personality traits.\\n\\n#### Requirement: `EMPATHY` - Empathy & Stakeholder Awareness\\n\\nTasks requiring understanding of human feelings, relationships, and interpersonal impact.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject empathy requirements |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 natural social awareness |\\n| High I (\\u226560%) | **Neutral** | May need slight encouragement to consider others |\\n\\n**Counterbalance injection for High T:**\\n- Add explicit requirements: \\\"Consider how this will make the recipient feel\\\"\\n- Include stakeholder impact analysis\\n- Request acknowledgment of emotional dimensions\\n\\n#### Requirement: `VISION` - Big-Picture Strategic Vision\\n\\nTasks requiring future thinking, pattern recognition, and conceptual frameworks.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for broader perspective |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 openness to possibilities |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Step back and consider the broader implications\\\"\\n- Request future-state visioning\\n- Ask for pattern identification across examples\\n\\n#### Requirement: `DETAIL` - Detailed Execution Planning\\n\\nTasks requiring step-by-step specificity, concrete actions, and practical implementation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural planning ability |\\n| High N (\\u226560%) | **Misaligned** | Counterbalance \\u2014 force granular detail |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 require specific commitments |\\n\\n**Counterbalance injection for High N:**\\n- Add requirements: \\\"Provide specific, concrete steps\\\"\\n- Request timelines, milestones, and measurable actions\\n- Ask for practical implementation details, not just concepts\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Commit to specific actions and dates\\\"\\n- Request prioritised task lists\\n- Ask for clear sequencing and dependencies\\n\\n#### Requirement: `DECISIVE` - Decisive Recommendations\\n\\nTasks requiring clear conclusions, prioritised options, and confident guidance.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural decisiveness |\\n| High A (\\u226560%) | **Aligned** | Amplify \\u2014 natural confidence |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for commitment |\\n| High T-identity (\\u226560%) | **Misaligned** | Counterbalance \\u2014 reduce excessive hedging |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Provide a clear, prioritised recommendation\\\"\\n- Request \\\"If you had to choose one...\\\" framing\\n- Limit options presented to top 2-3\\n\\n**Counterbalance injection for High T-identity (Turbulent):**\\n- Add requirements: \\\"State your recommendation confidently\\\"\\n- Request clear language without excessive caveats\\n- Ask for \\\"recommended\\\" not \\\"you might consider\\\"\\n\\n#### Requirement: `EXPLORE` - Exploring Multiple Options\\n\\nTasks requiring divergent thinking, option generation, and avoiding premature closure.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 natural openness |\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 prevent premature closure |\\n| High A (\\u226560%) | **Slightly misaligned** | May dismiss options too quickly |\\n\\n**Counterbalance injection for High J:**\\n- Add requirements: \\\"Generate at least 4-5 distinct options before evaluating\\\"\\n- Request \\\"what else could work?\\\" exploration\\n- Explicitly delay recommendation until options are fully explored\\n\\n#### Requirement: `OBJECTIVE` - Objective Analysis\\n\\nTasks requiring dispassionate evaluation, logical reasoning, and evidence-based conclusions.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 focuses on facts |\\n| High F (\\u226560%) | **Misaligned** | Counterbalance \\u2014 emphasise data over feelings |\\n\\n**Counterbalance injection for High F:**\\n- Add requirements: \\\"Base conclusions on evidence and data\\\"\\n- Request separation of facts from feelings\\n- Ask for objective criteria before subjective considerations\\n\\n#### Requirement: `RISK` - Risk Awareness\\n\\nTasks requiring identification of potential problems, downsides, and failure modes.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T-identity (\\u226560%) | **Aligned** | Amplify \\u2014 natural risk sensitivity |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 analytical about risks |\\n| High A (\\u226560%) | **Misaligned** | Counterbalance \\u2014 may underweight risks |\\n| High N (\\u226560%) | **Slightly misaligned** | May focus on possibilities over risks |\\n\\n**Counterbalance injection for High A:**\\n- Add requirements: \\\"Explicitly identify what could go wrong\\\"\\n- Request risk\\/downside analysis section\\n- Ask \\\"What would cause this to fail?\\\"\\n\\n#### Requirement: `CREATIVE` - Creative Innovation\\n\\nTasks requiring novel ideas, unconventional thinking, and breaking from established patterns.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 open to unconventional |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push beyond conventional |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 loosen structure requirements |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Consider unconventional approaches\\\"\\n- Request \\\"What if we ignored current constraints?\\\" thinking\\n- Ask for ideas that challenge assumptions\\n\\n#### Requirement: `STRUCTURE` - Structured Communication\\n\\nTasks requiring clear organisation, logical flow, and professional presentation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural organiser |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 logical structure |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 impose structure |\\n| High F (\\u226560%) | **Neutral** | May prefer narrative over structure |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Use clear headings and logical sections\\\"\\n- Request numbered lists for sequential items\\n- Ask for executive summary upfront\\n\\n#### Requirement: `WARM` - Warm\\/Relational Tone\\n\\nTasks requiring warmth, rapport-building, and relationship-focused communication.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural warmth |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 social orientation |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject warmth |\\n| High I (\\u226560%) | **Neutral** | May need encouragement for warmth |\\n\\n**Counterbalance injection for High T:**\\n- Add requirements: \\\"Open with personal acknowledgment\\\"\\n- Request relationship-affirming language\\n- Ask for tone that prioritises connection over efficiency\\n\\n#### Requirement: `ITERATIVE` - Iterative Self-Improvement\\n\\nTasks requiring multiple passes, self-critique, and progressive refinement of output quality.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T-identity (\\u226560%) | **Aligned** | Amplify \\u2014 natural thoroughness and quality sensitivity |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 comfortable with non-linear improvement |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 prevent premature conclusion |\\n| High A (\\u226560%) | **Misaligned** | Counterbalance \\u2014 ensure genuine critique, not just acceptance |\\n\\n**Counterbalance injection for High J:**\\n- Add requirements: \\\"Complete at least 2 full refinement cycles before finalising\\\"\\n- Request: \\\"Resist the urge to conclude\\u2014treat first output as draft only\\\"\\n- Include: \\\"Explicitly identify weaknesses before generating improvements\\\"\\n\\n**Counterbalance injection for High A:**\\n- Add requirements: \\\"Identify at least 3 specific areas for improvement\\\"\\n- Request: \\\"Apply genuine self-critique, not surface-level acceptance\\\"\\n- Include: \\\"Challenge your own output as a skeptical reviewer would\\\"\\n\\n#### Requirement: `ABSTRACTION` - Abstraction Before Specifics\\n\\nTasks benefiting from higher-level principle identification before tackling concrete details.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 natural abstract thinking |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 principle-based reasoning |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 force step-back thinking |\\n| High F (\\u226560%) | **Neutral** | May naturally consider human principles |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Before addressing specifics, identify the general category and principles\\\"\\n- Request: \\\"Step back from the details\\u2014what broader concepts apply?\\\"\\n- Include: \\\"Connect specific question to underlying framework or theory\\\"\\n\\n#### Requirement: `PARALLEL` - Structured Parallel Processing\\n\\nTasks where content can be developed in parallel components then assembled.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural organisation |\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 methodical component handling |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 impose skeleton structure |\\n| High N (\\u226560%) | **Neutral** | May need grounding for each component |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Create skeleton FIRST before any expansion\\\"\\n- Request: \\\"Constrain expansion to skeleton points\\u2014no tangents\\\"\\n- Include: \\\"Each point should be independently complete\\\"\\n\\n#### Requirement: `AGENTIC` - Agentic Reasoning\\n\\nTasks requiring interleaved thinking and acting with external tool\\/environment interaction.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 logical step-by-step reasoning |\\n| High J (\\u226560%) | **Partially aligned** | May need counterbalancing for exploration |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 adaptive problem-solving |\\n| High N (\\u226560%) | **Misaligned** | Counterbalance \\u2014 ground thoughts with actions |\\n\\n**Counterbalance injection for High N:**\\n- Add requirements: \\\"Each thought must lead to a concrete action\\\"\\n- Request: \\\"Verify abstract reasoning with specific observations\\\"\\n- Include: \\\"Don't assume\\u2014check with actions when uncertain\\\"\\n\\n**Counterbalance injection for High J:**\\n- Add requirements: \\\"Generate multiple possible actions before selecting\\\"\\n- Request: \\\"If first approach fails, genuinely explore alternatives\\\"\\n- Include: \\\"Final answer only after sufficient information gathered\\\"\\n\\n#### Requirement: `SYNTHESIS` - Information Synthesis\\n\\nTasks requiring integration of multiple sources, finding connections between disparate information, and building coherent understanding from diverse inputs.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 natural pattern recognition across sources |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 logical integration of evidence |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push beyond individual data points |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 comfortable with multiple perspectives |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Identify patterns and connections across all sources\\\"\\n- Request: \\\"How do these pieces of information relate to each other?\\\"\\n- Include: \\\"Synthesise findings into a coherent narrative, not just a list\\\"\\n\\n#### Requirement: `PERSUASION` - Persuasive Communication\\n\\nTasks requiring convincing others, building compelling arguments, and influencing decisions through strategic framing.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 natural social influence |\\n| High F (\\u226560%) | **Partially aligned** | Strong on emotional appeals, may need logical balance |\\n| High T (\\u226560%) | **Partially aligned** | Strong on logical arguments, may need emotional balance |\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 structured argumentation |\\n\\n**Counterbalance injection for High F:**\\n- Add requirements: \\\"Support emotional appeals with data and evidence\\\"\\n- Request: \\\"Include both rational and emotional persuasion elements\\\"\\n- Include: \\\"Build credibility through objective support\\\"\\n\\n**Counterbalance injection for High T:**\\n- Add requirements: \\\"Balance logic with emotional resonance\\\"\\n- Request: \\\"Consider what will emotionally move your audience\\\"\\n- Include: \\\"Use storytelling alongside data\\\"\\n\\n#### Requirement: `PEDAGOGY` - Educational Clarity\\n\\nTasks requiring teaching, explaining complex concepts, and adapting content for learners at different levels.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural empathy for learner needs |\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 concrete examples and step-by-step clarity |\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 structured learning progression |\\n| High N (\\u226560%) | **Misaligned** | Counterbalance \\u2014 force concrete examples |\\n\\n**Counterbalance injection for High N:**\\n- Add requirements: \\\"Provide concrete examples for abstract concepts\\\"\\n- Request: \\\"Include step-by-step walkthrough with specific examples\\\"\\n- Include: \\\"Check understanding at each level before advancing\\\"\\n\\n---\\n\\n### Task Category to Cognitive Requirements Mapping\\n\\n| Task Category | Primary Requirements | Secondary Requirements |\\n|---------------|---------------------|----------------------|\\n| DECISION | `OBJECTIVE`, `RISK` | `DECISIVE` |\\n| STRATEGY | `VISION`, `DETAIL` | `RISK`, `DECISIVE` |\\n| ANALYSIS | `OBJECTIVE`, `DETAIL` | `RISK`, `ABSTRACTION` |\\n| CREATION_CONTENT | Varies by content type | `STRUCTURE`, `ITERATIVE` |\\n| CREATION_TECHNICAL | `DETAIL`, `OBJECTIVE` | `STRUCTURE`, `ITERATIVE` |\\n| IDEATION | `CREATIVE`, `EXPLORE` | `VISION` |\\n| PROBLEM_SOLVING | `OBJECTIVE`, `DETAIL` | `RISK`, `EXPLORE`, `AGENTIC` |\\n| LEARNING | `PEDAGOGY`, `STRUCTURE` | `ABSTRACTION` |\\n| PERSUASION | `PERSUASION`, `EMPATHY` | `STRUCTURE`, `WARM` |\\n| FEEDBACK | `EMPATHY`, `OBJECTIVE` | `WARM`, `ITERATIVE` |\\n| RESEARCH | `OBJECTIVE`, `SYNTHESIS` | `DETAIL`, `EXPLORE`, `AGENTIC` |\\n| GOAL_SETTING | `DETAIL`, `DECISIVE` | `VISION` |\\n| PLANNING | `DETAIL`, `STRUCTURE` | `VISION`, `RISK` |\\n| OPTIMIZATION | `OBJECTIVE`, `DETAIL` | `RISK`, `EXPLORE` |\\n\\n### Content-Type Specific Requirements\\n\\nFor CREATION_CONTENT tasks, requirements vary by content type:\\n\\n| Content Type | Primary Requirements |\\n|--------------|---------------------|\\n| Customer email | `EMPATHY`, `WARM`, `STRUCTURE` |\\n| Marketing copy | `EMPATHY`, `CREATIVE`, `PERSUASION` |\\n| Technical blog | `OBJECTIVE`, `STRUCTURE`, `DETAIL`, `PEDAGOGY` |\\n| Executive summary | `DECISIVE`, `STRUCTURE` |\\n| Apology\\/bad news | `EMPATHY`, `WARM`, `RISK` |\\n| Sales pitch | `PERSUASION`, `EMPATHY`, `DECISIVE` |\\n| Internal memo | `STRUCTURE`, `OBJECTIVE` |\\n| Social media | `CREATIVE`, `WARM`, `PERSUASION` |\\n\\n---\\n\\n## Framework-Specific Personality Considerations\\n\\n### CO-STAR Framework\\n\\n**Strongest personality alignment**: High-F users\\n- Style and Tone components align with natural empathy\\n- Audience consideration feels intuitive\\n- May need counterbalancing for objective detail\\n\\n**Needs most counterbalancing**: High-T users\\n- Tone specification may feel unnecessary\\n- Audience empathy needs explicit scaffolding\\n- Inject: \\\"The Tone and Audience sections are critical\\u2014don't skip\\\"\\n\\n**Personality-specific component emphasis**:\\n\\n| Trait | Emphasise | De-emphasise |\\n|-------|-----------|--------------|\\n| High T | Objective, Context, Response format | (none) |\\n| High F | Style, Tone, Audience | (none\\u2014natural fit) |\\n| High N | Objective (strategic), Context (big picture) | Response (may resist format constraints) |\\n| High S | Context (detailed), Response (specific format) | Style (may overliteralize) |\\n| High J | All components (loves structure) | (none) |\\n| High P | Context, Objective | Response format (may want flexibility) |\\n\\n### ReAct Framework\\n\\n**Strongest personality alignment**: High-T + High-P combination\\n- Logical reasoning + adaptive action-taking\\n- Natural fit for exploratory problem-solving\\n\\n**Needs most counterbalancing**: High-N + High-J combination\\n- High-N may skip verification actions\\n- High-J may conclude before sufficient exploration\\n- Inject: \\\"Every thought must be verified with an action before accepting\\\"\\n\\n**Loop-termination considerations by personality**:\\n\\n| Trait | Risk | Mitigation |\\n|-------|------|------------|\\n| High J | Premature termination | \\\"Continue until 3+ observations gathered\\\" |\\n| High A | Over-confidence in initial answer | \\\"Verify conclusion with at least one more action\\\" |\\n| High P | Never-ending exploration | \\\"Conclude when question is definitively answered\\\" |\\n| High T-identity | Excessive verification loops | \\\"Set maximum iteration count\\\" |\\n\\n### Self-Refine Framework\\n\\n**Strongest personality alignment**: High-T-identity (Turbulent)\\n- Natural quality sensitivity\\n- Comfortable with critique and improvement\\n- May need guardrails against perfectionism\\n\\n**Needs most counterbalancing**: High-A + High-J combination\\n- High-A may accept first draft too readily\\n- High-J may resist iteration as \\\"inefficient\\\"\\n- Inject: \\\"First output is ALWAYS a draft\\u2014refinement is required, not optional\\\"\\n\\n**Iteration cycle adjustments**:\\n\\n| Trait | Cycles | Rationale |\\n|-------|--------|-----------|\\n| High A | 3+ required | Ensure genuine critique |\\n| High T-identity | 2 with quality check | Prevent over-iteration |\\n| High J | 2 minimum, explicitly mandated | Force iteration |\\n| High P | 2-3 with convergence check | Prevent endless tweaking |\\n\\n### Step-Back Prompting\\n\\n**Strongest personality alignment**: High-N + High-T combination\\n- Natural abstract thinking + logical principles\\n- Step-back feels intuitive\\n\\n**Needs most counterbalancing**: High-S users\\n- May resist abstraction as \\\"unnecessary\\\"\\n- Concrete thinking wants to dive straight in\\n- Inject: \\\"The step-back question is MANDATORY\\u2014skip it and accuracy drops 36%\\\"\\n\\n**Abstraction level by personality**:\\n\\n| Trait | Abstraction Style |\\n|-------|-------------------|\\n| High N | Conceptual frameworks, theoretical principles |\\n| High S | Procedural principles, rule-based abstractions |\\n| High T | Logical axioms, formal principles |\\n| High F | Human-centered principles, values-based frameworks |\\n\\n### Skeleton-of-Thought\\n\\n**Strongest personality alignment**: High-J + High-S combination\\n- Natural organisation + methodical expansion\\n- Structure-first approach feels comfortable\\n\\n**Needs most counterbalancing**: High-P + High-N combination\\n- High-P may resist committing to skeleton\\n- High-N may want to expand before skeleton is complete\\n- Inject: \\\"Complete skeleton BEFORE any expansion\\u2014no partial builds\\\"\\n\\n**NOT recommended for these task types** (regardless of personality):\\n- Math problems requiring sequential reasoning\\n- Code where later steps depend on earlier outputs\\n- Any task where point coherence is critical\\n\\n---\\n\\n## Task-Trait Alignment Algorithm\\n\\n```\\n1. Identify the task category and content type (if applicable)\\n\\n2. Determine cognitive requirements:\\n   - Look up primary requirements from Task Category mapping\\n   - Add content-type specific requirements if CREATION_CONTENT\\n   - Consider any explicit requirements mentioned by user\\n\\n3. For each of the user's personality traits (where \\u226555%):\\n\\n   a. Check alignment against each cognitive requirement:\\n      - If trait ALIGNS with requirement \\u2192 Mark for AMPLIFICATION\\n      - If trait OPPOSES requirement \\u2192 Mark for COUNTERBALANCING\\n      - If trait is UNRELATED to requirement \\u2192 Mark as NEUTRAL\\n\\n   b. Resolve conflicts (trait aligns with one requirement, opposes another):\\n      - Prioritise primary requirements over secondary\\n      - If still conflicted, lean toward counterbalancing (safety)\\n\\n4. Generate adjustment actions:\\n   - For AMPLIFY: Use trait-aligned language and structure\\n   - For COUNTERBALANCE: Inject explicit requirements user might skip\\n   - For NEUTRAL: No specific adjustment\\n\\n5. Document the alignment analysis for transparency\\n```\\n\\n---\\n\\n## Composite Personality Profiles\\n\\nCertain trait combinations create recognisable patterns. Apply Task-Trait Alignment to the dominant traits in each profile.\\n\\n### Analyst Profile (NT Combination)\\n\\n**Traits**: High N + High T\\n**Natural Strengths**: Systems thinking, pattern recognition, logical frameworks\\n**Common Blind Spots**: May underweight emotional\\/relational factors\\n\\n**Default Amplification Contexts:**\\n- Strategic analysis, competitive intelligence\\n- Technical architecture decisions\\n- Data-driven decision making\\n\\n**Common Counterbalance Needs:**\\n- Customer communications \\u2192 Inject empathy requirements\\n- Team management \\u2192 Inject relationship considerations\\n- Change management \\u2192 Inject stakeholder feelings\\n\\n### Diplomat Profile (NF Combination)\\n\\n**Traits**: High N + High F\\n**Natural Strengths**: Meaning-seeking, values-driven, visionary\\n**Common Blind Spots**: May underweight practical\\/analytical factors\\n\\n**Default Amplification Contexts:**\\n- Vision and mission work\\n- Culture and values initiatives\\n- Stakeholder relationship management\\n\\n**Common Counterbalance Needs:**\\n- Financial analysis \\u2192 Inject objectivity requirements\\n- Technical decisions \\u2192 Inject data-driven criteria\\n- Implementation planning \\u2192 Inject concrete specifics\\n\\n### Sentinel Profile (SJ Combination)\\n\\n**Traits**: High S + High J\\n**Natural Strengths**: Detail-oriented, process-focused, reliable execution\\n**Common Blind Spots**: May underweight innovation\\/big-picture factors\\n\\n**Default Amplification Contexts:**\\n- Process documentation\\n- Quality assurance\\n- Implementation and execution planning\\n\\n**Common Counterbalance Needs:**\\n- Innovation projects \\u2192 Inject possibility thinking\\n- Strategy development \\u2192 Inject big-picture vision\\n- Brainstorming \\u2192 Inject unconventional thinking\\n\\n### Explorer Profile (SP Combination)\\n\\n**Traits**: High S + High P\\n**Natural Strengths**: Pragmatic, adaptable, action-oriented\\n**Common Blind Spots**: May underweight planning\\/commitment factors\\n\\n**Default Amplification Contexts:**\\n- Rapid prototyping\\n- Tactical problem-solving\\n- Hands-on execution\\n\\n**Common Counterbalance Needs:**\\n- Long-term planning \\u2192 Inject structure and commitment\\n- Documentation \\u2192 Inject thoroughness requirements\\n- Strategic decisions \\u2192 Inject future-state thinking\\n\\n---\\n\\n## Question Quantity Calibration\\n\\nAdjust the number of clarifying questions based on personality:\\n\\n### Baseline by Task Complexity\\n\\n| Complexity | Base Questions |\\n|------------|----------------|\\n| Simple | 3-4 |\\n| Moderate | 5-7 |\\n| Complex | 8-10 |\\n\\n### Personality Adjustments\\n\\n| Factor | Adjustment |\\n|--------|------------|\\n| High J (\\u226565%) | -1 question (wants to proceed) |\\n| High P (\\u226565%) | +1 question (comfortable exploring) |\\n| High A (\\u226565%) | -1 question (confident in own judgment) |\\n| High T-identity (\\u226565%) | +1 question (wants thoroughness) |\\n| High I (\\u226565%) | Fewer but deeper questions |\\n| High E (\\u226565%) | Can handle more conversational flow |\\n\\n### Framework-Specific Question Counts\\n\\n| Framework | Base Questions | Adjustment Rationale |\\n|-----------|----------------|---------------------|\\n| CO-STAR | 5-7 | Needs audience, style, tone input |\\n| ReAct | 4-6 | Task and tool context sufficient |\\n| Self-Refine | 4-5 | Quality criteria focus |\\n| Step-Back | 3-5 | Clear question required |\\n| Skeleton-of-Thought | 4-6 | Scope and structure needs |\\n| Meta Prompting | 6-8 | Complex requirements gathering |\\n\\n### Additional Framework-Personality Adjustments\\n\\n| Factor | Adjustment |\\n|--------|------------|\\n| Framework is iterative (Self-Refine, Reflexion) + High-T-identity | +1 question (quality criteria clarification) |\\n| Framework is agentic (ReAct) + High-J | +1 question (termination criteria) |\\n| Framework requires abstraction (Step-Back) + High-S | +1 question (principle identification help) |\\n| Framework is structured (CO-STAR, Skeleton) + High-P | No additional needed (structure is built-in) |\\n\\n### Minimum and Maximum\\n\\n- **Minimum**: 2 questions (for very simple tasks)\\n- **Maximum**: 12 questions (for highly complex tasks with Turbulent users)\\n\\n---\\n\\n## Output Format for Personality Calibration\\n\\nWhen returning personality calibration data, include the Task-Trait Alignment analysis:\\n\\n```json\\n{\\n  \\\"personality_tier\\\": \\\"full | partial | none\\\",\\n  \\\"traits_used\\\": {\\n    \\\"I_E\\\": {\\\"value\\\": 65, \\\"direction\\\": \\\"I\\\", \\\"weight\\\": 0.75},\\n    \\\"S_N\\\": {\\\"value\\\": 64, \\\"direction\\\": \\\"N\\\", \\\"weight\\\": 0.50},\\n    \\\"T_F\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"T\\\", \\\"weight\\\": 1.00},\\n    \\\"J_P\\\": {\\\"value\\\": 57, \\\"direction\\\": \\\"P\\\", \\\"weight\\\": 0.25},\\n    \\\"A_T\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"A\\\", \\\"weight\\\": 1.00}\\n  },\\n  \\\"composite_profile\\\": \\\"Analyst\\\",\\n  \\\"task_cognitive_requirements\\\": [\\n    \\\"EMPATHY\\\",\\n    \\\"STRUCTURE\\\",\\n    \\\"WARM\\\"\\n  ],\\n  \\\"trait_alignment\\\": {\\n    \\\"amplified\\\": [\\n      {\\n        \\\"trait\\\": \\\"High N (64%)\\\",\\n        \\\"requirement_aligned\\\": \\\"VISION\\\",\\n        \\\"reason\\\": \\\"Can frame the change in context of larger relationship\\/future\\\"\\n      }\\n    ],\\n    \\\"counterbalanced\\\": [\\n      {\\n        \\\"trait\\\": \\\"High T (84%)\\\",\\n        \\\"requirement_opposed\\\": \\\"EMPATHY\\\",\\n        \\\"reason\\\": \\\"Task requires emotional acknowledgment that High-T may skip\\\",\\n        \\\"injection\\\": \\\"Prompt includes explicit requirements for expressing appreciation and acknowledging emotional impact\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"High A (84%)\\\",\\n        \\\"requirement_opposed\\\": \\\"WARM\\\",\\n        \\\"reason\\\": \\\"Confidence should not come across as dismissive\\\",\\n        \\\"injection\\\": \\\"Prompt requires warm opening and relationship-affirming language\\\"\\n      }\\n    ],\\n    \\\"neutral\\\": [\\n      {\\n        \\\"trait\\\": \\\"High I (65%)\\\",\\n        \\\"reason\\\": \\\"Introversion\\/Extraversion not directly relevant to email content\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"Borderline P (57%)\\\",\\n        \\\"reason\\\": \\\"Near midline; no strong adjustment needed\\\"\\n      }\\n    ]\\n  },\\n  \\\"framework_personality_fit\\\": {\\n    \\\"natural_fit_score\\\": 0.7,\\n    \\\"counterbalance_weight\\\": \\\"moderate\\\",\\n    \\\"special_considerations\\\": [\\n      \\\"User may resist iteration\\u2014emphasise quality benefits\\\"\\n    ]\\n  },\\n  \\\"adjustments_summary\\\": [\\n    \\\"Amplifying: N-strength for strategic framing\\\",\\n    \\\"Counterbalancing: T-tendency with empathy requirements\\\",\\n    \\\"Counterbalancing: A-tendency with warmth requirements\\\"\\n  ],\\n  \\\"question_count_adjustment\\\": -1,\\n  \\\"output_style\\\": {\\n    \\\"structure\\\": \\\"logical_sections\\\",\\n    \\\"hedge_level\\\": \\\"minimal\\\",\\n    \\\"recommendation_style\\\": \\\"confident_direct\\\",\\n    \\\"injected_requirements\\\": [\\n      \\\"Open with personal acknowledgment of the customer relationship\\\",\\n      \\\"Express appreciation before delivering the news\\\",\\n      \\\"Acknowledge the disappointment this may cause\\\"\\n    ]\\n  }\\n}\\n```\\n\\n---\\n\\n## Application Algorithm\\n\\nWhen applying personality calibration with Task-Trait Alignment:\\n\\n```\\n1. Check if personality data exists:\\n   - If NO data \\u2192 Use neutral defaults, skip to step 7\\n   - If type only \\u2192 Set all percentages to 65%\\n   - If full data \\u2192 Use provided percentages\\n\\n2. Identify task cognitive requirements:\\n   - Look up task category requirements\\n   - Add content-type specific requirements if applicable\\n   - Note any explicit requirements from user's task description\\n\\n3. Calculate adjustment weights for each trait:\\n   weight = 0.25 if 50-55%\\n   weight = 0.50 if 55-65%\\n   weight = 0.75 if 65-75%\\n   weight = 1.00 if 75%+\\n\\n4. Perform Task-Trait Alignment analysis:\\n   For each trait with weight \\u2265 0.50:\\n     For each cognitive requirement:\\n       - Determine if trait ALIGNS, OPPOSES, or is NEUTRAL\\n       - Record the alignment and reason\\n\\n5. Generate adjustment actions:\\n   - AMPLIFY: Note trait-aligned language\\/structure to use\\n   - COUNTERBALANCE: Specify explicit injections needed\\n   - NEUTRAL: No action needed\\n\\n6. Compile injected requirements:\\n   - Gather all counterbalance injections\\n   - These will be added explicitly to the prompt\\n\\n7. Document the full analysis for metadata output\\n```\\n\\n---\\n\\n## Neutral Defaults (No Personality Data)\\n\\nWhen no personality data is provided, use these defaults:\\n\\n### Question Style\\n- Professional, clear, neither warm nor clinical\\n- Direct but not abrupt\\n- Standard question count for complexity level\\n\\n### Prompt Framing\\n- Balanced between abstract and concrete\\n- Neither heavily structured nor overly flexible\\n- Professional tone throughout\\n\\n### Output Preferences\\n- Clear structure with logical flow\\n- Both options and recommendations where appropriate\\n- Moderate hedging with professional confidence\\n- Balanced detail level\\n\\n### No Counterbalancing Applied\\n- Without personality data, no trait-based counterbalancing is possible\\n- Prompts should be well-rounded by default\\n- Include standard coverage of both analytical and empathetic dimensions where relevant to task\"}",
                            "type": "object"
                        },
                        {
                            "id": "question_bank",
                            "name": "question_bank",
                            "value": "{\"content\":\"# Question Bank Reference Document\\n\\n## Purpose\\n\\nThis document contains all clarifying questions organised by task category and framework. Use this to generate appropriate questions after classifying the user's task. Questions should be selected based on task category, adjusted for personality (if provided), and limited to the appropriate quantity.\\n\\n---\\n\\n## Universal Questions\\n\\nThese questions are relevant across most task categories. Select 2-3 from this pool for every task.\\n\\n### Core Universal Questions\\n\\n| ID | Question | Purpose | Cognitive Reqs | When Essential |\\n|----|----------|---------|----------------|----------------|\\n| U1 | What is the scope or boundary of this task? What's explicitly out of scope? | Define limits | `STRUCTURE`, `DETAIL` | Complex or ambiguous tasks |\\n| U2 | How will you measure success? What does a good outcome look like? | Success criteria | `DECISIVE`, `OBJECTIVE` | All tasks except simple factual |\\n| U3 | Who is the intended audience for this output? | Audience clarity | `EMPATHY`, `PERSUASION` | Any task with an output |\\n| U4 | What constraints exist (time, budget, length, format, resources)? | Limitation awareness | `DETAIL`, `OBJECTIVE` | Most tasks |\\n| U5 | What background context is essential to understand? | Context gathering | `SYNTHESIS`, `DETAIL` | Tasks requiring domain knowledge |\\n| U6 | What have you already tried or considered? | Avoid redundancy | `EXPLORE`, `ITERATIVE` | Problem-solving, iteration tasks |\\n\\n### Personality-Adjusted Universal Questions\\n\\nFor each universal question, select the phrasing that matches the user's personality (or use neutral if no personality data):\\n\\n#### U2: Success Criteria (Personality Variants)\\n\\n| Personality Pattern | Phrasing |\\n|---------------------|----------|\\n| High T + High J | \\\"What are the measurable criteria for success?\\\" |\\n| High F + High J | \\\"What would a successful outcome mean for the people involved?\\\" |\\n| High T + High P | \\\"What signals would indicate this is working?\\\" |\\n| High F + High P | \\\"How would you feel if this turned out well? What would that look like?\\\" |\\n| High A | \\\"What does success look like?\\\" |\\n| High T-identity | \\\"What would success look like? And what pitfalls do you want to avoid?\\\" |\\n| Neutral | \\\"How will you measure whether this is successful?\\\" |\\n\\n#### U4: Constraints (Personality Variants)\\n\\n| Personality Pattern | Phrasing |\\n|---------------------|----------|\\n| High S | \\\"What specific limitations apply \\u2014 budget, time, word count, format?\\\" |\\n| High N | \\\"What boundaries should this stay within?\\\" |\\n| High T | \\\"What are the hard constraints versus nice-to-haves?\\\" |\\n| High F | \\\"What limitations should we respect to keep everyone comfortable?\\\" |\\n| High J | \\\"What are the non-negotiable constraints?\\\" |\\n| High P | \\\"What constraints exist, and which might be flexible?\\\" |\\n| Neutral | \\\"What constraints or limitations should be considered?\\\" |\\n\\n---\\n\\n## Framework-Specific Questions\\n\\n### CO-STAR Tasks (Content with Tone\\/Style Requirements)\\n\\nSelect 4-6 questions when CO-STAR framework is identified.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| COS1 | Who is the specific audience for this content? What's their role and knowledge level? | Audience definition | `EMPATHY`, `PEDAGOGY` | High |\\n| COS2 | What's the primary objective\\u2014what should the reader do, think, or feel after reading? | Objective clarity | `DECISIVE`, `PERSUASION` | High |\\n| COS3 | What writing style fits best\\u2014formal, conversational, technical, storytelling? | Style determination | `STRUCTURE`, `CREATIVE` | High |\\n| COS4 | What tone should come through\\u2014professional, friendly, urgent, empathetic, authoritative? | Tone setting | `WARM`, `EMPATHY` | High |\\n| COS5 | What format works best for this content\\u2014paragraphs, bullet points, sections with headers? | Response format | `STRUCTURE` | Medium |\\n| COS6 | What background context does the AI need to understand the situation? | Context gathering | `SYNTHESIS` | Medium |\\n| COS7 | Are there any words, phrases, or topics to avoid? | Boundaries | `RISK` | Medium |\\n| COS8 | Is there existing content or examples to match in style? | Style reference | `CREATIVE`, `ITERATIVE` | Low |\\n\\n#### Personality-Adjusted Phrasing for CO-STAR\\n\\n| Trait | Question Adaptation |\\n|-------|---------------------|\\n| High T | \\\"What are the key facts and data points the content must convey?\\\" |\\n| High F | \\\"How should the reader feel after engaging with this content?\\\" |\\n| High S | \\\"What specific details and examples should be included?\\\" |\\n| High N | \\\"What's the big-picture message or theme?\\\" |\\n\\n---\\n\\n### ReAct Tasks (Agentic\\/Tool-Using Workflows)\\n\\nSelect 4-5 questions when ReAct framework is identified.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| REA1 | What tools, resources, or information sources are available? | Tool inventory | `AGENTIC`, `DETAIL` | High |\\n| REA2 | What's the end goal\\u2014what specific outcome are you trying to achieve? | Goal clarity | `DECISIVE`, `OBJECTIVE` | High |\\n| REA3 | How will you know when the task is complete? What signals success? | Termination criteria | `DECISIVE`, `OBJECTIVE` | High |\\n| REA4 | What constraints or rules must be followed during the process? | Guardrails | `RISK`, `DETAIL` | Medium |\\n| REA5 | If initial approaches fail, what alternatives should be considered? | Fallback planning | `EXPLORE`, `ITERATIVE` | Medium |\\n| REA6 | Are there any actions or sources that should be avoided? | Boundaries | `RISK` | Low |\\n\\n#### Conditional Questions for ReAct\\n\\n- If research task: \\\"What sources are considered authoritative?\\\"\\n- If technical task: \\\"What error handling is needed?\\\"\\n- If multi-step: \\\"What are the dependencies between steps?\\\"\\n\\n---\\n\\n### Self-Refine Tasks (Quality-Critical Iterative Work)\\n\\nSelect 4-5 questions when Self-Refine framework is identified.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| SRF1 | What are the specific quality criteria for this output? | Quality standards | `ITERATIVE`, `OBJECTIVE` | High |\\n| SRF2 | What aspects are most important to get right? | Priority focus | `DECISIVE`, `OBJECTIVE` | High |\\n| SRF3 | How many refinement iterations are acceptable? | Iteration bounds | `ITERATIVE` | Medium |\\n| SRF4 | What's the minimum acceptable quality threshold? | Quality floor | `OBJECTIVE`, `DECISIVE` | Medium |\\n| SRF5 | Are there examples of excellent outputs to aspire to? | Quality reference | `ITERATIVE`, `CREATIVE` | Medium |\\n| SRF6 | What common mistakes or pitfalls should be watched for? | Error awareness | `RISK`, `ITERATIVE` | Low |\\n\\n#### Personality-Adjusted Phrasing for Self-Refine\\n\\n| Trait | Question Adaptation |\\n|-------|---------------------|\\n| High A | \\\"What would make this output genuinely excellent versus merely acceptable?\\\" |\\n| High J | \\\"What are the non-negotiable quality criteria?\\\" |\\n| High P | \\\"What aspects would benefit most from exploration and refinement?\\\" |\\n| High T-identity | \\\"What quality threshold should stop further iteration?\\\" |\\n\\n---\\n\\n### Step-Back Tasks (Principle-Based Reasoning)\\n\\nSelect 3-4 questions when Step-Back framework is identified.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| STB1 | What domain or field does this question belong to? | Domain identification | `ABSTRACTION`, `SYNTHESIS` | High |\\n| STB2 | What general principles or theories might apply? | Principle prompting | `ABSTRACTION`, `VISION` | High |\\n| STB3 | What's the specific question you need answered? | Question clarity | `DETAIL`, `OBJECTIVE` | High |\\n| STB4 | What level of detail is needed in the answer? | Depth calibration | `DETAIL` | Medium |\\n| STB5 | Are there related concepts you already understand? | Build on existing | `SYNTHESIS`, `PEDAGOGY` | Low |\\n\\n#### Conditional Questions for Step-Back\\n\\n- If STEM task: \\\"What formulas or laws might be relevant?\\\"\\n- If knowledge task: \\\"What categories of information would help?\\\"\\n- If reasoning task: \\\"What logical principles apply?\\\"\\n\\n---\\n\\n### Skeleton-of-Thought Tasks (Structured Parallel Content)\\n\\nSelect 3-5 questions when Skeleton-of-Thought framework is identified.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| SOT1 | What's the main topic or question to address? | Topic focus | `STRUCTURE`, `DETAIL` | High |\\n| SOT2 | How many main points should the response cover? | Scope sizing | `STRUCTURE`, `DETAIL` | High |\\n| SOT3 | Is there a preferred logical order for the points? | Structure guidance | `STRUCTURE`, `OBJECTIVE` | Medium |\\n| SOT4 | How detailed should each point be? | Depth calibration | `DETAIL` | Medium |\\n| SOT5 | Does coherence between points matter, or can they be independent? | Framework fit check | `STRUCTURE`, `PARALLEL` | Medium |\\n\\n#### Framework Fit Verification\\n\\nIf answer to SOT5 indicates high interdependence, consider switching to Chain of Thought instead:\\n\\n| Response | Action |\\n|----------|--------|\\n| \\\"Points are independent\\\" | Continue with Skeleton-of-Thought |\\n| \\\"Some connection needed\\\" | Use Skeleton-of-Thought with assembly review |\\n| \\\"Sequential logic required\\\" | Switch to Chain of Thought |\\n| \\\"Each point builds on previous\\\" | Switch to Chain of Thought |\\n\\n---\\n\\n### Meta Prompting Tasks (Prompt Optimisation)\\n\\nSelect 5-7 questions when Meta Prompting framework is identified.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| MET1 | What task will the generated prompt be used for? | Target task | `DETAIL`, `OBJECTIVE` | High |\\n| MET2 | What model will execute the prompt (if known)? | Model targeting | `DETAIL` | High |\\n| MET3 | What output format and quality is expected? | Output requirements | `STRUCTURE`, `OBJECTIVE` | High |\\n| MET4 | What's the user profile for the generated prompt (if known)? | Personality targeting | `EMPATHY`, `PEDAGOGY` | Medium |\\n| MET5 | Are there existing prompts to improve, or starting from scratch? | Starting point | `ITERATIVE` | Medium |\\n| MET6 | What constraints must the prompt respect? | Boundaries | `RISK`, `DETAIL` | Medium |\\n| MET7 | What has been tried that didn't work well? | Failure learning | `ITERATIVE`, `RISK` | Low |\\n\\n---\\n\\n## Category-Specific Questions\\n\\n### DECISION Tasks\\n\\nSelect 3-5 questions from this pool based on task specifics.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| D1 | What options are you currently considering? | Map the decision space | `EXPLORE`, `DETAIL` | High |\\n| D2 | What criteria matter most in making this decision? | Identify decision factors | `OBJECTIVE`, `DECISIVE` | High |\\n| D3 | What's the cost or impact of choosing wrong? | Understand stakes | `RISK`, `OBJECTIVE` | Medium |\\n| D4 | Is this decision reversible, or are you locked in once you choose? | Assess commitment level | `RISK` | Medium |\\n| D5 | What information would make this decision obvious? | Identify knowledge gaps | `SYNTHESIS`, `OBJECTIVE` | Medium |\\n| D6 | What's your timeline for making this decision? | Urgency assessment | `DETAIL` | Medium |\\n| D7 | Who else is affected by or involved in this decision? | Stakeholder mapping | `EMPATHY`, `SYNTHESIS` | Medium |\\n| D8 | Have you made similar decisions before? What worked or didn't? | Learn from history | `ITERATIVE`, `SYNTHESIS` | Low |\\n| D9 | What's your gut telling you, and why might you be hesitating? | Surface intuition | `EMPATHY`, `RISK` | Low (F types) |\\n| D10 | If you had to decide right now, what would you choose? | Force prioritisation | `DECISIVE` | Low |\\n\\n#### Conditional Questions\\n\\n- If D1 reveals many options (>4): \\\"Can we narrow to the top 3-4 contenders?\\\"\\n- If D2 is vague: \\\"If you could only optimise for one factor, which would it be?\\\"\\n- If high stakes (D3): \\\"What's your risk tolerance here?\\\"\\n\\n---\\n\\n### STRATEGY Tasks\\n\\nSelect 4-6 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| S1 | What's the time horizon for this strategy? | Temporal scope | `VISION`, `DETAIL` | High |\\n| S2 | What resources are available (budget, team, tools)? | Resource constraints | `DETAIL`, `OBJECTIVE` | High |\\n| S3 | What does success look like at the end of this period? | Goal definition | `VISION`, `DECISIVE` | High |\\n| S4 | Who are the key stakeholders who need to buy in? | Stakeholder mapping | `EMPATHY`, `PERSUASION` | High |\\n| S5 | What's been tried before, and what were the results? | Historical context | `ITERATIVE`, `SYNTHESIS` | Medium |\\n| S6 | What are the biggest obstacles or risks you foresee? | Risk identification | `RISK`, `VISION` | Medium |\\n| S7 | Who are your main competitors or alternatives? | Competitive context | `OBJECTIVE`, `SYNTHESIS` | Medium |\\n| S8 | What's your unique advantage or differentiation? | Positioning | `VISION`, `CREATIVE` | Medium |\\n| S9 | What's the current state you're starting from? | Baseline assessment | `DETAIL`, `OBJECTIVE` | Medium |\\n| S10 | What dependencies or external factors could affect this? | External awareness | `RISK`, `SYNTHESIS` | Low |\\n| S11 | What would cause this strategy to fail? | Failure mode analysis | `RISK`, `OBJECTIVE` | Low (T-identity types) |\\n| S12 | What's your appetite for risk versus proven approaches? | Risk tolerance | `RISK`, `DECISIVE` | Low |\\n\\n#### Conditional Questions\\n\\n- If startup context: \\\"What stage is your company (idea, MVP, growth)?\\\"\\n- If marketing strategy: \\\"What channels have you used before?\\\"\\n- If product strategy: \\\"Who is your target customer persona?\\\"\\n\\n---\\n\\n### ANALYSIS Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| A1 | What data or information do you have access to? | Data inventory | `DETAIL`, `OBJECTIVE` | High |\\n| A2 | What's the specific question you're trying to answer? | Focus the analysis | `OBJECTIVE`, `DETAIL` | High |\\n| A3 | What's the hypothesis you're testing, if any? | Frame the inquiry | `OBJECTIVE`, `VISION` | Medium |\\n| A4 | What level of depth is needed (surface scan vs. deep dive)? | Scope calibration | `DETAIL` | Medium |\\n| A5 | Are there specific angles or perspectives you want explored? | Direction setting | `EXPLORE`, `SYNTHESIS` | Medium |\\n| A6 | Who needs to act on this analysis? | Audience\\/action | `EMPATHY`, `PERSUASION` | Medium |\\n| A7 | What would change your mind or surprise you? | Challenge assumptions | `EXPLORE`, `OBJECTIVE` | Low |\\n| A8 | What's the deadline or urgency for this analysis? | Time constraints | `DETAIL` | Medium |\\n| A9 | What format should the analysis take? | Output format | `STRUCTURE` | Low |\\n| A10 | Are there any known biases or blind spots to watch for? | Quality control | `OBJECTIVE`, `RISK` | Low |\\n\\n#### Conditional Questions\\n\\n- If data analysis: \\\"What's the data format and size?\\\"\\n- If market analysis: \\\"What geography or segment?\\\"\\n- If root cause analysis: \\\"When did the issue first appear?\\\"\\n\\n---\\n\\n### CREATION_CONTENT Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| C1 | Who is the target audience for this content? | Audience definition | `EMPATHY`, `PEDAGOGY` | High |\\n| C2 | What's the primary goal or call to action? | Purpose clarity | `PERSUASION`, `DECISIVE` | High |\\n| C3 | What tone is appropriate (formal, casual, technical, friendly)? | Voice\\/style | `WARM`, `STRUCTURE` | High |\\n| C4 | What's the target length or word count? | Scope | `DETAIL` | Medium |\\n| C5 | Are there examples of style or content you want to emulate? | Style reference | `CREATIVE`, `ITERATIVE` | Medium |\\n| C6 | What key messages or points must be included? | Required content | `DETAIL`, `STRUCTURE` | Medium |\\n| C7 | What should definitely be avoided? | Boundaries | `RISK` | Medium |\\n| C8 | Where will this content be published or used? | Channel context | `DETAIL`, `SYNTHESIS` | Medium |\\n| C9 | What's the deadline? | Urgency | `DETAIL` | Low |\\n| C10 | Is this part of a larger campaign or standalone? | Context | `SYNTHESIS`, `VISION` | Low |\\n| C11 | What do you want the reader to feel or do after reading? | Emotional goal | `EMPATHY`, `PERSUASION` | Low (F types) |\\n\\n#### Conditional Questions\\n\\n- If blog post: \\\"What's the SEO keyword or topic focus?\\\"\\n- If email: \\\"What's the relationship with the recipient?\\\"\\n- If marketing copy: \\\"What's the unique selling proposition?\\\"\\n\\n---\\n\\n### CREATION_TECHNICAL Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| T1 | What technology stack or language is required? | Technical constraints | `DETAIL`, `OBJECTIVE` | High |\\n| T2 | What's the skill level of people who'll use this? | User context | `PEDAGOGY`, `EMPATHY` | High |\\n| T3 | Are there existing conventions, style guides, or patterns to follow? | Standards | `STRUCTURE`, `DETAIL` | Medium |\\n| T4 | What error handling or edge cases matter? | Robustness | `RISK`, `OBJECTIVE` | Medium |\\n| T5 | Is this for production or prototype\\/proof of concept? | Quality level | `DETAIL`, `DECISIVE` | Medium |\\n| T6 | What's the expected input and output? | Interface definition | `DETAIL`, `STRUCTURE` | Medium |\\n| T7 | Are there performance requirements? | Non-functional needs | `OBJECTIVE`, `DETAIL` | Low |\\n| T8 | What documentation level is needed? | Documentation scope | `PEDAGOGY`, `STRUCTURE` | Low |\\n| T9 | How will this be tested or validated? | Quality assurance | `OBJECTIVE`, `RISK` | Low |\\n| T10 | What's the deployment environment? | Infrastructure context | `DETAIL`, `OBJECTIVE` | Low |\\n\\n#### Conditional Questions\\n\\n- If API: \\\"What authentication method?\\\"\\n- If documentation: \\\"What's the reader's existing knowledge?\\\"\\n- If code: \\\"What's the existing codebase context?\\\"\\n\\n---\\n\\n### IDEATION Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| I1 | What problem or opportunity are you generating ideas for? | Focus area | `CREATIVE`, `DETAIL` | High |\\n| I2 | What constraints should ideas respect? | Boundaries | `DETAIL`, `RISK` | High |\\n| I3 | How wild can ideas be \\u2014 incremental improvements or moonshots? | Creativity scope | `CREATIVE`, `EXPLORE` | Medium |\\n| I4 | What's already been considered or tried? | Avoid repetition | `EXPLORE`, `SYNTHESIS` | Medium |\\n| I5 | What definitely won't work or isn't feasible? | Eliminate dead ends | `RISK`, `OBJECTIVE` | Medium |\\n| I6 | What resources would be available to implement ideas? | Feasibility context | `DETAIL`, `OBJECTIVE` | Medium |\\n| I7 | Who are the users or beneficiaries of these ideas? | User focus | `EMPATHY`, `VISION` | Medium |\\n| I8 | What inspires you or what examples do you admire? | Inspiration sources | `CREATIVE`, `VISION` | Low |\\n| I9 | What's the timeline for implementing ideas? | Urgency | `DETAIL` | Low |\\n| I10 | How will ideas be evaluated or prioritised? | Selection criteria | `DECISIVE`, `OBJECTIVE` | Low |\\n\\n#### Conditional Questions\\n\\n- If product ideation: \\\"What's the core user pain point?\\\"\\n- If process improvement: \\\"What's the current process?\\\"\\n- If creative project: \\\"What mood or feeling are you going for?\\\"\\n\\n---\\n\\n### PROBLEM_SOLVING Tasks\\n\\nSelect 4-6 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| P1 | What exactly is the problem? Can you describe the symptoms? | Problem definition | `DETAIL`, `OBJECTIVE` | High |\\n| P2 | When did this problem start or when was it first noticed? | Timeline | `DETAIL`, `SYNTHESIS` | High |\\n| P3 | What have you already tried? | Avoid redundancy | `ITERATIVE`, `EXPLORE` | High |\\n| P4 | What happens if this isn't solved? | Stakes\\/urgency | `RISK`, `VISION` | Medium |\\n| P5 | Are there symptoms versus root causes to distinguish? | Depth of problem | `OBJECTIVE`, `ABSTRACTION` | Medium |\\n| P6 | Who has relevant expertise or has seen this before? | Resource identification | `SYNTHESIS`, `EMPATHY` | Medium |\\n| P7 | What changed right before the problem appeared? | Cause hunting | `DETAIL`, `SYNTHESIS` | Medium |\\n| P8 | Is this a recurring problem or first occurrence? | Pattern | `ITERATIVE`, `SYNTHESIS` | Medium |\\n| P9 | What would a solution need to achieve? | Success criteria | `DECISIVE`, `OBJECTIVE` | Medium |\\n| P10 | What constraints affect possible solutions? | Solution boundaries | `DETAIL`, `RISK` | Medium |\\n| P11 | What's your hypothesis about the cause? | Current thinking | `OBJECTIVE`, `ABSTRACTION` | Low |\\n| P12 | What quick wins might provide relief while solving the deeper issue? | Pragmatic relief | `DECISIVE`, `EXPLORE` | Low |\\n\\n#### Conditional Questions\\n\\n- If technical problem: \\\"What error messages or logs are available?\\\"\\n- If people problem: \\\"Who are the key parties involved?\\\"\\n- If process problem: \\\"Where does the process break down?\\\"\\n\\n---\\n\\n### LEARNING Tasks\\n\\nSelect 2-4 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| L1 | What's your current understanding level of this topic? | Baseline assessment | `PEDAGOGY`, `DETAIL` | High |\\n| L2 | What specifically is confusing or unclear? | Focus area | `PEDAGOGY`, `DETAIL` | High |\\n| L3 | What do you need to do with this knowledge? | Application context | `DETAIL`, `VISION` | Medium |\\n| L4 | Do you learn better from examples, explanations, or analogies? | Learning style | `PEDAGOGY`, `EMPATHY` | Medium |\\n| L5 | How deep do you need to go (overview vs. expert level)? | Depth calibration | `PEDAGOGY`, `DETAIL` | Medium |\\n| L6 | What related concepts do you already understand? | Build on existing | `PEDAGOGY`, `SYNTHESIS` | Low |\\n| L7 | Is there a specific format that works well for you? | Output preference | `STRUCTURE`, `PEDAGOGY` | Low |\\n| L8 | What's the urgency \\u2014 immediate application or general knowledge? | Timeline | `DETAIL` | Low |\\n\\n#### Conditional Questions\\n\\n- If technical topic: \\\"What's your technical background?\\\"\\n- If abstract concept: \\\"Would a real-world analogy help?\\\"\\n- If skill-based: \\\"Have you attempted this before?\\\"\\n\\n---\\n\\n### PERSUASION Tasks\\n\\nSelect 4-5 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| PE1 | Who specifically needs to be convinced? | Target audience | `EMPATHY`, `PERSUASION` | High |\\n| PE2 | What are their current beliefs or position? | Starting point | `PERSUASION`, `SYNTHESIS` | High |\\n| PE3 | What objections or concerns might they raise? | Anticipate resistance | `RISK`, `PERSUASION` | High |\\n| PE4 | What evidence or arguments do they find compelling? | Persuasion style | `PERSUASION`, `OBJECTIVE` | Medium |\\n| PE5 | What's their motivation \\u2014 what do they care about? | Values alignment | `EMPATHY`, `PERSUASION` | Medium |\\n| PE6 | What do you want them to do after being persuaded? | Call to action | `DECISIVE`, `PERSUASION` | Medium |\\n| PE7 | What's your relationship with this audience? | Trust level | `WARM`, `EMPATHY` | Medium |\\n| PE8 | What's at stake for them? | Their perspective | `EMPATHY`, `RISK` | Low |\\n| PE9 | Have you tried to persuade them before? What happened? | History | `ITERATIVE`, `SYNTHESIS` | Low |\\n| PE10 | What's the format for this persuasion (written, verbal, presentation)? | Medium | `STRUCTURE`, `PERSUASION` | Low |\\n\\n#### Conditional Questions\\n\\n- If pitch\\/proposal: \\\"What's the ask (funding, approval, buy-in)?\\\"\\n- If negotiation: \\\"What's your BATNA (best alternative)?\\\"\\n- If sales: \\\"Where are they in the buyer journey?\\\"\\n\\n---\\n\\n### FEEDBACK Tasks\\n\\nSelect 3-4 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| F1 | What aspects do you most want feedback on? | Focus area | `OBJECTIVE`, `ITERATIVE` | High |\\n| F2 | What's working well that should be preserved? | Identify strengths | `OBJECTIVE`, `EMPATHY` | High |\\n| F3 | What's the purpose of this work? | Context for evaluation | `SYNTHESIS`, `OBJECTIVE` | Medium |\\n| F4 | How candid can the feedback be? | Calibrate directness | `WARM`, `EMPATHY` | Medium |\\n| F5 | What will you do with the feedback? | Action orientation | `ITERATIVE`, `DECISIVE` | Medium |\\n| F6 | Who is the intended audience for this work? | Evaluation criteria | `EMPATHY`, `OBJECTIVE` | Medium |\\n| F7 | What's the timeline for revisions? | Urgency | `DETAIL` | Low |\\n| F8 | Are there specific criteria or standards to evaluate against? | Benchmarks | `OBJECTIVE`, `STRUCTURE` | Low |\\n\\n#### Conditional Questions\\n\\n- If writing: \\\"What style guide or standards apply?\\\"\\n- If design: \\\"What's the brand or aesthetic context?\\\"\\n- If code: \\\"What's the testing\\/review process?\\\"\\n\\n---\\n\\n### RESEARCH Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| R1 | What do you already know about this topic? | Starting point | `SYNTHESIS`, `DETAIL` | High |\\n| R2 | What specific questions need to be answered? | Research focus | `DETAIL`, `OBJECTIVE` | High |\\n| R3 | What sources are acceptable or preferred? | Source criteria | `OBJECTIVE`, `RISK` | Medium |\\n| R4 | What time period is relevant? | Temporal scope | `DETAIL` | Medium |\\n| R5 | How rigorous does this need to be (quick scan vs. thorough)? | Depth | `DETAIL`, `OBJECTIVE` | Medium |\\n| R6 | What format should findings take? | Output format | `STRUCTURE` | Medium |\\n| R7 | Who will use this research? | Audience | `EMPATHY`, `PERSUASION` | Medium |\\n| R8 | What would be surprising or change your approach? | Challenge assumptions | `EXPLORE`, `OBJECTIVE` | Low |\\n| R9 | What's the deadline? | Urgency | `DETAIL` | Low |\\n| R10 | Are there competing perspectives to consider? | Balance | `EXPLORE`, `SYNTHESIS` | Low |\\n\\n#### Conditional Questions\\n\\n- If market research: \\\"What geography or segment?\\\"\\n- If academic research: \\\"What's the citation style needed?\\\"\\n- If competitive research: \\\"Who are the key competitors to include?\\\"\\n\\n---\\n\\n### GOAL_SETTING Tasks\\n\\nSelect 3-4 questions from this pool.\\n\\n| ID | Question | Purpose | Cognitive Reqs | Priority |\\n|----|----------|---------|----------------|----------|\\n| G1 | What's the overarching vision this goal supports? | Strategic context | `VISION`, `SYNTHESIS` | High |\\n| G2 | What time frame applies to this goal? | Temporal scope | `DETAIL`, `VISION` | High |\\n| G3 | How will progress be measured? | Metrics definition | `OBJECTIVE`, `DETAIL` | High |\\n| G4 | What resources are available? | Feasibility | `DETAIL`, `OBJECTIVE` | Medium |\\n| G5 | What obstacles are anticipated? | Risk awareness | `RISK`, `VISION` | Medium |\\n| G6 | Who else needs to be aligned on this goal? | Stakeholders | `EMPATHY`, `PERSUASION` | Medium |\\n| G7 | What happens if the goal isn't achieved? | Stakes | `RISK`, `VISION` | Low |\\n| G8 | What's the stretch version versus minimum acceptable? | Ambition calibration | `DECISIVE`, `RISK` | Low |\\n\\n#### Conditional Questions\\n\\n- If team goal: \\\"How will individual contributions be tracked?\\\"\\n- If personal goal: \\\"What accountability structures help you?\\\"\\n- If business goal: \\\"How does this connect to revenue or growth?\\\"\\n\\n---\\n\\n## Framework Selection Questions\\n\\nWhen task category is unclear or multiple frameworks could apply, ask:\\n\\n| ID | Question | Purpose | Guides Selection |\\n|----|----------|---------|------------------|\\n| FS1 | Is precise tone and audience targeting critical? | CO-STAR indicator | Yes \\u2192 CO-STAR |\\n| FS2 | Does this require looking things up or using tools? | ReAct indicator | Yes \\u2192 ReAct |\\n| FS3 | Is first-draft quality insufficient\\u2014does this need iteration? | Self-Refine indicator | Yes \\u2192 Self-Refine |\\n| FS4 | Would stepping back to principles help before tackling specifics? | Step-Back indicator | Yes \\u2192 Step-Back |\\n| FS5 | Can the response be broken into parallel, independent points? | Skeleton-of-Thought indicator | Yes \\u2192 SoT |\\n| FS6 | Is the optimal prompt structure unclear? | Meta Prompting indicator | Yes \\u2192 Meta |\\n\\n---\\n\\n## Cross-Framework Question Combinations\\n\\nWhen tasks might benefit from combined frameworks:\\n\\n### CO-STAR + Self-Refine (High-Quality Content)\\n\\nAsk both:\\n- COS1-COS4 (audience, objective, style, tone)\\n- SRF1-SRF2 (quality criteria, priority aspects)\\n\\n### ReAct + Step-Back (Complex Problem-Solving)\\n\\nAsk both:\\n- REA1-REA3 (tools, goal, termination)\\n- STB1-STB2 (domain, principles)\\n\\n### Skeleton-of-Thought + CO-STAR (Structured Tonal Content)\\n\\nAsk both:\\n- SOT1-SOT3 (topic, scope, order)\\n- COS3-COS4 (style, tone)\\n\\n---\\n\\n## Question Selection Algorithm\\n\\n```\\n1. Identify task category (primary and secondary if applicable)\\n\\n2. Check for framework-specific indicators:\\n   - Tone\\/style critical? \\u2192 CO-STAR questions\\n   - Tool-using\\/research? \\u2192 ReAct questions\\n   - Quality-critical\\/iterative? \\u2192 Self-Refine questions\\n   - Principle-based reasoning? \\u2192 Step-Back questions\\n   - Parallel structure possible? \\u2192 Skeleton-of-Thought questions\\n   - Prompt creation task? \\u2192 Meta Prompting questions\\n\\n3. Start with Universal Questions:\\n   - Select 2-3 from U1-U6 based on task nature\\n   - Use personality-adjusted phrasing if available\\n\\n4. Add Framework-Specific Questions (if framework identified):\\n   - Select from the identified framework pool\\n   - Priority order: High \\u2192 Medium \\u2192 Low\\n   - Stop when sufficient clarity achieved\\n\\n5. Add Category-Specific Questions:\\n   - Select from the primary category pool\\n   - Base quantity on complexity:\\n     Simple: 2-3 category questions\\n     Moderate: 3-5 category questions\\n     Complex: 5-7 category questions\\n\\n6. Apply Personality Adjustments:\\n   - Adjust total count (see personality_calibration.md)\\n   - Adjust phrasing for personality patterns\\n   - If no personality: use neutral phrasing\\n\\n7. Add Framework Fit Verification if uncertain:\\n   - For Skeleton-of-Thought: Check interdependence\\n   - For ReAct: Verify tool availability\\n   - For Self-Refine: Confirm iteration acceptable\\n\\n8. Add Conditional Questions if triggered by context\\n\\n9. Sequence questions logically:\\n   - Context\\/scope questions first\\n   - Goal\\/success questions second\\n   - Constraints third\\n   - Specific details last\\n\\n10. Cap total questions:\\n    - Simple task + clear framework: 4-5 questions\\n    - Moderate task: 5-8 questions\\n    - Complex task + framework uncertainty: 8-12 questions\\n```\\n\\n---\\n\\n## Output Format for Questions\\n\\nReturn questions in this structure:\\n\\n```json\\n{\\n  \\\"questions\\\": [\\n    {\\n      \\\"id\\\": \\\"U2\\\",\\n      \\\"question\\\": \\\"What does success look like?\\\",\\n      \\\"purpose\\\": \\\"Define success criteria\\\",\\n      \\\"required\\\": true\\n    },\\n    {\\n      \\\"id\\\": \\\"COS3\\\",\\n      \\\"question\\\": \\\"What writing style fits best\\u2014formal, conversational, technical, storytelling?\\\",\\n      \\\"purpose\\\": \\\"Style determination for CO-STAR framework\\\",\\n      \\\"required\\\": true\\n    },\\n    {\\n      \\\"id\\\": \\\"S4\\\",\\n      \\\"question\\\": \\\"Who are the key stakeholders who need to buy in?\\\",\\n      \\\"purpose\\\": \\\"Identify stakeholder landscape\\\",\\n      \\\"required\\\": false\\n    }\\n  ],\\n  \\\"total_questions\\\": 6,\\n  \\\"complexity_assessment\\\": \\\"moderate\\\",\\n  \\\"framework_identified\\\": \\\"CO-STAR\\\",\\n  \\\"question_rationale\\\": \\\"Selected CO-STAR-focused questions with emphasis on audience and tone given the content creation context.\\\"\\n}\\n```\"}",
                            "type": "object"
                        }
                    ]
                },
                "options": []
            },
            "id": "c568698e-f63f-434c-95ba-bcb138e4fc23",
            "name": "Load Reference Documents",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -144,
                -336
            ],
            "notes": "Static reference documents embedded in workflow for fast access (no HTTP requests)"
        },
        {
            "parameters": {
                "jsCode": "// Collect workflow data\nconst webhookData = $('Webhook Trigger').first().json.body || {};\nconst referenceData = $('Load Reference Documents').first().json;\n\n// Get reference documents\nconst frameworkDoc = referenceData.framework_taxonomy;\nconst questionDoc = referenceData.question_bank;\n\n// Check if personality data exists BEFORE loading personality doc\nconst hasPersonalityData = !!webhookData.user_context?.personality?.type;\nconst personalityDoc = hasPersonalityData ? referenceData.personality_calibration : null;\n\nconst userContext = webhookData.user_context || null;\n\n// Helper: Build user context\nfunction buildUserContext(ctx) {\n    if (!ctx) return '';\n\n    const parts = [];\n    const loc = ctx.location;\n    const prof = ctx.professional;\n    const team = ctx.team;\n    const pref = ctx.preferences;\n\n    if (loc?.country) {\n        parts.push(\n            `Location: ${loc.country}${loc.city ? ` (${loc.city})` : ''}`\n        );\n        if (loc.timezone) parts.push(`TZ: ${loc.timezone}`);\n        if (loc.currency) parts.push(`Currency: ${loc.currency}`);\n        if (loc.language) parts.push(`Lang: ${loc.language}`);\n    }\n\n    if (prof?.job_title || prof?.industry) {\n        const p = [\n            prof.job_title,\n            prof.industry && `in ${prof.industry}`,\n            prof.experience_level && `(${prof.experience_level})`\n        ].filter(Boolean);\n        if (p.length) parts.push(`Professional: ${p.join(' ')}`);\n        if (prof.company_size) parts.push(`Company: ${prof.company_size}`);\n    }\n\n    if (team?.size || team?.role) {\n        const t = [\n            team.size && `${team.size} team`,\n            team.role && `${team.role} role`,\n            team.work_mode && `(${team.work_mode})`\n        ].filter(Boolean);\n        if (t.length) parts.push(`Team: ${t.join(', ')}`);\n    }\n\n    if (pref?.budget) parts.push(`Budget: ${pref.budget}`);\n    if (pref?.primary_programming_language)\n        parts.push(`Lang: ${pref.primary_programming_language}`);\n\n    return parts.length\n        ? '\\n\\n# User Context\\n- ' +\n        parts.join('\\n- ') +\n        '\\n\\nUse this context for framework/question recommendations.'\n        : '';\n}\n\nconst userContextString = buildUserContext(userContext);\n\n// Language instructions (concise, token-efficient)\nconst languageCode = userContext?.location?.language || 'en-GB';\nconst languageMap = {\n    'en-US': 'American English: Use American spelling (optimized, not optimised), MM/DD/YYYY dates, American terminology.',\n    'en-GB': 'British English: Use British spelling (optimised, not optimized), DD/MM/YYYY dates, British terminology.',\n    'fr': 'Fran\u00e7ais: R\u00e9pondez en fran\u00e7ais. Conventions de ponctuation fran\u00e7aises (espace avant \u00ab!\u00bb, \u00ab?\u00bb), dates au format JJ/MM/AAAA.',\n    'de': 'Deutsch: Antwortet auf Deutsch. Deutsche Konventionen (Datumsformat TT.MM.JJJJ), Kommas als Dezimaltrennzeichen.',\n    'es': 'Espa\u00f1ol: Responde en espa\u00f1ol. Convenciones espa\u00f1olas (fechas DD/MM/AAAA), puntuaci\u00f3n y terminolog\u00eda.'\n};\nconst languageInstructions = `\\n\\n# Language & Conventions\\n${languageMap[languageCode] || languageMap['en-GB']}`;\n\n// Check for forced framework\nconst forcedFrameworkCode = webhookData.forced_framework_code || null;\nconst frameworkInstructions = forcedFrameworkCode\n    ? `\\n## FORCED FRAMEWORK: ${forcedFrameworkCode}\\nYou MUST use ${forcedFrameworkCode} as selected_framework. Generate questions specific to it. Do NOT select a different framework.\\n`\n    : `\\n## FRAMEWORK SELECTION\n\nSelect the most appropriate framework by:\n\n1. **Identify candidate frameworks** for the task's primary category\n2. **Evaluate framework fit** based on:\n   - How well the framework's components match the task's cognitive requirements\n   - Whether the framework naturally supports the type of thinking needed\n   - The framework's complexity relative to task complexity\n3. **Select the best-fit framework**\n4. **Explain in plain English**: Write a rationale in second person explaining why this framework suits your task\n\n**Rationale Guidelines:**\n- Address the user directly (use \"you\" and \"your\")\n- Explain which aspects of the framework match the task needs\n- Keep it clear and jargon-free\n- NO mention of scoring, points, or numerical metrics\n- Focus on WHY this framework helps accomplish the task\n\n**Example rationale:**\n\"We've chosen the COAST framework for your strategy task because it naturally guides you through defining your vision (Context), setting clear objectives (Objective), and then working through the practical actions and tactics needed. This structured approach helps ensure you cover both the big-picture thinking and detailed execution planning your strategy requires.\"`\n\n// Build system prompt - conditionally include personality calibration only if data exists\nconst personalitySection = hasPersonalityData && personalityDoc\n    ? `\\n\\n## PERSONALITY CALIBRATION\\n${personalityDoc.content}`\n    : '';\n\nconst systemPrompt = `You analyze requests, classify tasks, identify cognitive requirements, select frameworks, perform Task-Trait Alignment, and generate questions. Return JSON only.${languageInstructions}\n\n## FRAMEWORK TAXONOMY\n${frameworkDoc.content || 'Not available'}${personalitySection}\n\n## QUESTION BANK\n${questionDoc.content || 'Not available'}\n\n---\n\n## TASK\n1. Classify task (primary/secondary category from taxonomy)\n   - If pre-analysis context provided: use task + context for classification\n2. Identify cognitive requirements\n${frameworkInstructions}\n4. Select framework (explain fit in second-person plain English - NO scoring)\n5. Perform Task-Trait Alignment (if personality data):\n   - AMPLIFY aligned traits (leverage strengths)\n   - COUNTERBALANCE opposing traits (inject requirements)\n   - NEUTRAL for unrelated traits\n5. Exclude questions based on pre-analysis context:\n   - Skip \"what type\" if subject known\n   - Skip \"why\" if purpose known\n   - Skip \"how detailed\" if detail level known\n6. Generate tailored questions\n   - REFERENCE questions by their order (Q1, Q2, Q3, etc.) not by codes\n   - EXPLAIN in second person what each question helps you clarify\n   - USE plain English without Cognitive Requirement names or codes\n   - Create a brief rationale explaining how these questions together help clarify your task${forcedFrameworkCode ? ' for ' + forcedFrameworkCode : ''}:\n   - PRIORITISE questions that address identified cognitive requirements\n   - Use \"Cognitive Reqs\" column in question bank to match questions to requirements\n   - Ensure at least 1 question addresses each PRIMARY cognitive requirement\n   - Balance: include universal + framework-specific + category-specific questions${hasPersonalityData ? '\\n7. Apply personality calibration to phrasing/quantity' : ''}\n\n## OUTPUT FORMAT\nReturn ONLY valid JSON (no markdown, no extra text):\n\n\\`\\`\\`json\n{\n  \"task_classification\": {\n    \"primary_category\": \"CODE\",\n    \"secondary_category\": null,\n    \"complexity\": \"simple|moderate|complex\",\n    \"classification_reasoning\": \"Brief explanation\",\n    \"content_type\": \"For CREATION_CONTENT only\"\n  },\n  \"cognitive_requirements\": {\n    \"primary\": [\"REQ_CODE\"],\n    \"secondary\": [\"REQ_CODE\"],\n    \"reasoning\": \"Why these apply\"\n  },\n  \"selected_framework\": {\n    \"name\": \"Name\",\n    \"code\": \"FRAMEWORK_CODE\",\n    \"components\": [\"C1\", \"C2\"],\n    \"rationale\": \"Second-person explanation of why this framework suits the task (plain English, no scoring)\"\n  },\n  \"alternative_frameworks\": [{\"name\": \"Alt\", \"code\": \"CODE\", \"when_to_use_instead\": \"Condition\"}],\n  \"personality_tier\": \"full|partial|none\",\n  \"task_trait_alignment\": {\n    \"NOTE\": \"ONLY include user's actual traits, not hypothetical\",\n    \"amplified\": [{\"trait\": \"Actual trait from user data\", \"requirement_aligned\": \"CODE\", \"reason\": \"Why helps\"}],\n    \"counterbalanced\": [{\"trait\": \"Actual trait\", \"requirement_opposed\": \"CODE\", \"reason\": \"Why blind spot\", \"injection\": \"Specific requirement to add to the prompt\"}],\n    \"neutral\": [{\"trait\": \"Actual trait\", \"reason\": \"Why irrelevant\"}]\n  },\n  \"personality_adjustments_preview\": [\"AMPLIFIED: desc\", \"COUNTERBALANCED: desc\"],\n  \"clarifying_questions\": [{\"id\": \"Q1\", \"question\": \"Text\", \"purpose\": \"Plain English explanation of what this question helps clarify for you (do not mention question codes or requirement names)\", \"required\": true}],\n  \"question_rationale\": \"Explain how the questions help you. Reference questions by their order (Q1, Q2 etc.) and describe in plain language what each one helps clarify, without using question codes or requirement names.\"\n}\n\\`\\`\\``;\n\n// Build personality info\nlet personalityInfo =\n    'No personality data. Skip Task-Trait Alignment, use neutral defaults.';\n\nif (hasPersonalityData) {\n    const p = webhookData.user_context.personality;\n    personalityInfo = `Type: ${p.type}`;\n\n    if (p.trait_percentages) {\n        const typeLetters = p.type.split('-');\n        const mainType = typeLetters[0];\n        const identity = typeLetters[1];\n        const t = p.trait_percentages;\n        const traits = [];\n\n        if (t.mind !== undefined) traits.push(`${mainType[0]} (${t.mind}%)`);\n        if (t.energy !== undefined)\n            traits.push(`${mainType[1]} (${t.energy}%)`);\n        if (t.nature !== undefined)\n            traits.push(`${mainType[2]} (${t.nature}%)`);\n        if (t.tactics !== undefined)\n            traits.push(`${mainType[3]} (${t.tactics}%)`);\n        if (t.identity !== undefined)\n            traits.push(`${identity} (${t.identity}%)`);\n\n        personalityInfo += `\\nTraits: ${traits.join(', ')}\\nAnalyze ONLY these traits. For each: AMPLIFIED, COUNTERBALANCED, or NEUTRAL.`;\n    } else {\n        personalityInfo +=\n            '\\nPercentages: Not provided (use 65% default)\\nPerform Task-Trait Alignment with defaults.';\n    }\n}\n\n// Helper: Extract display value from pre-analysis context\n// Values can be either:\n// - Strings (inferred directly): \"Database indexing...\"\n// - Objects with {question, answer, answer_label?} (user-provided): {answer: \"users cannot reset password\"}\nfunction extractContextValue(value) {\n    if (value === null || value === undefined) return null;\n    if (typeof value === 'string') return value;\n    if (typeof value === 'object') {\n        // Prefer answer_label (formatted choice) over answer (raw value)\n        if (value.answer_label) return value.answer_label;\n        if (value.answer !== undefined) return value.answer;\n    }\n    return null;\n}\n\n// Build pre-analysis section\nconst preAnalysisContext = webhookData.pre_analysis_context || null;\nlet preAnalysisSection = '';\n\nif (preAnalysisContext && Object.keys(preAnalysisContext).length > 0) {\n    const contextLines = [];\n\n    const subject = extractContextValue(preAnalysisContext.subject);\n    const audience = extractContextValue(preAnalysisContext.audience);\n    const purpose = extractContextValue(preAnalysisContext.purpose);\n    const outputFormat = extractContextValue(preAnalysisContext.output_format);\n    const detailLevel = extractContextValue(preAnalysisContext.detail_level);\n\n    if (subject) contextLines.push(`- **Subject:** ${subject}`);\n    if (audience) contextLines.push(`- **Audience:** ${audience}`);\n    if (purpose) contextLines.push(`- **Purpose:** ${purpose}`);\n    if (outputFormat) contextLines.push(`- **Output Format:** ${outputFormat}`);\n    if (detailLevel) contextLines.push(`- **Detail Level:** ${detailLevel}`);\n\n    if (contextLines.length > 0) {\n        preAnalysisSection = '\\n\\n**Pre-Analysis Context (Already Clarified):**\\n' + contextLines.join('\\n');\n        preAnalysisSection += '\\n\\n**Avoid Duplicate Questions:**\\n- DO NOT ask about information already provided\\n- Generate ONLY new questions not covered above';\n        preAnalysisSection += '\\n\\n**For Task-Trait Alignment:**\\n- If audience=\"self\" \u2192 Full personality optimization\\n- If audience=external \u2192 Still apply but note \"creating for others\"';\n    }\n}\n\n// Build user message\nlet userMessage = `Task: ${webhookData.task_description || 'No task'}${preAnalysisSection}\\n\\n**Personality:** ${personalityInfo}`;\n\nif (forcedFrameworkCode) {\n    userMessage += `\\n\\n**FORCED FRAMEWORK:** ${forcedFrameworkCode}\\nMUST use this. Generate specific questions for it.${userContextString}`;\n}\n\nreturn [\n    {\n        json: {\n            system: systemPrompt,\n            messages: [{ role: 'user', content: userMessage }]\n        }\n    }\n];"
            },
            "id": "6a3a2846-9292-4081-b126-878f9b9a91c1",
            "name": "Prepare Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                80,
                -336
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5',\n  max_tokens: 4096,\n  temperature: 0.1,\n  system: $json.system,\n  messages: $json.messages\n}) }}",
                "options": []
            },
            "id": "a0fe0f55-88a2-4d1f-975e-4d6037af543c",
            "name": "Call Anthropic API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                304,
                -336
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "5u3Dji2E1ZKRUSRX",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const apiResponse = $input.first().json;\nconst executionId = $execution.id || 'unknown';\nconst currentNode = 'Format Response';\n\nlet analysisData;\ntry {\n  // Extract text from Anthropic API response\n  let content = apiResponse.content?.[0]?.text || '';\n\n  if (!content) {\n    throw new Error('No content in API response');\n  }\n\n  // Remove any markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Claude sometimes generates JSON multiple times with explanation text in between\n  // Find ALL JSON objects and take the LAST one (most complete)\n  const jsonObjects = [];\n  let depth = 0;\n  let jsonStart = -1;\n\n  for (let i = 0; i < content.length; i++) {\n    if (content[i] === '{') {\n      if (depth === 0) jsonStart = i;\n      depth++;\n    } else if (content[i] === '}') {\n      depth--;\n      if (depth === 0 && jsonStart !== -1) {\n        jsonObjects.push(content.substring(jsonStart, i + 1));\n        jsonStart = -1;\n      }\n    }\n  }\n\n  if (jsonObjects.length === 0) {\n    throw new Error('No JSON object found in response');\n  }\n\n  // Take the last JSON object (most complete)\n  const jsonOnly = jsonObjects[jsonObjects.length - 1];\n\n  // Try to parse JSON\n  analysisData = JSON.parse(jsonOnly);\n\n} catch (e) {\n  // Enhanced error context for debugging\n  const errorType = e.message.includes('No content') ? 'api_error' : 'parsing_error';\n  const failedNode = e.message.includes('No content') ? 'Call Anthropic API' : currentNode;\n\n  return [{\n    json: {\n      success: false,\n      data: null,\n      api_usage: null,\n      error: {\n        message: 'Failed to parse LLM response',\n        details: e.message\n      },\n      error_context: {\n        error_type: errorType,\n        failed_node: failedNode,\n        execution_id: executionId,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n}\n\n// Extract API usage data\nconst apiUsage = {\n  model: apiResponse.model || 'claude-haiku-4-5',\n  input_tokens: apiResponse.usage?.input_tokens || 0,\n  output_tokens: apiResponse.usage?.output_tokens || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    data: analysisData,\n    api_usage: apiUsage,\n    error: null\n  }\n}];"
            },
            "id": "fedfbbc3-61fe-4d86-905e-7ac639b8a9b0",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                528,
                -336
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "b687fd26-1ad3-49d3-91dc-e3b5a4a0ce02",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                752,
                -336
            ]
        }
    ],
    "pinData": [],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Load Reference Documents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Reference Documents": {
            "main": [
                [
                    {
                        "node": "Prepare Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Prompt": {
            "main": [
                [
                    {
                        "node": "Call Anthropic API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Anthropic API": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "66f87d50-4ef1-40a5-af9c-bd7f1182d496",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
    },
    "id": "MGuVYvZDLTa3D09d",
    "tags": [
        {
            "updatedAt": "2025-11-25T10:54:37.163Z",
            "createdAt": "2025-11-25T10:54:37.163Z",
            "id": "JCf838Zrlbs7oBCN",
            "name": "prompt-framework"
        }
    ]
}