n8n/workflow_1.json
{
    "name": "workflow_1",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "api/n8n/webhook/analysis",
                "responseMode": "responseNode",
                "options": []
            },
            "id": "a992fac0-8f28-4c7b-83d3-4346838bd0c7",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -368,
                -336
            ],
            "webhookId": "prompt-analysis-webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "framework_taxonomy",
                            "name": "framework_taxonomy",
                            "value": "{\"content\": \"# Framework Taxonomy (Compressed)\\n\\n## Task Categories\\n\\n| Code | Description | Triggers |\\n|------|-------------|----------|\\n| `DECISION` | Choose between options, prioritise | \\\"decide\\\", \\\"choose\\\", \\\"which\\\", \\\"compare\\\", \\\"pros and cons\\\" |\\n| `STRATEGY` | Business strategy, roadmaps, long-term planning | \\\"strategy\\\", \\\"plan\\\", \\\"roadmap\\\", \\\"long-term\\\", \\\"growth\\\" |\\n| `ANALYSIS` | Understand data, examine situations, root cause | \\\"analyse\\\", \\\"understand why\\\", \\\"explain\\\", \\\"examine\\\", \\\"diagnose\\\" |\\n| `CREATION_CONTENT` | Writing, marketing, emails, communications | \\\"write\\\", \\\"draft\\\", \\\"blog\\\", \\\"email\\\", \\\"copy\\\", \\\"article\\\" |\\n| `CREATION_TECHNICAL` | Code, docs, specs, technical writing | \\\"code\\\", \\\"build\\\", \\\"develop\\\", \\\"API\\\", \\\"script\\\", \\\"documentation\\\" |\\n| `IDEATION` | Brainstorming, innovation, generating ideas | \\\"ideas\\\", \\\"brainstorm\\\", \\\"creative\\\", \\\"possibilities\\\", \\\"suggestions\\\" |\\n| `PROBLEM_SOLVING` | Fixing issues, troubleshooting | \\\"solve\\\", \\\"fix\\\", \\\"problem\\\", \\\"issue\\\", \\\"challenge\\\", \\\"overcome\\\" |\\n| `LEARNING` | Understanding concepts, education | \\\"learn\\\", \\\"understand\\\", \\\"explain to me\\\", \\\"teach me\\\", \\\"what is\\\" |\\n| `PERSUASION` | Convincing, selling, pitching | \\\"convince\\\", \\\"persuade\\\", \\\"pitch\\\", \\\"sell\\\", \\\"proposal\\\", \\\"negotiate\\\" |\\n| `FEEDBACK` | Reviewing, critiquing, improving work | \\\"review\\\", \\\"feedback\\\", \\\"improve\\\", \\\"critique\\\", \\\"refine\\\" |\\n| `RESEARCH` | Gathering information, investigation | \\\"research\\\", \\\"find out\\\", \\\"investigate\\\", \\\"gather information\\\" |\\n| `GOAL_SETTING` | Defining objectives, KPIs, targets | \\\"goal\\\", \\\"objective\\\", \\\"target\\\", \\\"KPI\\\", \\\"milestone\\\" |\\n\\n## Cognitive Requirements\\n\\n| Code | Description | Aligned Traits | Opposed Traits |\\n|------|-------------|----------------|----------------|\\n| `EMPATHY` | Understanding feelings, relationships | High F, High E | High T |\\n| `VISION` | Future thinking, patterns, concepts | High N, High P | High S |\\n| `DETAIL` | Step-by-step specificity, concrete actions | High S, High J | High N, High P |\\n| `DECISIVE` | Clear conclusions, confident guidance | High J, High A | High P, High T-identity |\\n| `EXPLORE` | Option generation, avoiding premature closure | High P, High N | High J |\\n| `OBJECTIVE` | Logic, evidence-based analysis | High T, High S | High F |\\n| `RISK` | Identifying problems, downsides | High T-identity, High T | High A |\\n| `CREATIVE` | Novel ideas, unconventional thinking | High N, High P | High S, High J |\\n| `STRUCTURE` | Clear organisation, logical flow | High J, High T | High P |\\n| `WARM` | Warmth, rapport-building | High F, High E | High T |\\n\\n## Task \\u2192 Requirements Mapping\\n\\n| Task | Primary Requirements | Secondary Requirements |\\n|------|---------------------|----------------------|\\n| `DECISION` | `OBJECTIVE`, `RISK` | `DECISIVE`, `EXPLORE` |\\n| `STRATEGY` | `VISION`, `DETAIL` | `RISK`, `DECISIVE` |\\n| `ANALYSIS` | `OBJECTIVE`, `DETAIL` | `RISK` |\\n| `CREATION_CONTENT` | Varies (see content types) | `STRUCTURE` |\\n| `CREATION_TECHNICAL` | `DETAIL`, `OBJECTIVE` | `STRUCTURE` |\\n| `IDEATION` | `CREATIVE`, `EXPLORE` | `VISION` |\\n| `PROBLEM_SOLVING` | `OBJECTIVE`, `DETAIL` | `RISK`, `EXPLORE` |\\n| `LEARNING` | `STRUCTURE` | Varies |\\n| `PERSUASION` | `EMPATHY`, `WARM` | `STRUCTURE` |\\n| `FEEDBACK` | `EMPATHY`, `OBJECTIVE` | `WARM` |\\n| `RESEARCH` | `OBJECTIVE`, `EXPLORE` | `DETAIL` |\\n| `GOAL_SETTING` | `DETAIL`, `DECISIVE` | `VISION` |\\n\\n### Content Types (CREATION_CONTENT)\\n\\n| Type | Triggers | Primary Reqs | Secondary Reqs |\\n|------|----------|--------------|----------------|\\n| Customer email | \\\"email to customer\\\", \\\"client email\\\" | `EMPATHY`, `WARM`, `STRUCTURE` | |\\n| Marketing copy | \\\"marketing\\\", \\\"ad copy\\\", \\\"landing page\\\" | `EMPATHY`, `CREATIVE`, `DECISIVE` | |\\n| Technical blog | \\\"technical post\\\", \\\"how-to\\\" | `OBJECTIVE`, `STRUCTURE`, `DETAIL` | |\\n| Executive summary | \\\"executive summary\\\", \\\"brief for leadership\\\" | `DECISIVE`, `STRUCTURE` | |\\n| Apology/bad news | \\\"apologise\\\", \\\"bad news\\\", \\\"discontinuing\\\" | `EMPATHY`, `WARM`, `RISK` | |\\n| Sales pitch | \\\"sales\\\", \\\"pitch\\\", \\\"proposal\\\" | `EMPATHY`, `DECISIVE`, `CREATIVE` | |\\n\\n## Frameworks (Essential Info Only)\\n\\n**IMPORTANT:** Each framework has an explicit `code` field that MUST be used exactly as shown when referencing the framework template.\\n\\n### Structured Clarity\\n- **CRISPE** (`CRISPE`): Clarity, Relevance, Iteration, Specificity, Parameters, Examples. For: technical docs, strategic planning. Complexity: Medium\\n- **RELIC** (`RELIC`): Role, Emphasis, Limitation, Information, Challenge. For: content creation, strategic planning. Complexity: Medium\\n- **RTF** (`RTF`): Request, Task, Format. For: data retrieval, simple requests. Complexity: Low\\n\\n### Iterative Refinement\\n- **RACEF** (`RACEF`): Rephrase, Append, Contextualize, Examples, Follow-Up. For: brainstorming, iterative problem-solving. Complexity: Medium\\n- **Chain of Destiny** (`CHAIN_OF_DESTINY`): Baseline + Feedback loops. For: projects prioritising quality. Complexity: High\\n\\n### Decision-Making & Prioritisation\\n- **RICE** (`RICE`): Reach, Impact, Confidence, Effort. For: feature prioritisation, project selection. Complexity: Low\\n- **SMART** (`SMART`): Specific, Measurable, Achievable, Relevant, Time-bound. For: goal-setting. Complexity: Low\\n- **COAST** (`COAST`): Challenge, Objective, Actions, Strategy, Tactics. For: project management. Complexity: Medium\\n- **Pros and Cons** (`PROS_AND_CONS`): Benefits vs Drawbacks. For: decision-making. Complexity: Low\\n\\n### Analytical & Problem-Solving\\n- **Chain of Thought** (`CHAIN_OF_THOUGHT`): Intro, Breakdown, Logical Progression, Conclusion. For: complex reasoning. Complexity: High\\n- **Tree of Thought** (`TREE_OF_THOUGHT`): Nodes, Edges, Outcomes. For: complex problem-solving, scenario planning. Complexity: High\\n- **FOCUS** (`FOCUS`): Focus areas, Prioritisation, Resources. For: goal-setting and prioritisation. Complexity: Medium\\n- **Six Thinking Hats** (`SIX_THINKING_HATS`): White (facts), Red (emotions), Black (risks), Yellow (benefits), Green (creativity), Blue (process). For: multi-perspective analysis. Complexity: Medium\\n\\n### Storytelling & Narrative\\n- **BAB** (`BAB`): Before, After, Bridge. For: marketing, persuasion. Complexity: Low\\n- **CAR** (`CAR`): Context, Action, Result. For: case studies, interviews. Complexity: Low\\n- **PAR** (`PAR`): Problem, Action, Result. For: success stories. Complexity: Low\\n- **STAR** (`STAR`): Situation, Task, Action, Result. For: interviews, case studies. Complexity: Low\\n- **Challenge-Solution-Benefit** (`CHALLENGE_SOLUTION_BENEFIT`): For: marketing, product development. Complexity: Low\\n\\n### Content Creation\\n- **BLOG** (`BLOG`): Background, Logic, Outline, Goal. For: blog posts, articles. Complexity: Low\\n- **APE** (`APE`): Audience, Purpose, Execution. For: content marketing. Complexity: Low\\n- **TAG** (`TAG`): Topic, Audience, Goal. For: content marketing. Complexity: Low\\n- **4S Method** (`4S_METHOD`): Structure, Style, Substance, Speed. For: digital marketing. Complexity: Low\\n- **Hamburger** (`HAMBURGER`): Intro, Body, Conclusion. For: blogs, articles. Complexity: Low\\n\\n### Creative & Innovation\\n- **SCAMPER** (`SCAMPER`): Substitute, Combine, Adapt, Modify, Put to another use, Eliminate, Reverse. For: innovation, product development. Complexity: Medium\\n- **HMW** (`HMW`): \\\"How might we...\\\" questions. For: design thinking, brainstorming. Complexity: Low\\n- **Imagine** (`IMAGINE`): Future scenario visioning. For: strategic planning. Complexity: Low\\n- **What If** (`WHAT_IF`): Hypothetical scenarios. For: creative problem-solving. Complexity: Low\\n- **SPARK** (`SPARK`): Situation, Problem, Aspiration, Result, Kismet. For: product development, marketing. Complexity: Medium\\n\\n### Educational & Learning\\n- **Bloom's Taxonomy** (`BLOOMS_TAXONOMY`): Remember \\u2192 Understand \\u2192 Apply \\u2192 Analyze \\u2192 Evaluate \\u2192 Create. For: educational content. Complexity: Medium\\n- **ELI5** (`ELI5`): Explain Like I'm 5. For: simplifying complex concepts. Complexity: Low\\n- **Help Me Understand** (`HELP_ME_UNDERSTAND`): Comprehension-focused. For: customer support, education. Complexity: Low\\n- **TQA** (`TQA`): Thematic, Question, Answer. For: e-learning. Complexity: Low\\n- **Socratic Method** (`SOCRATIC_METHOD`): Progressive questioning. For: education, critical analysis. Complexity: Medium\\n\\n### Communication & Engagement\\n- **RACE** (`RACE`): Reach, Act, Convert, Engage. For: marketing campaigns. Complexity: Medium\\n- **ERA** (`ERA`): Engage, React, Act. For: marketing, engagement. Complexity: Low\\n- **CARE** (`CARE`): Compassion, Awareness, Response, Engagement. For: customer service. Complexity: Medium\\n\\n### Strategic Analysis\\n- **3Cs** (`3CS`): Company, Customer, Competitor. For: market analysis. Complexity: Medium\\n- **GOPA** (`GOPA`): Goals, Obstacles, Plans, Actions. For: goal setting, problem-solving. Complexity: Low\\n\\n### Feedback & Improvement\\n- **RISE** (`RISE`): Reflect, Inquire, Suggest, Elevate. For: performance management. Complexity: Medium\\n- **ROSES** (`ROSES`): Recognize, Observe, Strategize, Execute, Study. For: complex projects. Complexity: Medium\\n- **PEE** (`PEE`): Point, Evidence, Explanation. For: academic writing, critiques. Complexity: Low\\n\\n### Advanced Structured\\n- **RASCEF** (`RASCEF`): Role, Action, Steps, Context, Examples, Format. For: technical documentation. Complexity: Medium\\n- **RHODES** (`RHODES`): Role, Objective, Details, Examples, Sense Check. For: creative content, marketing. Complexity: Medium\\n- **RISEN** (`RISEN`): Role, Input, Steps, Expectation, Novelty. For: research, innovation. Complexity: Medium\\n- **GRADE** (`GRADE`): Goal, Request, Action, Details, Example. For: project management. Complexity: Medium\\n- **TRACI** (`TRACI`): Task, Role, Audience, Create, Intent. For: marketing, education. Complexity: Medium\\n- **RODES** (`RODES`): Role, Objective, Details, Examples, Sense Check. For: educational content. Complexity: Medium\\n- **CIDI** (`CIDI`): Context, Instructions, Details, Input. For: project management. Complexity: Medium\\n\\n### Argumentation\\n- **TRACE** (`TRACE`): Topic, Reason, Audience, Counterargument, Evidence. For: debate, persuasive writing. Complexity: Medium\\n- **SPAR** (`SPAR`): Situation, Problem, Action, Result. For: case studies. Complexity: Low\\n- **PROMPT** (`PROMPT`): Precision, Relevance, Objectivity, Method, Provenance, Timeliness. For: research, journalism. Complexity: Medium\\n\\n### Specialised\\n- **SPEAR** (`SPEAR`): Start, Provide, Explain, Ask, Rinse & Repeat. For: everyday tasks. Complexity: Low\\n- **Few-Shot** (`FEW_SHOT`): Task + Demonstrations + Query. For: classification, creative content. Complexity: Low\\n- **Zero-Shot** (`ZERO_SHOT`): Direct instruction without examples. For: translation, factual queries. Complexity: Low\\n- **ORID** (`ORID`): Objective, Reflective, Interpretive, Decisional. For: group discussions, coaching. Complexity: Medium\\n- **PAUSE** (`PAUSE`): Prepare, Assess, Uncover, Synthesize, Execute. For: management decisions. Complexity: Medium\\n- **Elicitation** (`ELICITATION`): Structured information extraction. For: research, interviews. Complexity: Medium\\n\\n### Visual & Dialogue\\n- **Atomic Prompting** (`ATOMIC_PROMPTING`): Detailed visual specs. For: image generation (Midjourney, DALL-E). Complexity: Medium\\n- **Five Ws and One H** (`FIVE_WS_AND_ONE_H`): Who, What, When, Where, Why, How. For: journalism, research. Complexity: Low\\n\\n## Framework-to-Category Mapping\\n\\n**NOTE:** Use the framework codes shown in parentheses when selecting frameworks.\\n\\n### DECISION\\nPrimary: RICE (`RICE`), Pros and Cons (`PROS_AND_CONS`), Tree of Thought (`TREE_OF_THOUGHT`)\\nSecondary: SMART (`SMART`), Six Thinking Hats (`SIX_THINKING_HATS`), ORID (`ORID`), PAUSE (`PAUSE`)\\n\\n### STRATEGY\\nPrimary: COAST (`COAST`), 3Cs Model (`3CS`), GOPA (`GOPA`), SMART (`SMART`)\\nSecondary: Chain of Thought (`CHAIN_OF_THOUGHT`), ROSES (`ROSES`), RELIC (`RELIC`)\\n\\n### ANALYSIS\\nPrimary: Chain of Thought (`CHAIN_OF_THOUGHT`), Tree of Thought (`TREE_OF_THOUGHT`), FOCUS (`FOCUS`)\\nSecondary: Five Ws and One H (`FIVE_WS_AND_ONE_H`), PROMPT (`PROMPT`), Socratic Method (`SOCRATIC_METHOD`), Six Thinking Hats (`SIX_THINKING_HATS`)\\n\\n### CREATION_CONTENT\\nPrimary: BLOG (`BLOG`), TAG (`TAG`), APE (`APE`), 4S Method (`4S_METHOD`)\\nSecondary: Hamburger Model (`HAMBURGER`), CRISPE (`CRISPE`), TRACI (`TRACI`)\\n\\n### CREATION_TECHNICAL\\nPrimary: RASCEF (`RASCEF`), CRISPE (`CRISPE`), RTF (`RTF`)\\nSecondary: CIDI (`CIDI`), Zero-Shot (`ZERO_SHOT`), GRADE (`GRADE`)\\n\\n### IDEATION\\nPrimary: SCAMPER (`SCAMPER`), HMW (`HMW`), What If (`WHAT_IF`), Imagine (`IMAGINE`)\\nSecondary: Tree of Thought (`TREE_OF_THOUGHT`), SPARK (`SPARK`), Six Thinking Hats (`SIX_THINKING_HATS`)\\n\\n### PROBLEM_SOLVING\\nPrimary: Chain of Thought (`CHAIN_OF_THOUGHT`), GOPA (`GOPA`), ROSES (`ROSES`), PAUSE (`PAUSE`)\\nSecondary: Tree of Thought (`TREE_OF_THOUGHT`), Six Thinking Hats (`SIX_THINKING_HATS`), Five Ws and One H (`FIVE_WS_AND_ONE_H`)\\n\\n### LEARNING\\nPrimary: ELI5 (`ELI5`), Bloom's Taxonomy (`BLOOMS_TAXONOMY`), TQA (`TQA`), Help Me Understand (`HELP_ME_UNDERSTAND`)\\nSecondary: Socratic Method (`SOCRATIC_METHOD`), Few-Shot (`FEW_SHOT`)\\n\\n### PERSUASION\\nPrimary: BAB (`BAB`), Challenge-Solution-Benefit (`CHALLENGE_SOLUTION_BENEFIT`), TRACE (`TRACE`), PEE (`PEE`)\\nSecondary: CAR (`CAR`), PAR (`PAR`), STAR (`STAR`), RACE (`RACE`)\\n\\n### FEEDBACK\\nPrimary: RISE (`RISE`), ROSES (`ROSES`), PEE (`PEE`)\\nSecondary: Chain of Destiny (`CHAIN_OF_DESTINY`), RACEF (`RACEF`)\\n\\n### RESEARCH\\nPrimary: PROMPT (`PROMPT`), Five Ws and One H (`FIVE_WS_AND_ONE_H`), Elicitation (`ELICITATION`)\\nSecondary: Chain of Thought (`CHAIN_OF_THOUGHT`), RODES (`RODES`)\\n\\n### GOAL_SETTING\\nPrimary: SMART (`SMART`), GOPA (`GOPA`)\\nSecondary: COAST (`COAST`), FOCUS (`FOCUS`)\\n\\n## Selection Algorithm\\n\\n1. Classify task into category\\n2. Retrieve candidate frameworks from mapping\\n3. Prefer \\\"Primary\\\" frameworks\\n4. Match complexity:\\n   - Simple task \\u2192 Low complexity framework\\n   - Moderate task \\u2192 Low or Medium complexity\\n   - Complex task \\u2192 Medium or High complexity\\n5. Select ONE framework for construction\\n6. Note alternatives\\n\\nComplexity criteria:\\n- **Simple**: Single-step, clear output, minimal context\\n- **Moderate**: Multi-step, some ambiguity, needs context\\n- **Complex**: Multi-faceted, significant ambiguity, extensive context, multiple stakeholders\\n\"}",
                            "type": "object"
                        },
                        {
                            "id": "personality_calibration",
                            "name": "personality_calibration",
                            "value": "{\"content\":\"# Personality Calibration\\n\\n## Purpose\\n\\nThis document provides rules for adjusting prompt style, question phrasing, and output format based on the user's personality type and trait percentages. It includes the Task-Trait Alignment system for determining when to amplify, counterbalance, or remain neutral on each personality dimension.\\n\\nWhen no personality data is provided, skip all personality-based adjustments and use neutral defaults.\\n\\n---\\n\\n## The 16Personalities Framework Overview\\n\\nThe 16Personalities model uses five independent scales:\\n\\n| Scale | Dimension | Low End | High End |\\n|-------|-----------|---------|----------|\\n| Mind | Energy direction | Introverted (I) | Extraverted (E) |\\n| Energy | Information processing | Observant\\/Sensing (S) | Intuitive (N) |\\n| Nature | Decision making | Feeling (F) | Thinking (T) |\\n| Tactics | Approach to structure | Prospecting\\/Perceiving (P) | Judging (J) |\\n| Identity | Self-confidence | Turbulent (T) | Assertive (A) |\\n\\n### Percentage Interpretation\\n\\nThe percentages indicate strength of preference on each scale:\\n\\n| Percentage Range | Interpretation | Adjustment Weight |\\n|------------------|----------------|-------------------|\\n| 50-55% | Borderline \\u2014 both approaches viable | 0.25 (minimal) |\\n| 55-65% | Moderate preference | 0.50 (standard) |\\n| 65-75% | Clear preference | 0.75 (significant) |\\n| 75%+ | Strong preference | 1.00 (maximum) |\\n\\n---\\n\\n## Handling Missing Personality Data\\n\\n### Tier 1: Full Data (Type + Percentages)\\n- User provides: e.g., \\\"INTP-A\\\" with \\\"I:65%, N:64%, T:84%, P:57%, A:84%\\\"\\n- Action: Apply full personality calibration with Task-Trait Alignment\\n\\n### Tier 2: Partial Data (Type Only)\\n- User provides: e.g., \\\"INTP-A\\\" without percentages\\n- Action: Default all traits to 65% and apply standard calibration\\n- Example: INTP-A \\u2192 I:65%, N:65%, T:65%, P:65%, A:65%\\n\\n### Tier 3: No Data\\n- User provides: No personality information\\n- Action: Skip ALL personality-based adjustments\\n- Use neutral, professional defaults throughout\\n- Note in output: \\\"No personality adjustments applied \\u2014 task-driven approach used\\\"\\n\\n---\\n\\n## Task-Trait Alignment System\\n\\n### Core Principle\\n\\nRather than always amplifying or always counterbalancing personality traits, the system should:\\n\\n1. **Amplify** traits that are assets for the specific task\\n2. **Counterbalance** traits that create blind spots for the task\\n3. **Remain neutral** on traits irrelevant to the task\\n\\n### Task Cognitive Requirements\\n\\nEvery task has inherent cognitive requirements. These requirements may align with, oppose, or be unrelated to specific personality traits.\\n\\n#### Requirement: Empathy & Stakeholder Awareness\\n\\nTasks requiring understanding of human feelings, relationships, and interpersonal impact.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject empathy requirements |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 natural social awareness |\\n| High I (\\u226560%) | **Neutral** | May need slight encouragement to consider others |\\n\\n**Counterbalance injection for High T:**\\n- Add explicit requirements: \\\"Consider how this will make the recipient feel\\\"\\n- Include stakeholder impact analysis\\n- Request acknowledgment of emotional dimensions\\n\\n#### Requirement: Big-Picture Strategic Vision\\n\\nTasks requiring future thinking, pattern recognition, and conceptual frameworks.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for broader perspective |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 openness to possibilities |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Step back and consider the broader implications\\\"\\n- Request future-state visioning\\n- Ask for pattern identification across examples\\n\\n#### Requirement: Detailed Execution Planning\\n\\nTasks requiring step-by-step specificity, concrete actions, and practical implementation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural planning ability |\\n| High N (\\u226560%) | **Misaligned** | Counterbalance \\u2014 force granular detail |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 require specific commitments |\\n\\n**Counterbalance injection for High N:**\\n- Add requirements: \\\"Provide specific, concrete steps\\\"\\n- Request timelines, milestones, and measurable actions\\n- Ask for practical implementation details, not just concepts\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Commit to specific actions and dates\\\"\\n- Request prioritised task lists\\n- Ask for clear sequencing and dependencies\\n\\n#### Requirement: Decisive Recommendations\\n\\nTasks requiring clear conclusions, prioritised options, and confident guidance.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural decisiveness |\\n| High A (\\u226560%) | **Aligned** | Amplify \\u2014 natural confidence |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for commitment |\\n| High T-identity (\\u226560%) | **Misaligned** | Counterbalance \\u2014 reduce excessive hedging |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Provide a clear, prioritised recommendation\\\"\\n- Request \\\"If you had to choose one...\\\" framing\\n- Limit options presented to top 2-3\\n\\n**Counterbalance injection for High T-identity (Turbulent):**\\n- Add requirements: \\\"State your recommendation confidently\\\"\\n- Request clear language without excessive caveats\\n- Ask for \\\"recommended\\\" not \\\"you might consider\\\"\\n\\n#### Requirement: Exploring Multiple Options\\n\\nTasks requiring divergent thinking, option generation, and avoiding premature closure.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 natural openness |\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 prevent premature closure |\\n| High A (\\u226560%) | **Slightly misaligned** | May dismiss options too quickly |\\n\\n**Counterbalance injection for High J:**\\n- Add requirements: \\\"Generate at least 4-5 distinct options before evaluating\\\"\\n- Request \\\"what else could work?\\\" exploration\\n- Explicitly delay recommendation until options are fully explored\\n\\n#### Requirement: Objective Analysis\\n\\nTasks requiring dispassionate evaluation, logical reasoning, and evidence-based conclusions.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 focuses on facts |\\n| High F (\\u226560%) | **Misaligned** | Counterbalance \\u2014 emphasise data over feelings |\\n\\n**Counterbalance injection for High F:**\\n- Add requirements: \\\"Base conclusions on evidence and data\\\"\\n- Request separation of facts from feelings\\n- Ask for objective criteria before subjective considerations\\n\\n#### Requirement: Risk Awareness\\n\\nTasks requiring identification of potential problems, downsides, and failure modes.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T-identity (\\u226560%) | **Aligned** | Amplify \\u2014 natural risk sensitivity |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 analytical about risks |\\n| High A (\\u226560%) | **Misaligned** | Counterbalance \\u2014 may underweight risks |\\n| High N (\\u226560%) | **Slightly misaligned** | May focus on possibilities over risks |\\n\\n**Counterbalance injection for High A:**\\n- Add requirements: \\\"Explicitly identify what could go wrong\\\"\\n- Request risk\\/downside analysis section\\n- Ask \\\"What would cause this to fail?\\\"\\n\\n#### Requirement: Creative Innovation\\n\\nTasks requiring novel ideas, unconventional thinking, and breaking from established patterns.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 open to unconventional |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push beyond conventional |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 loosen structure requirements |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Consider unconventional approaches\\\"\\n- Request \\\"What if we ignored current constraints?\\\" thinking\\n- Ask for ideas that challenge assumptions\\n\\n#### Requirement: Structured Communication\\n\\nTasks requiring clear organisation, logical flow, and professional presentation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural organiser |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 logical structure |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 impose structure |\\n| High F (\\u226560%) | **Neutral** | May prefer narrative over structure |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Use clear headings and logical sections\\\"\\n- Request numbered lists for sequential items\\n- Ask for executive summary upfront\\n\\n#### Requirement: Warm\\/Relational Tone\\n\\nTasks requiring warmth, rapport-building, and relationship-focused communication.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural warmth |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 social orientation |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject warmth |\\n| High I (\\u226560%) | **Neutral** | May need encouragement for warmth |\\n\\n**Counterbalance injection for High T:**\\n- Add requirements: \\\"Open with personal acknowledgment\\\"\\n- Request relationship-affirming language\\n- Ask for tone that prioritises connection over efficiency\\n\\n---\\n\\n### Task Category to Cognitive Requirements Mapping\\n\\n| Task Category | Primary Requirements | Secondary Requirements |\\n|---------------|---------------------|----------------------|\\n| DECISION | Objective Analysis, Risk Awareness | Decisive Recommendations |\\n| STRATEGY | Big-Picture Vision, Detailed Planning | Risk Awareness, Decisive Recommendations |\\n| ANALYSIS | Objective Analysis, Detailed Planning | Risk Awareness |\\n| CREATION_CONTENT | Varies by content type | Structured Communication |\\n| CREATION_TECHNICAL | Detailed Planning, Objective Analysis | Structured Communication |\\n| IDEATION | Creative Innovation, Exploring Options | Big-Picture Vision |\\n| PROBLEM_SOLVING | Objective Analysis, Detailed Planning | Risk Awareness, Exploring Options |\\n| LEARNING | Structured Communication | Varies by learner |\\n| PERSUASION | Empathy & Stakeholder Awareness, Warm Tone | Structured Communication |\\n| FEEDBACK | Empathy & Stakeholder Awareness, Objective Analysis | Warm Tone |\\n| RESEARCH | Objective Analysis, Exploring Options | Detailed Planning |\\n| GOAL_SETTING | Detailed Planning, Decisive Recommendations | Big-Picture Vision |\\n\\n### Content-Type Specific Requirements\\n\\nFor CREATION_CONTENT tasks, requirements vary by content type:\\n\\n| Content Type | Primary Requirements |\\n|--------------|---------------------|\\n| Customer email | Empathy, Warm Tone, Structured Communication |\\n| Marketing copy | Empathy, Creative Innovation, Decisive Recommendations |\\n| Technical blog | Objective Analysis, Structured Communication, Detailed Planning |\\n| Executive summary | Decisive Recommendations, Structured Communication |\\n| Apology\\/bad news | Empathy, Warm Tone, Risk Awareness |\\n| Sales pitch | Empathy, Decisive Recommendations, Creative Innovation |\\n| Internal memo | Structured Communication, Objective Analysis |\\n| Social media | Creative Innovation, Warm Tone |\\n\\n---\\n\\n## Task-Trait Alignment Algorithm\\n\\n```\\n1. Identify the task category and content type (if applicable)\\n\\n2. Determine cognitive requirements:\\n   - Look up primary requirements from Task Category mapping\\n   - Add content-type specific requirements if CREATION_CONTENT\\n   - Consider any explicit requirements mentioned by user\\n\\n3. For each of the user's personality traits (where \\u226555%):\\n\\n   a. Check alignment against each cognitive requirement:\\n      - If trait ALIGNS with requirement \\u2192 Mark for AMPLIFICATION\\n      - If trait OPPOSES requirement \\u2192 Mark for COUNTERBALANCING\\n      - If trait is UNRELATED to requirement \\u2192 Mark as NEUTRAL\\n\\n   b. Resolve conflicts (trait aligns with one requirement, opposes another):\\n      - Prioritise primary requirements over secondary\\n      - If still conflicted, lean toward counterbalancing (safety)\\n\\n4. Generate adjustment actions:\\n   - For AMPLIFY: Use trait-aligned language and structure\\n   - For COUNTERBALANCE: Inject explicit requirements user might skip\\n   - For NEUTRAL: No specific adjustment\\n\\n5. Document the alignment analysis for transparency\\n```\\n\\n---\\n\\n## Composite Personality Profiles\\n\\nCertain trait combinations create recognisable patterns. Apply Task-Trait Alignment to the dominant traits in each profile.\\n\\n### Analyst Profile (NT Combination)\\n\\n**Traits**: High N + High T\\n**Natural Strengths**: Systems thinking, pattern recognition, logical frameworks\\n**Common Blind Spots**: May underweight emotional\\/relational factors\\n\\n**Default Amplification Contexts:**\\n- Strategic analysis, competitive intelligence\\n- Technical architecture decisions\\n- Data-driven decision making\\n\\n**Common Counterbalance Needs:**\\n- Customer communications \\u2192 Inject empathy requirements\\n- Team management \\u2192 Inject relationship considerations\\n- Change management \\u2192 Inject stakeholder feelings\\n\\n### Diplomat Profile (NF Combination)\\n\\n**Traits**: High N + High F\\n**Natural Strengths**: Meaning-seeking, values-driven, visionary\\n**Common Blind Spots**: May underweight practical\\/analytical factors\\n\\n**Default Amplification Contexts:**\\n- Vision and mission work\\n- Culture and values initiatives\\n- Stakeholder relationship management\\n\\n**Common Counterbalance Needs:**\\n- Financial analysis \\u2192 Inject objectivity requirements\\n- Technical decisions \\u2192 Inject data-driven criteria\\n- Implementation planning \\u2192 Inject concrete specifics\\n\\n### Sentinel Profile (SJ Combination)\\n\\n**Traits**: High S + High J\\n**Natural Strengths**: Detail-oriented, process-focused, reliable execution\\n**Common Blind Spots**: May underweight innovation\\/big-picture factors\\n\\n**Default Amplification Contexts:**\\n- Process documentation\\n- Quality assurance\\n- Implementation and execution planning\\n\\n**Common Counterbalance Needs:**\\n- Innovation projects \\u2192 Inject possibility thinking\\n- Strategy development \\u2192 Inject big-picture vision\\n- Brainstorming \\u2192 Inject unconventional thinking\\n\\n### Explorer Profile (SP Combination)\\n\\n**Traits**: High S + High P\\n**Natural Strengths**: Pragmatic, adaptable, action-oriented\\n**Common Blind Spots**: May underweight planning\\/commitment factors\\n\\n**Default Amplification Contexts:**\\n- Rapid prototyping\\n- Tactical problem-solving\\n- Hands-on execution\\n\\n**Common Counterbalance Needs:**\\n- Long-term planning \\u2192 Inject structure and commitment\\n- Documentation \\u2192 Inject thoroughness requirements\\n- Strategic decisions \\u2192 Inject future-state thinking\\n\\n---\\n\\n## Question Quantity Calibration\\n\\nAdjust the number of clarifying questions based on personality:\\n\\n### Baseline by Task Complexity\\n\\n| Complexity | Base Questions |\\n|------------|----------------|\\n| Simple | 3-4 |\\n| Moderate | 5-7 |\\n| Complex | 8-10 |\\n\\n### Personality Adjustments\\n\\n| Factor | Adjustment |\\n|--------|------------|\\n| High J (\\u226565%) | -1 question (wants to proceed) |\\n| High P (\\u226565%) | +1 question (comfortable exploring) |\\n| High A (\\u226565%) | -1 question (confident in own judgment) |\\n| High T-identity (\\u226565%) | +1 question (wants thoroughness) |\\n| High I (\\u226565%) | Fewer but deeper questions |\\n| High E (\\u226565%) | Can handle more conversational flow |\\n\\n### Minimum and Maximum\\n\\n- **Minimum**: 2 questions (for very simple tasks)\\n- **Maximum**: 12 questions (for highly complex tasks with Turbulent users)\\n\\n---\\n\\n## Output Format for Personality Calibration\\n\\nWhen returning personality calibration data, include the Task-Trait Alignment analysis:\\n\\n```json\\n{\\n  \\\"personality_tier\\\": \\\"full | partial | none\\\",\\n  \\\"traits_used\\\": {\\n    \\\"I_E\\\": {\\\"value\\\": 65, \\\"direction\\\": \\\"I\\\", \\\"weight\\\": 0.75},\\n    \\\"S_N\\\": {\\\"value\\\": 64, \\\"direction\\\": \\\"N\\\", \\\"weight\\\": 0.50},\\n    \\\"T_F\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"T\\\", \\\"weight\\\": 1.00},\\n    \\\"J_P\\\": {\\\"value\\\": 57, \\\"direction\\\": \\\"P\\\", \\\"weight\\\": 0.25},\\n    \\\"A_T\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"A\\\", \\\"weight\\\": 1.00}\\n  },\\n  \\\"composite_profile\\\": \\\"Analyst\\\",\\n  \\\"task_cognitive_requirements\\\": [\\n    \\\"Empathy & Stakeholder Awareness\\\",\\n    \\\"Structured Communication\\\",\\n    \\\"Warm\\/Relational Tone\\\"\\n  ],\\n  \\\"trait_alignment\\\": {\\n    \\\"amplified\\\": [\\n      {\\n        \\\"trait\\\": \\\"High N (64%)\\\",\\n        \\\"requirement\\\": \\\"Big-Picture Vision\\\",\\n        \\\"reason\\\": \\\"Can frame the change in context of larger relationship\\/future\\\"\\n      }\\n    ],\\n    \\\"counterbalanced\\\": [\\n      {\\n        \\\"trait\\\": \\\"High T (84%)\\\",\\n        \\\"requirement\\\": \\\"Empathy & Stakeholder Awareness\\\",\\n        \\\"reason\\\": \\\"Task requires emotional acknowledgment that High-T may skip\\\",\\n        \\\"injection\\\": \\\"Prompt includes explicit requirements for expressing appreciation and acknowledging emotional impact\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"High A (84%)\\\",\\n        \\\"requirement\\\": \\\"Warm\\/Relational Tone\\\",\\n        \\\"reason\\\": \\\"Confidence should not come across as dismissive\\\",\\n        \\\"injection\\\": \\\"Prompt requires warm opening and relationship-affirming language\\\"\\n      }\\n    ],\\n    \\\"neutral\\\": [\\n      {\\n        \\\"trait\\\": \\\"High I (65%)\\\",\\n        \\\"reason\\\": \\\"Introversion\\/Extraversion not directly relevant to email content\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"Borderline P (57%)\\\",\\n        \\\"reason\\\": \\\"Near midline; no strong adjustment needed\\\"\\n      }\\n    ]\\n  },\\n  \\\"adjustments_summary\\\": [\\n    \\\"Amplifying: N-strength for strategic framing\\\",\\n    \\\"Counterbalancing: T-tendency with empathy requirements\\\",\\n    \\\"Counterbalancing: A-tendency with warmth requirements\\\"\\n  ],\\n  \\\"question_count_adjustment\\\": -1,\\n  \\\"output_style\\\": {\\n    \\\"structure\\\": \\\"logical_sections\\\",\\n    \\\"hedge_level\\\": \\\"minimal\\\",\\n    \\\"recommendation_style\\\": \\\"confident_direct\\\",\\n    \\\"injected_requirements\\\": [\\n      \\\"Open with personal acknowledgment of the customer relationship\\\",\\n      \\\"Express appreciation before delivering the news\\\",\\n      \\\"Acknowledge the disappointment this may cause\\\"\\n    ]\\n  }\\n}\\n```\\n\\n---\\n\\n## Application Algorithm\\n\\nWhen applying personality calibration with Task-Trait Alignment:\\n\\n```\\n1. Check if personality data exists:\\n   - If NO data \\u2192 Use neutral defaults, skip to step 7\\n   - If type only \\u2192 Set all percentages to 65%\\n   - If full data \\u2192 Use provided percentages\\n\\n2. Identify task cognitive requirements:\\n   - Look up task category requirements\\n   - Add content-type specific requirements if applicable\\n   - Note any explicit requirements from user's task description\\n\\n3. Calculate adjustment weights for each trait:\\n   weight = 0.25 if 50-55%\\n   weight = 0.50 if 55-65%\\n   weight = 0.75 if 65-75%\\n   weight = 1.00 if 75%+\\n\\n4. Perform Task-Trait Alignment analysis:\\n   For each trait with weight \\u2265 0.50:\\n     For each cognitive requirement:\\n       - Determine if trait ALIGNS, OPPOSES, or is NEUTRAL\\n       - Record the alignment and reason\\n\\n5. Generate adjustment actions:\\n   - AMPLIFY: Note trait-aligned language\\/structure to use\\n   - COUNTERBALANCE: Specify explicit injections needed\\n   - NEUTRAL: No action needed\\n\\n6. Compile injected requirements:\\n   - Gather all counterbalance injections\\n   - These will be added explicitly to the prompt\\n\\n7. Document the full analysis for metadata output\\n```\\n\\n---\\n\\n## Neutral Defaults (No Personality Data)\\n\\nWhen no personality data is provided, use these defaults:\\n\\n### Question Style\\n- Professional, clear, neither warm nor clinical\\n- Direct but not abrupt\\n- Standard question count for complexity level\\n\\n### Prompt Framing\\n- Balanced between abstract and concrete\\n- Neither heavily structured nor overly flexible\\n- Professional tone throughout\\n\\n### Output Preferences\\n- Clear structure with logical flow\\n- Both options and recommendations where appropriate\\n- Moderate hedging with professional confidence\\n- Balanced detail level\\n\\n### No Counterbalancing Applied\\n- Without personality data, no trait-based counterbalancing is possible\\n- Prompts should be well-rounded by default\\n- Include standard coverage of both analytical and empathetic dimensions where relevant to task\"}",
                            "type": "object"
                        },
                        {
                            "id": "question_bank",
                            "name": "question_bank",
                            "value": "{\"content\": \"# Question Bank Reference Document\\n\\n## Purpose\\n\\nThis document contains all clarifying questions organised by task category. Use this to generate appropriate questions after classifying the user's task. Questions should be selected based on task category, adjusted for personality (if provided), and limited to the appropriate quantity.\\n\\n---\\n\\n## Universal Questions\\n\\nThese questions are relevant across most task categories. Select 2-3 from this pool for every task.\\n\\n### Core Universal Questions\\n\\n| ID | Question | Purpose | When Essential |\\n|----|----------|---------|----------------|\\n| U1 | What is the scope or boundary of this task? What's explicitly out of scope? | Define limits | Complex or ambiguous tasks |\\n| U2 | How will you measure success? What does a good outcome look like? | Success criteria | All tasks except simple factual |\\n| U3 | Who is the intended audience for this output? | Audience clarity | Any task with an output |\\n| U4 | What constraints exist (time, budget, length, format, resources)? | Limitation awareness | Most tasks |\\n| U5 | What background context is essential to understand? | Context gathering | Tasks requiring domain knowledge |\\n| U6 | What have you already tried or considered? | Avoid redundancy | Problem-solving, iteration tasks |\\n\\n### Personality-Adjusted Universal Questions\\n\\nFor each universal question, select the phrasing that matches the user's personality (or use neutral if no personality data):\\n\\n#### U2: Success Criteria (Personality Variants)\\n\\n| Personality Pattern | Phrasing |\\n|---------------------|----------|\\n| High T + High J | \\\"What are the measurable criteria for success?\\\" |\\n| High F + High J | \\\"What would a successful outcome mean for the people involved?\\\" |\\n| High T + High P | \\\"What signals would indicate this is working?\\\" |\\n| High F + High P | \\\"How would you feel if this turned out well? What would that look like?\\\" |\\n| High A | \\\"What does success look like?\\\" |\\n| High T-identity | \\\"What would success look like? And what pitfalls do you want to avoid?\\\" |\\n| Neutral | \\\"How will you measure whether this is successful?\\\" |\\n\\n#### U4: Constraints (Personality Variants)\\n\\n| Personality Pattern | Phrasing |\\n|---------------------|----------|\\n| High S | \\\"What specific limitations apply \\u2014 budget, time, word count, format?\\\" |\\n| High N | \\\"What boundaries should this stay within?\\\" |\\n| High T | \\\"What are the hard constraints versus nice-to-haves?\\\" |\\n| High F | \\\"What limitations should we respect to keep everyone comfortable?\\\" |\\n| High J | \\\"What are the non-negotiable constraints?\\\" |\\n| High P | \\\"What constraints exist, and which might be flexible?\\\" |\\n| Neutral | \\\"What constraints or limitations should be considered?\\\" |\\n\\n---\\n\\n## Category-Specific Questions\\n\\n### DECISION Tasks\\n\\nSelect 3-5 questions from this pool based on task specifics.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| D1 | What options are you currently considering? | Map the decision space | High |\\n| D2 | What criteria matter most in making this decision? | Identify decision factors | High |\\n| D3 | What's the cost or impact of choosing wrong? | Understand stakes | Medium |\\n| D4 | Is this decision reversible, or are you locked in once you choose? | Assess commitment level | Medium |\\n| D5 | What information would make this decision obvious? | Identify knowledge gaps | Medium |\\n| D6 | What's your timeline for making this decision? | Urgency assessment | Medium |\\n| D7 | Who else is affected by or involved in this decision? | Stakeholder mapping | Medium |\\n| D8 | Have you made similar decisions before? What worked or didn't? | Learn from history | Low |\\n| D9 | What's your gut telling you, and why might you be hesitating? | Surface intuition | Low (F types) |\\n| D10 | If you had to decide right now, what would you choose? | Force prioritisation | Low |\\n\\n#### Conditional Questions\\n\\n- If D1 reveals many options (>4): \\\"Can we narrow to the top 3-4 contenders?\\\"\\n- If D2 is vague: \\\"If you could only optimise for one factor, which would it be?\\\"\\n- If high stakes (D3): \\\"What's your risk tolerance here?\\\"\\n\\n---\\n\\n### STRATEGY Tasks\\n\\nSelect 4-6 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| S1 | What's the time horizon for this strategy? | Temporal scope | High |\\n| S2 | What resources are available (budget, team, tools)? | Resource constraints | High |\\n| S3 | What does success look like at the end of this period? | Goal definition | High |\\n| S4 | Who are the key stakeholders who need to buy in? | Stakeholder mapping | High |\\n| S5 | What's been tried before, and what were the results? | Historical context | Medium |\\n| S6 | What are the biggest obstacles or risks you foresee? | Risk identification | Medium |\\n| S7 | Who are your main competitors or alternatives? | Competitive context | Medium |\\n| S8 | What's your unique advantage or differentiation? | Positioning | Medium |\\n| S9 | What's the current state you're starting from? | Baseline assessment | Medium |\\n| S10 | What dependencies or external factors could affect this? | External awareness | Low |\\n| S11 | What would cause this strategy to fail? | Failure mode analysis | Low (T-identity types) |\\n| S12 | What's your appetite for risk versus proven approaches? | Risk tolerance | Low |\\n\\n#### Conditional Questions\\n\\n- If startup context: \\\"What stage is your company (idea, MVP, growth)?\\\"\\n- If marketing strategy: \\\"What channels have you used before?\\\"\\n- If product strategy: \\\"Who is your target customer persona?\\\"\\n\\n---\\n\\n### ANALYSIS Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| A1 | What data or information do you have access to? | Data inventory | High |\\n| A2 | What's the specific question you're trying to answer? | Focus the analysis | High |\\n| A3 | What's the hypothesis you're testing, if any? | Frame the inquiry | Medium |\\n| A4 | What level of depth is needed (surface scan vs. deep dive)? | Scope calibration | Medium |\\n| A5 | Are there specific angles or perspectives you want explored? | Direction setting | Medium |\\n| A6 | Who needs to act on this analysis? | Audience/action | Medium |\\n| A7 | What would change your mind or surprise you? | Challenge assumptions | Low |\\n| A8 | What's the deadline or urgency for this analysis? | Time constraints | Medium |\\n| A9 | What format should the analysis take? | Output format | Low |\\n| A10 | Are there any known biases or blind spots to watch for? | Quality control | Low |\\n\\n#### Conditional Questions\\n\\n- If data analysis: \\\"What's the data format and size?\\\"\\n- If market analysis: \\\"What geography or segment?\\\"\\n- If root cause analysis: \\\"When did the issue first appear?\\\"\\n\\n---\\n\\n### CREATION_CONTENT Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| C1 | Who is the target audience for this content? | Audience definition | High |\\n| C2 | What's the primary goal or call to action? | Purpose clarity | High |\\n| C3 | What tone is appropriate (formal, casual, technical, friendly)? | Voice/style | High |\\n| C4 | What's the target length or word count? | Scope | Medium |\\n| C5 | Are there examples of style or content you want to emulate? | Style reference | Medium |\\n| C6 | What key messages or points must be included? | Required content | Medium |\\n| C7 | What should definitely be avoided? | Boundaries | Medium |\\n| C8 | Where will this content be published or used? | Channel context | Medium |\\n| C9 | What's the deadline? | Urgency | Low |\\n| C10 | Is this part of a larger campaign or standalone? | Context | Low |\\n| C11 | What do you want the reader to feel or do after reading? | Emotional goal | Low (F types) |\\n\\n#### Conditional Questions\\n\\n- If blog post: \\\"What's the SEO keyword or topic focus?\\\"\\n- If email: \\\"What's the relationship with the recipient?\\\"\\n- If marketing copy: \\\"What's the unique selling proposition?\\\"\\n\\n---\\n\\n### CREATION_TECHNICAL Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| T1 | What technology stack or language is required? | Technical constraints | High |\\n| T2 | What's the skill level of people who'll use this? | User context | High |\\n| T3 | Are there existing conventions, style guides, or patterns to follow? | Standards | Medium |\\n| T4 | What error handling or edge cases matter? | Robustness | Medium |\\n| T5 | Is this for production or prototype/proof of concept? | Quality level | Medium |\\n| T6 | What's the expected input and output? | Interface definition | Medium |\\n| T7 | Are there performance requirements? | Non-functional needs | Low |\\n| T8 | What documentation level is needed? | Documentation scope | Low |\\n| T9 | How will this be tested or validated? | Quality assurance | Low |\\n| T10 | What's the deployment environment? | Infrastructure context | Low |\\n\\n#### Conditional Questions\\n\\n- If API: \\\"What authentication method?\\\"\\n- If documentation: \\\"What's the reader's existing knowledge?\\\"\\n- If code: \\\"What's the existing codebase context?\\\"\\n\\n---\\n\\n### IDEATION Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| I1 | What problem or opportunity are you generating ideas for? | Focus area | High |\\n| I2 | What constraints should ideas respect? | Boundaries | High |\\n| I3 | How wild can ideas be \\u2014 incremental improvements or moonshots? | Creativity scope | Medium |\\n| I4 | What's already been considered or tried? | Avoid repetition | Medium |\\n| I5 | What definitely won't work or isn't feasible? | Eliminate dead ends | Medium |\\n| I6 | What resources would be available to implement ideas? | Feasibility context | Medium |\\n| I7 | Who are the users or beneficiaries of these ideas? | User focus | Medium |\\n| I8 | What inspires you or what examples do you admire? | Inspiration sources | Low |\\n| I9 | What's the timeline for implementing ideas? | Urgency | Low |\\n| I10 | How will ideas be evaluated or prioritised? | Selection criteria | Low |\\n\\n#### Conditional Questions\\n\\n- If product ideation: \\\"What's the core user pain point?\\\"\\n- If process improvement: \\\"What's the current process?\\\"\\n- If creative project: \\\"What mood or feeling are you going for?\\\"\\n\\n---\\n\\n### PROBLEM_SOLVING Tasks\\n\\nSelect 4-6 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| P1 | What exactly is the problem? Can you describe the symptoms? | Problem definition | High |\\n| P2 | When did this problem start or when was it first noticed? | Timeline | High |\\n| P3 | What have you already tried? | Avoid redundancy | High |\\n| P4 | What happens if this isn't solved? | Stakes/urgency | Medium |\\n| P5 | Are there symptoms versus root causes to distinguish? | Depth of problem | Medium |\\n| P6 | Who has relevant expertise or has seen this before? | Resource identification | Medium |\\n| P7 | What changed right before the problem appeared? | Cause hunting | Medium |\\n| P8 | Is this a recurring problem or first occurrence? | Pattern | Medium |\\n| P9 | What would a solution need to achieve? | Success criteria | Medium |\\n| P10 | What constraints affect possible solutions? | Solution boundaries | Medium |\\n| P11 | What's your hypothesis about the cause? | Current thinking | Low |\\n| P12 | What quick wins might provide relief while solving the deeper issue? | Pragmatic relief | Low |\\n\\n#### Conditional Questions\\n\\n- If technical problem: \\\"What error messages or logs are available?\\\"\\n- If people problem: \\\"Who are the key parties involved?\\\"\\n- If process problem: \\\"Where does the process break down?\\\"\\n\\n---\\n\\n### LEARNING Tasks\\n\\nSelect 2-4 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| L1 | What's your current understanding level of this topic? | Baseline assessment | High |\\n| L2 | What specifically is confusing or unclear? | Focus area | High |\\n| L3 | What do you need to do with this knowledge? | Application context | Medium |\\n| L4 | Do you learn better from examples, explanations, or analogies? | Learning style | Medium |\\n| L5 | How deep do you need to go (overview vs. expert level)? | Depth calibration | Medium |\\n| L6 | What related concepts do you already understand? | Build on existing | Low |\\n| L7 | Is there a specific format that works well for you? | Output preference | Low |\\n| L8 | What's the urgency \\u2014 immediate application or general knowledge? | Timeline | Low |\\n\\n#### Conditional Questions\\n\\n- If technical topic: \\\"What's your technical background?\\\"\\n- If abstract concept: \\\"Would a real-world analogy help?\\\"\\n- If skill-based: \\\"Have you attempted this before?\\\"\\n\\n---\\n\\n### PERSUASION Tasks\\n\\nSelect 4-5 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| PE1 | Who specifically needs to be convinced? | Target audience | High |\\n| PE2 | What are their current beliefs or position? | Starting point | High |\\n| PE3 | What objections or concerns might they raise? | Anticipate resistance | High |\\n| PE4 | What evidence or arguments do they find compelling? | Persuasion style | Medium |\\n| PE5 | What's their motivation \\u2014 what do they care about? | Values alignment | Medium |\\n| PE6 | What do you want them to do after being persuaded? | Call to action | Medium |\\n| PE7 | What's your relationship with this audience? | Trust level | Medium |\\n| PE8 | What's at stake for them? | Their perspective | Low |\\n| PE9 | Have you tried to persuade them before? What happened? | History | Low |\\n| PE10 | What's the format for this persuasion (written, verbal, presentation)? | Medium | Low |\\n\\n#### Conditional Questions\\n\\n- If pitch/proposal: \\\"What's the ask (funding, approval, buy-in)?\\\"\\n- If negotiation: \\\"What's your BATNA (best alternative)?\\\"\\n- If sales: \\\"Where are they in the buyer journey?\\\"\\n\\n---\\n\\n### FEEDBACK Tasks\\n\\nSelect 3-4 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| F1 | What aspects do you most want feedback on? | Focus area | High |\\n| F2 | What's working well that should be preserved? | Identify strengths | High |\\n| F3 | What's the purpose of this work? | Context for evaluation | Medium |\\n| F4 | How candid can the feedback be? | Calibrate directness | Medium |\\n| F5 | What will you do with the feedback? | Action orientation | Medium |\\n| F6 | Who is the intended audience for this work? | Evaluation criteria | Medium |\\n| F7 | What's the timeline for revisions? | Urgency | Low |\\n| F8 | Are there specific criteria or standards to evaluate against? | Benchmarks | Low |\\n\\n#### Conditional Questions\\n\\n- If writing: \\\"What style guide or standards apply?\\\"\\n- If design: \\\"What's the brand or aesthetic context?\\\"\\n- If code: \\\"What's the testing/review process?\\\"\\n\\n---\\n\\n### RESEARCH Tasks\\n\\nSelect 3-5 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| R1 | What do you already know about this topic? | Starting point | High |\\n| R2 | What specific questions need to be answered? | Research focus | High |\\n| R3 | What sources are acceptable or preferred? | Source criteria | Medium |\\n| R4 | What time period is relevant? | Temporal scope | Medium |\\n| R5 | How rigorous does this need to be (quick scan vs. thorough)? | Depth | Medium |\\n| R6 | What format should findings take? | Output format | Medium |\\n| R7 | Who will use this research? | Audience | Medium |\\n| R8 | What would be surprising or change your approach? | Challenge assumptions | Low |\\n| R9 | What's the deadline? | Urgency | Low |\\n| R10 | Are there competing perspectives to consider? | Balance | Low |\\n\\n#### Conditional Questions\\n\\n- If market research: \\\"What geography or segment?\\\"\\n- If academic research: \\\"What's the citation style needed?\\\"\\n- If competitive research: \\\"Who are the key competitors to include?\\\"\\n\\n---\\n\\n### GOAL_SETTING Tasks\\n\\nSelect 3-4 questions from this pool.\\n\\n| ID | Question | Purpose | Priority |\\n|----|----------|---------|----------|\\n| G1 | What's the overarching vision this goal supports? | Strategic context | High |\\n| G2 | What time frame applies to this goal? | Temporal scope | High |\\n| G3 | How will progress be measured? | Metrics definition | High |\\n| G4 | What resources are available? | Feasibility | Medium |\\n| G5 | What obstacles are anticipated? | Risk awareness | Medium |\\n| G6 | Who else needs to be aligned on this goal? | Stakeholders | Medium |\\n| G7 | What happens if the goal isn't achieved? | Stakes | Low |\\n| G8 | What's the stretch version versus minimum acceptable? | Ambition calibration | Low |\\n\\n#### Conditional Questions\\n\\n- If team goal: \\\"How will individual contributions be tracked?\\\"\\n- If personal goal: \\\"What accountability structures help you?\\\"\\n- If business goal: \\\"How does this connect to revenue or growth?\\\"\\n\\n---\\n\\n## Question Selection Algorithm\\n\\n```\\n1. Identify task category (primary and secondary if applicable)\\n\\n2. Start with Universal Questions:\\n   - Select 2-3 from U1-U6 based on task nature\\n   - Use personality-adjusted phrasing if available\\n\\n3. Add Category-Specific Questions:\\n   - Select from the primary category pool\\n   - Base quantity on complexity:\\n     Simple: 2-3 category questions\\n     Moderate: 3-5 category questions\\n     Complex: 5-7 category questions\\n\\n4. Apply Personality Adjustments:\\n   - Adjust total count (see personality_calibration.md)\\n   - Adjust phrasing for personality patterns\\n   - If no personality: use neutral phrasing\\n\\n5. Add Conditional Questions if triggered by context\\n\\n6. Sequence questions logically:\\n   - Context/scope questions first\\n   - Goal/success questions second\\n   - Constraints third\\n   - Specific details last\\n\\n7. Cap total questions:\\n   - Simple task: 4-6 questions\\n   - Moderate task: 6-8 questions\\n   - Complex task: 8-12 questions\\n```\\n\\n---\\n\\n## Output Format for Questions\\n\\nReturn questions in this structure:\\n\\n```json\\n{\\n  \\\"questions\\\": [\\n    {\\n      \\\"id\\\": \\\"U2\\\",\\n      \\\"question\\\": \\\"What does success look like?\\\",\\n      \\\"purpose\\\": \\\"Define success criteria\\\",\\n      \\\"required\\\": true\\n    },\\n    {\\n      \\\"id\\\": \\\"S1\\\",\\n      \\\"question\\\": \\\"What's the time horizon for this strategy?\\\",\\n      \\\"purpose\\\": \\\"Establish temporal scope\\\",\\n      \\\"required\\\": true\\n    },\\n    {\\n      \\\"id\\\": \\\"S4\\\",\\n      \\\"question\\\": \\\"Who are the key stakeholders who need to buy in?\\\",\\n      \\\"purpose\\\": \\\"Identify stakeholder landscape\\\",\\n      \\\"required\\\": false\\n    }\\n  ],\\n  \\\"total_questions\\\": 6,\\n  \\\"complexity_assessment\\\": \\\"moderate\\\",\\n  \\\"question_rationale\\\": \\\"Selected strategy-focused questions with emphasis on scope and stakeholders given the business planning context.\\\"\\n}\\n```\\n\"}",
                            "type": "object"
                        }
                    ]
                },
                "options": []
            },
            "id": "c568698e-f63f-434c-95ba-bcb138e4fc23",
            "name": "Load Reference Documents",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -144,
                -336
            ],
            "notes": "Static reference documents embedded in workflow for fast access (no HTTP requests)"
        },
        {
            "parameters": {
                "jsCode": "// Collect workflow data\nconst webhookData = $('Webhook Trigger').first().json.body || {};\nconst referenceData = $('Load Reference Documents').first().json;\n\n// Get reference documents\nconst frameworkDoc = referenceData.framework_taxonomy;\nconst questionDoc = referenceData.question_bank;\n\n// Check if personality data exists BEFORE loading personality doc\nconst hasPersonalityData = !!webhookData.user_context?.personality?.personality_type;\nconst personalityDoc = hasPersonalityData ? referenceData.personality_calibration : null;\n\nconst userContext = webhookData.user_context || null;\n\n// Helper: Build user context\nfunction buildUserContext(ctx) {\n    if (!ctx) return '';\n\n    const parts = [];\n    const loc = ctx.location;\n    const prof = ctx.professional;\n    const team = ctx.team;\n    const pref = ctx.preferences;\n\n    if (loc?.country) {\n        parts.push(\n            `Location: ${loc.country}${loc.city ? ` (${loc.city})` : ''}`\n        );\n        if (loc.timezone) parts.push(`TZ: ${loc.timezone}`);\n        if (loc.currency) parts.push(`Currency: ${loc.currency}`);\n        if (loc.language) parts.push(`Lang: ${loc.language}`);\n    }\n\n    if (prof?.job_title || prof?.industry) {\n        const p = [\n            prof.job_title,\n            prof.industry && `in ${prof.industry}`,\n            prof.experience_level && `(${prof.experience_level})`\n        ].filter(Boolean);\n        if (p.length) parts.push(`Professional: ${p.join(' ')}`);\n        if (prof.company_size) parts.push(`Company: ${prof.company_size}`);\n    }\n\n    if (team?.size || team?.role) {\n        const t = [\n            team.size && `${team.size} team`,\n            team.role && `${team.role} role`,\n            team.work_mode && `(${team.work_mode})`\n        ].filter(Boolean);\n        if (t.length) parts.push(`Team: ${t.join(', ')}`);\n    }\n\n    if (pref?.budget) parts.push(`Budget: ${pref.budget}`);\n    if (pref?.primary_programming_language)\n        parts.push(`Lang: ${pref.primary_programming_language}`);\n\n    return parts.length\n        ? '\\n\\n# User Context\\n- ' +\n        parts.join('\\n- ') +\n        '\\n\\nUse this context for framework/question recommendations.'\n        : '';\n}\n\n// Helper: Language preference\nfunction getLanguageInstructions(ctx) {\n    const lang = ctx?.location?.language || 'en-GB';\n    if (lang.startsWith('en-US'))\n        return '\\n\\n# Language: American English\\nUse American spelling/format.';\n    if (lang.startsWith('en-'))\n        return '\\n\\n# Language: British English\\nUse British spelling/format.';\n    return `\\n\\n# Language: ${lang}\\nAdapt for this locale.`;\n}\n\nconst userContextString = buildUserContext(userContext);\nconst languageInstructions = getLanguageInstructions(userContext);\n\n// Check for forced framework\nconst forcedFrameworkCode = webhookData.forced_framework_code || null;\nconst frameworkInstructions = forcedFrameworkCode\n    ? `\\n## FORCED FRAMEWORK: ${forcedFrameworkCode}\\nYou MUST use ${forcedFrameworkCode} as selected_framework. Generate questions specific to it. Do NOT select a different framework.\\n`\n    : '\\n## Select the most appropriate framework from the taxonomy.\\n';\n\n// Build system prompt - conditionally include personality calibration only if data exists\nconst personalitySection = hasPersonalityData && personalityDoc\n    ? `\\n\\n## PERSONALITY CALIBRATION\\n${personalityDoc.content}`\n    : '';\n\nconst systemPrompt = `You analyze requests, classify tasks, identify cognitive requirements, select frameworks, perform Task-Trait Alignment, and generate questions. Return JSON only.\n\n## FRAMEWORK TAXONOMY\n${frameworkDoc.content || 'Not available'}${personalitySection}\n\n## QUESTION BANK\n${questionDoc.content || 'Not available'}\n\n---\n\n## TASK\n1. Classify task (primary/secondary category from taxonomy)\n   - If pre-analysis context provided: use task + context for classification\n2. Identify cognitive requirements\n${frameworkInstructions}\n4. Perform Task-Trait Alignment (if personality data):\n   - AMPLIFY aligned traits (leverage strengths)\n   - COUNTERBALANCE opposing traits (inject requirements)\n   - NEUTRAL for unrelated traits\n5. Exclude questions based on pre-analysis context:\n   - Skip \"what type\" if subject known\n   - Skip \"why\" if purpose known\n   - Skip \"how detailed\" if detail level known\n6. Generate tailored questions${forcedFrameworkCode ? ' for ' + forcedFrameworkCode : ''}${hasPersonalityData ? '\\n7. Apply personality calibration to phrasing/quantity' : ''}\n\n## OUTPUT FORMAT\nReturn ONLY valid JSON (no markdown, no extra text):\n\n\\`\\`\\`json\n{\n  \"task_classification\": {\n    \"primary_category\": \"CODE\",\n    \"secondary_category\": null,\n    \"complexity\": \"simple|moderate|complex\",\n    \"classification_reasoning\": \"Brief explanation\",\n    \"content_type\": \"For CREATION_CONTENT only\"\n  },\n  \"cognitive_requirements\": {\n    \"primary\": [\"REQ_CODE\"],\n    \"secondary\": [\"REQ_CODE\"],\n    \"reasoning\": \"Why these apply\"\n  },\n  \"selected_framework\": {\n    \"name\": \"Name\",\n    \"code\": \"FRAMEWORK_CODE\",\n    \"components\": [\"C1\", \"C2\"],\n    \"rationale\": \"Why best for task\"\n  },\n  \"alternative_frameworks\": [{\"name\": \"Alt\", \"code\": \"CODE\", \"when_to_use_instead\": \"Condition\"}],\n  \"personality_tier\": \"full|partial|none\",\n  \"task_trait_alignment\": {\n    \"NOTE\": \"ONLY include user's actual traits, not hypothetical\",\n    \"amplified\": [{\"trait\": \"Actual trait from user data\", \"requirement_aligned\": \"CODE\", \"reason\": \"Why helps\"}],\n    \"counterbalanced\": [{\"trait\": \"Actual trait\", \"requirement_opposed\": \"CODE\", \"reason\": \"Why blind spot\", \"injection\": \"Text to add\"}],\n    \"neutral\": [{\"trait\": \"Actual trait\", \"reason\": \"Why irrelevant\"}]\n  },\n  \"personality_adjustments_preview\": [\"AMPLIFIED: desc\", \"COUNTERBALANCED: desc\"],\n  \"clarifying_questions\": [{\"id\": \"Q1\", \"question\": \"Text\", \"purpose\": \"Why matters\", \"required\": true}],\n  \"question_rationale\": \"Brief explanation\"\n}\n\\`\\`\\``;\n\n// Build personality info\nlet personalityInfo =\n    'No personality data. Skip Task-Trait Alignment, use neutral defaults.';\n\nif (hasPersonalityData) {\n    const p = webhookData.user_context.personality;\n    personalityInfo = `Type: ${p.personality_type}`;\n\n    if (p.trait_percentages) {\n        const typeLetters = p.personality_type.split('-');\n        const mainType = typeLetters[0];\n        const identity = typeLetters[1];\n        const t = p.trait_percentages;\n        const traits = [];\n\n        if (t.mind !== undefined) traits.push(`${mainType[0]} (${t.mind}%)`);\n        if (t.energy !== undefined)\n            traits.push(`${mainType[1]} (${t.energy}%)`);\n        if (t.nature !== undefined)\n            traits.push(`${mainType[2]} (${t.nature}%)`);\n        if (t.tactics !== undefined)\n            traits.push(`${mainType[3]} (${t.tactics}%)`);\n        if (t.identity !== undefined)\n            traits.push(`${identity} (${t.identity}%)`);\n\n        personalityInfo += `\\nTraits: ${traits.join(', ')}\\nAnalyze ONLY these traits. For each: AMPLIFIED, COUNTERBALANCED, or NEUTRAL.`;\n    } else {\n        personalityInfo +=\n            '\\nPercentages: Not provided (use 65% default)\\nPerform Task-Trait Alignment with defaults.';\n    }\n}\n\n// Build pre-analysis section\nconst preAnalysisContext = webhookData.pre_analysis_context || null;\nlet preAnalysisSection = '';\n\nif (preAnalysisContext && Object.keys(preAnalysisContext).length > 0) {\n    preAnalysisSection =\n        '\\n\\n**Pre-Analysis Context:**\\nContext from pre-analysis:';\n\n    for (const [key, item] of Object.entries(preAnalysisContext)) {\n        if (item?.question) {\n            preAnalysisSection += `\\n\\n**${item.question}**\\n${item.answer_label || item.answer || ''}`;\n        }\n    }\n\n    preAnalysisSection +=\n        '\\n\\n**Avoid Duplicate Questions:**\\n- DO NOT ask about information already provided\\n- Generate ONLY new questions not covered above';\n    preAnalysisSection +=\n        '\\n\\n**For Task-Trait Alignment:**\\n- If audience=\"self\" \u2192 Full personality optimization\\n- If audience=external \u2192 Still apply but note \"creating for others\"';\n}\n\n// Build user message\nlet userMessage = `Task: ${webhookData.task_description || 'No task'}${preAnalysisSection}\\n\\n**Personality:** ${personalityInfo}`;\n\nif (forcedFrameworkCode) {\n    userMessage += `\\n\\n**FORCED FRAMEWORK:** ${forcedFrameworkCode}\\nMUST use this. Generate specific questions for it.${userContextString}`;\n}\n\nreturn [\n    {\n        json: {\n            system: systemPrompt,\n            messages: [{ role: 'user', content: userMessage }]\n        }\n    }\n];"
            },
            "id": "6a3a2846-9292-4081-b126-878f9b9a91c1",
            "name": "Prepare Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                80,
                -336
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5',\n  max_tokens: 4096,\n  temperature: 0.1,\n  system: $json.system,\n  messages: $json.messages\n}) }}",
                "options": []
            },
            "id": "a0fe0f55-88a2-4d1f-975e-4d6037af543c",
            "name": "Call Anthropic API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                304,
                -336
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "5u3Dji2E1ZKRUSRX",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const apiResponse = $input.first().json;\nconst executionId = $execution.id || 'unknown';\nconst currentNode = 'Format Response';\n\nlet analysisData;\ntry {\n  // Extract text from Anthropic API response\n  let content = apiResponse.content?.[0]?.text || '';\n\n  if (!content) {\n    throw new Error('No content in API response');\n  }\n\n  // Remove any markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Claude sometimes generates JSON multiple times with explanation text in between\n  // Find ALL JSON objects and take the LAST one (most complete)\n  const jsonObjects = [];\n  let depth = 0;\n  let jsonStart = -1;\n\n  for (let i = 0; i < content.length; i++) {\n    if (content[i] === '{') {\n      if (depth === 0) jsonStart = i;\n      depth++;\n    } else if (content[i] === '}') {\n      depth--;\n      if (depth === 0 && jsonStart !== -1) {\n        jsonObjects.push(content.substring(jsonStart, i + 1));\n        jsonStart = -1;\n      }\n    }\n  }\n\n  if (jsonObjects.length === 0) {\n    throw new Error('No JSON object found in response');\n  }\n\n  // Take the last JSON object (most complete)\n  const jsonOnly = jsonObjects[jsonObjects.length - 1];\n\n  // Try to parse JSON\n  analysisData = JSON.parse(jsonOnly);\n\n} catch (e) {\n  // Enhanced error context for debugging\n  const errorType = e.message.includes('No content') ? 'api_error' : 'parsing_error';\n  const failedNode = e.message.includes('No content') ? 'Call Anthropic API' : currentNode;\n\n  return [{\n    json: {\n      success: false,\n      data: null,\n      api_usage: null,\n      error: {\n        message: 'Failed to parse LLM response',\n        details: e.message\n      },\n      error_context: {\n        error_type: errorType,\n        failed_node: failedNode,\n        execution_id: executionId,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n}\n\n// Extract API usage data\nconst apiUsage = {\n  model: apiResponse.model || 'claude-haiku-4-5',\n  input_tokens: apiResponse.usage?.input_tokens || 0,\n  output_tokens: apiResponse.usage?.output_tokens || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    data: analysisData,\n    api_usage: apiUsage,\n    error: null\n  }\n}];"
            },
            "id": "fedfbbc3-61fe-4d86-905e-7ac639b8a9b0",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                528,
                -336
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "b687fd26-1ad3-49d3-91dc-e3b5a4a0ce02",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                752,
                -336
            ]
        }
    ],
    "pinData": [],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Load Reference Documents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Reference Documents": {
            "main": [
                [
                    {
                        "node": "Prepare Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Prompt": {
            "main": [
                [
                    {
                        "node": "Call Anthropic API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Anthropic API": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "66f87d50-4ef1-40a5-af9c-bd7f1182d496",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
    },
    "id": "MGuVYvZDLTa3D09d",
    "tags": [
        {
            "updatedAt": "2025-11-25T10:54:37.163Z",
            "createdAt": "2025-11-25T10:54:37.163Z",
            "id": "JCf838Zrlbs7oBCN",
            "name": "prompt-framework"
        }
    ]
}