n8n/workflow_2_generation.json
{
  "name": "Prompt Framework - Generation v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/n8n/webhook/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "prompt-generate-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/prompt-templates",
        "options": {}
      },
      "id": "fetch-prompt-templates",
      "name": "Fetch Prompt Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/personality-calibration",
        "options": {}
      },
      "id": "fetch-personality-calibration",
      "name": "Fetch Personality Calibration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-docs",
      "name": "Merge Docs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Collect all data from the workflow\nconst webhookData = $('Webhook Trigger').first().json.body || {};\nconst promptTemplatesDoc = $('Fetch Prompt Templates').first().json;\nconst personalityDoc = $('Fetch Personality Calibration').first().json;\n\n// Extract the analysis data from Workflow 1\nconst analysisData = webhookData.analysis_data || {};\nconst questionAnswers = webhookData.question_answers || [];\n\n// Build the system prompt\nconst systemPrompt = `You are an expert prompt engineering assistant. Your task is to construct an optimised, ready-to-use prompt based on the framework selected in the analysis phase, applying Task-Trait Alignment adjustments (amplification and counterbalancing) as specified.\n\nYou have access to two reference documents:\n\n## PROMPT TEMPLATES\n${promptTemplatesDoc.content || 'Not available'}\n\n## PERSONALITY CALIBRATION\n${personalityDoc.content || 'Not available'}\n\n---\n\n## YOUR TASK\n\n1. **Construct the prompt** using the selected framework template\n2. **Apply AMPLIFICATION** for aligned traits:\n   - Use language and structure that leverages the user's natural strengths\n   - Format output to match their preferences\n3. **Apply COUNTERBALANCING** for opposed traits:\n   - Inject the specific requirements identified in the analysis\n   - Add explicit instructions the user might naturally skip\n   - Include counterbalance criteria in quality checks\n4. **Incorporate all user answers** to clarifying questions\n5. **Generate model recommendations** considering counterbalance complexity\n6. **Provide iteration suggestions** for refinement\n\n## CRITICAL: COUNTERBALANCE INJECTION\n\nWhen the analysis specifies counterbalancing, you MUST:\n- Add a dedicated \"IMPORTANT REQUIREMENTS\" section if significant counterbalancing is needed\n- Insert the specific injection phrases into relevant sections of the prompt\n- Add counterbalance items to any quality criteria or checklists\n- Make injections EXPLICIT - they should be impossible to overlook\n\n## OUTPUT FORMAT\n\nYou MUST respond with valid JSON only (no markdown code blocks, no extra text). Use this exact structure:\n\n{\n  \"optimised_prompt\": \"The complete prompt text, ready for copy/paste. This should be a fully self-contained prompt that includes all context, requirements, and instructions. It should be usable immediately without any additional information.\",\n  \n  \"metadata\": {\n    \"framework_used\": {\n      \"name\": \"Framework Name\",\n      \"code\": \"FRAMEWORK_CODE\",\n      \"components\": [\"Component1\", \"Component2\"],\n      \"explanation\": \"How the framework was applied\"\n    },\n    \n    \"task_trait_alignment\": {\n      \"amplified\": [\n        {\n          \"trait\": \"High N (64%)\",\n          \"requirement_aligned\": \"VISION\",\n          \"how_applied\": \"Description of how this was leveraged in the prompt\"\n        }\n      ],\n      \"counterbalanced\": [\n        {\n          \"trait\": \"High T (84%)\",\n          \"requirement_opposed\": \"EMPATHY\",\n          \"reason\": \"Why counterbalancing was needed\",\n          \"injections_added\": [\n            \"Specific text that was added to the prompt\"\n          ]\n        }\n      ],\n      \"neutral\": [\n        {\n          \"trait\": \"High I (65%)\",\n          \"reason\": \"Why no adjustment was made\"\n        }\n      ]\n    },\n    \n    \"personality_adjustments_summary\": [\n      \"AMPLIFIED: Brief description\",\n      \"COUNTERBALANCED: Brief description\"\n    ],\n    \n    \"model_recommendations\": [\n      {\n        \"rank\": 1,\n        \"model\": \"Model Name\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Why this model is recommended, considering counterbalance complexity\"\n      },\n      {\n        \"rank\": 2,\n        \"model\": \"Alternative Model\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Why this is a good alternative\"\n      },\n      {\n        \"rank\": 3,\n        \"model\": \"Budget Option\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Cost-effective option if applicable\"\n      }\n    ],\n    \n    \"iteration_suggestions\": [\n      \"Suggestion for how to refine the prompt if needed\",\n      \"Another potential adjustment\"\n    ]\n  }\n}`;\n\n// Build the user message with all the context\nlet userMessage = `## ANALYSIS FROM WORKFLOW 1\\n\\n`;\nuserMessage += `**Task Classification:**\\n${JSON.stringify(analysisData.task_classification, null, 2)}\\n\\n`;\nuserMessage += `**Cognitive Requirements:**\\n${JSON.stringify(analysisData.cognitive_requirements, null, 2)}\\n\\n`;\nuserMessage += `**Selected Framework:**\\n${JSON.stringify(analysisData.selected_framework, null, 2)}\\n\\n`;\nuserMessage += `**Alternative Frameworks:**\\n${JSON.stringify(analysisData.alternative_frameworks, null, 2)}\\n\\n`;\nuserMessage += `**Personality Tier:** ${analysisData.personality_tier || 'none'}\\n\\n`;\n\nif (analysisData.task_trait_alignment) {\n  userMessage += `**Task-Trait Alignment Analysis:**\\n${JSON.stringify(analysisData.task_trait_alignment, null, 2)}\\n\\n`;\n  userMessage += `IMPORTANT: Apply the amplifications and counterbalancing as specified above. For each counterbalanced trait, ensure the injection text is explicitly included in the generated prompt.\\n\\n`;\n}\n\nuserMessage += `---\\n\\n## ORIGINAL TASK\\n\\n${webhookData.original_task_description || 'No task description provided'}\\n\\n`;\n\nif (webhookData.personality_type) {\n  userMessage += `## PERSONALITY DATA\\n\\n`;\n  userMessage += `Type: ${webhookData.personality_type}\\n`;\n  if (webhookData.trait_percentages) {\n    userMessage += `Percentages: ${JSON.stringify(webhookData.trait_percentages)}\\n`;\n  }\n  userMessage += `\\n`;\n}\n\nuserMessage += `## USER'S ANSWERS TO CLARIFYING QUESTIONS\\n\\n`;\nif (questionAnswers && questionAnswers.length > 0) {\n  questionAnswers.forEach((qa, index) => {\n    userMessage += `**Q${index + 1}: ${qa.question}**\\n`;\n    userMessage += `A: ${qa.answer}\\n\\n`;\n  });\n} else {\n  userMessage += `No question answers provided.\\n\\n`;\n}\n\nuserMessage += `---\\n\\n`;\nuserMessage += `Now construct the optimised prompt. Remember to:\\n`;\nuserMessage += `1. Use the ${analysisData.selected_framework?.name || 'selected'} framework structure\\n`;\nuserMessage += `2. Incorporate all user answers naturally into the prompt\\n`;\nuserMessage += `3. Apply AMPLIFICATION for aligned traits (leverage strengths)\\n`;\nuserMessage += `4. Apply COUNTERBALANCING for opposed traits (inject explicit requirements)\\n`;\nuserMessage += `5. Make the prompt self-contained and immediately usable\\n`;\nuserMessage += `6. Recommend models considering the complexity of counterbalancing needed`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage,\n    originalInput: {\n      original_task_description: webhookData.original_task_description,\n      personality_type: webhookData.personality_type || null,\n      trait_percentages: webhookData.trait_percentages || null,\n      analysis_data: analysisData,\n      question_answers: questionAnswers\n    }\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "basic-llm-chain",
      "name": "Generate Prompt",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250514",
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0.3
        }
      },
      "id": "anthropic-model",
      "name": "Anthropic Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1140, 520],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst originalInput = $('Prepare Prompt').first().json.originalInput;\n\nlet generationData;\ntry {\n  // The response might be in different formats depending on the node version\n  let content = llmResponse.text || llmResponse.response?.text || llmResponse;\n  \n  if (typeof content === 'string') {\n    // Remove any markdown code blocks if present\n    content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    generationData = JSON.parse(content);\n  } else if (typeof content === 'object') {\n    generationData = content;\n  } else {\n    throw new Error('Unexpected response format');\n  }\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      optimised_prompt: null,\n      metadata: null,\n      original_input: originalInput,\n      error: {\n        message: 'Failed to parse LLM response',\n        details: e.message,\n        raw_response: llmResponse\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    optimised_prompt: generationData.optimised_prompt,\n    metadata: generationData.metadata,\n    original_input: originalInput,\n    error: null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Prompt Templates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Personality Calibration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt Templates": {
      "main": [
        [
          {
            "node": "Merge Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Personality Calibration": {
      "main": [
        [
          {
            "node": "Merge Docs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Docs": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}
