n8n/workflow_1_analysis.json
{
  "name": "Prompt Framework - Analysis & Questions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/n8n/webhook/analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "prompt-analysis-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/framework-taxonomy",
        "options": {}
      },
      "id": "fetch-framework-taxonomy",
      "name": "Fetch Framework Taxonomy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/personality-calibration",
        "options": {}
      },
      "id": "fetch-personality-calibration",
      "name": "Fetch Personality Calibration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/question-bank",
        "options": {}
      },
      "id": "fetch-question-bank",
      "name": "Fetch Question Bank",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge1",
      "name": "Merge 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        680,
        220
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge2",
      "name": "Merge 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all data from the workflow\nconst webhookData = $('Webhook Trigger').first().json.body || {};\nconst frameworkDoc = $('Fetch Framework Taxonomy').first().json;\nconst personalityDoc = $('Fetch Personality Calibration').first().json;\nconst questionDoc = $('Fetch Question Bank').first().json;\n\n// Build the combined prompt\nconst systemPrompt = `You are an API that returns JSON. You do not write conversational text. You ONLY output valid JSON.\n\nYour task is to analyse user requests, classify them into task categories, select the most appropriate prompt framework, and generate tailored clarifying questions.\n\nYou have access to three reference documents:\n\n## FRAMEWORK TAXONOMY\n${frameworkDoc.content || 'Not available'}\n\n## PERSONALITY CALIBRATION\n${personalityDoc.content || 'Not available'}\n\n## QUESTION BANK\n${questionDoc.content || 'Not available'}\n\n---\n\n## YOUR TASK\n\n1. **Classify the user's task** into a primary category (and secondary if applicable) from the taxonomy\n2. **Select the most appropriate framework** for the task\n3. **Generate clarifying questions** tailored to the task and personality (if provided)\n4. **Apply personality calibration** to question phrasing and quantity (if personality data provided)\n\n## IMPORTANT RULES\n\n- If NO personality data is provided, skip all personality-based adjustments and use neutral defaults\n- Always explain your classification reasoning\n- Select questions that are essential for generating a high-quality prompt\n- Sequence questions logically (context \u2192 goals \u2192 constraints \u2192 specifics)\n- Respect the question quantity guidelines based on task complexity\n\n## CRITICAL: OUTPUT FORMAT\n\nYou are a JSON API. Your response MUST:\n- Start with { and end with }\n- Contain ONLY valid JSON\n- NO explanatory text before or after the JSON\n- NO markdown code blocks\n- NO conversational language like \"Great!\" or \"Here's...\"\n\nReturn this exact JSON structure:\n\n{\n  \"task_classification\": {\n    \"primary_category\": \"CATEGORY_CODE\",\n    \"secondary_category\": null,\n    \"complexity\": \"simple | moderate | complex\",\n    \"classification_reasoning\": \"Brief explanation\"\n  },\n  \"selected_framework\": {\n    \"name\": \"Framework Name\",\n    \"code\": \"FRAMEWORK_CODE\",\n    \"components\": [\"Component1\", \"Component2\"],\n    \"rationale\": \"Why this framework is best for this task\"\n  },\n  \"alternative_frameworks\": [\n    {\n      \"name\": \"Alternative Name\",\n      \"code\": \"ALT_CODE\",\n      \"when_to_use_instead\": \"Condition\"\n    }\n  ],\n  \"personality_tier\": \"full | partial | none\",\n  \"personality_adjustments_preview\": [\n    \"Adjustment 1 that will be applied\",\n    \"Adjustment 2 that will be applied\"\n  ],\n  \"clarifying_questions\": [\n    {\n      \"id\": \"Q1\",\n      \"question\": \"The question text\",\n      \"purpose\": \"Why this question matters\",\n      \"required\": true\n    }\n  ],\n  \"question_rationale\": \"Brief explanation of question selection\"\n}`;\n\nconst hasPersonality = !!webhookData.personality_type;\nlet personalityInfo = 'No personality data provided. Use neutral defaults and skip personality-based adjustments.';\n\nif (hasPersonality) {\n  personalityInfo = `Type: ${webhookData.personality_type}`;\n  if (webhookData.trait_percentages) {\n    personalityInfo += `\\nPercentages: ${JSON.stringify(webhookData.trait_percentages)}`;\n  } else {\n    personalityInfo += `\\nPercentages: Not provided (use 65% default for each trait)`;\n  }\n}\n\nconst userMessage = `Analyse this task and generate clarifying questions:\n\n**Task Description:**\n${webhookData.task_description || 'No task provided'}\n\n**Personality Data:**\n${personalityInfo}`;\n\nreturn [{\n  json: {\n    system: systemPrompt,\n    messages: [\n      {\n        role: 'user',\n        content: userMessage\n      }\n    ],\n    originalInput: {\n      task_description: webhookData.task_description,\n      personality_type: webhookData.personality_type || null,\n      trait_percentages: webhookData.trait_percentages || null\n    }\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-sonnet-4-5-20250514',\n  max_tokens: 4096,\n  temperature: 0.3,\n  system: $json.system,\n  messages: $json.messages\n}) }}",
        "options": {}
      },
      "id": "call-anthropic-api",
      "name": "Call Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_ANTHROPIC_HEADER_AUTH_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\nconst originalInput = $('Prepare Prompt').first().json.originalInput;\n\nlet analysisData;\ntry {\n  // Extract text from Anthropic API response\n  let content = apiResponse.content?.[0]?.text || '';\n  \n  if (!content) {\n    throw new Error('No content in API response');\n  }\n  \n  // Remove any markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Try to parse JSON\n  analysisData = JSON.parse(content);\n  \n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      original_input: originalInput,\n      error: {\n        message: 'Failed to parse LLM response',\n        details: e.message,\n        raw_response: apiResponse\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    data: analysisData,\n    original_input: originalInput,\n    error: null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1740,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Framework Taxonomy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Personality Calibration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Question Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Framework Taxonomy": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Personality Calibration": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Question Bank": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 2": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Call Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Anthropic API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "3"
}