n8n/workflow_2_generation.json
{
  "name": "Prompt Framework - Prompt Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/n8n/webhook/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2440fd6b-d922-4f14-931b-8ec75e49b8b6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        128
      ],
      "webhookId": "prompt-generation-webhook"
    },
    {
      "parameters": {
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/prompt-templates",
        "options": {}
      },
      "id": "a792648f-46d8-4a2b-8f4d-65489551c737",
      "name": "Fetch Prompt Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/personality-calibration",
        "options": {}
      },
      "id": "794b9123-4c4f-42a0-95ef-228160c6b46e",
      "name": "Fetch Personality Calibration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook Trigger').first().json.body || {};\nconst promptTemplates = $('Fetch Prompt Templates').first().json.content;\nconst personalityCalibration = $('Fetch Personality Calibration').first().json.content;\n\nreturn [{\n  json: {\n    workflow1_data: {\n      task_classification: body.task_classification,\n      selected_framework: body.selected_framework,\n      alternative_frameworks: body.alternative_frameworks || [],\n      personality_tier: body.personality_tier,\n      personality_adjustments_preview: body.personality_adjustments_preview || [],\n    },\n    user_input: {\n      task_description: body.original_task_description,\n      personality_type: body.personality_type || null,\n      trait_percentages: body.trait_percentages || null,\n    },\n    question_answers: body.question_answers,\n    reference_docs: {\n      prompt_templates: promptTemplates,\n      personality_calibration: personalityCalibration,\n    },\n  },\n}];"
      },
      "id": "c72ba0ac-1de0-427f-a330-69dd788de85d",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-3-7-sonnet-20250219',\n  max_tokens: 8192,\n  temperature: 0.3,\n  system: `You are an expert prompt engineering assistant. Your task is to construct an optimised prompt using the selected framework, incorporating the user's answers to clarifying questions, and applying appropriate personality-based adjustments.\\n\\nYou have access to two reference documents:\\n\\n## PROMPT TEMPLATES\\n${$json.reference_docs.prompt_templates}\\n\\n## PERSONALITY CALIBRATION\\n${$json.reference_docs.personality_calibration}\\n\\n---\\n\\n## YOUR TASK\\n\\n1. **Construct the optimised prompt** using the selected framework's template structure\\n2. **Incorporate all user information** from their task description and question answers\\n3. **Apply personality adjustments** to language, structure, and format (if personality data exists)\\n4. **Generate model recommendations** based on task type and requirements\\n5. **Provide iteration suggestions** for refining the prompt if needed\\n\\n## IMPORTANT RULES\\n\\n- The optimised prompt should be COMPLETE and ready for copy/paste into an AI model\\n- If personality_tier is \"none\", use neutral language and skip personality adjustments\\n- Include ALL relevant information from the user's answers\\n- Make the prompt specific, not generic\\n- Ensure constraints are clearly stated\\n- The prompt should be self-contained (the AI receiving it shouldn't need additional context)\\n\\n## OUTPUT FORMAT\\n\\nYou MUST respond with valid JSON in exactly this structure:\\n\\n{\\n  \"optimised_prompt\": \"The complete prompt text, ready for copy/paste. Use \\\\n for line breaks within the prompt.\",\\n  \"metadata\": {\\n    \"framework_used\": {\\n      \"name\": \"Framework Name\",\\n      \"code\": \"FRAMEWORK_CODE\",\\n      \"components\": [\"Component1\", \"Component2\"],\\n      \"explanation\": \"Why this framework was selected and how it was applied\"\\n    },\\n    \"personality_adjustments\": [\\n      {\\n        \"trait\": \"Trait description (e.g., High Thinking 84%)\",\\n        \"adjustment\": \"What was adjusted based on this trait\"\\n      }\\n    ],\\n    \"model_recommendations\": [\\n      {\\n        \"rank\": 1,\\n        \"model\": \"Model Display Name\",\\n        \"model_id\": \"model-api-identifier\",\\n        \"rationale\": \"Why this model is recommended\"\\n      },\\n      {\\n        \"rank\": 2,\\n        \"model\": \"Second Choice\",\\n        \"model_id\": \"model-api-identifier\",\\n        \"rationale\": \"Why this is the second choice\"\\n      },\\n      {\\n        \"rank\": 3,\\n        \"model\": \"Budget Option\",\\n        \"model_id\": \"model-api-identifier\",\\n        \"rationale\": \"Cost-effective alternative\"\\n      }\\n    ],\\n    \"iteration_suggestions\": [\\n      \"Suggestion for refining if output isn't quite right\",\\n      \"Another suggestion for a different angle\"\\n    ]\\n  }\\n}\\n\\nDo not include any text outside the JSON structure. Do not use markdown code blocks.`,\n  messages: [\n    {\n      role: 'user',\n      content: `Generate an optimised prompt using the following information:\\n\\n## TASK CLASSIFICATION (from Workflow 1)\\n${JSON.stringify($json.workflow1_data.task_classification, null, 2)}\\n\\n## SELECTED FRAMEWORK\\n${JSON.stringify($json.workflow1_data.selected_framework, null, 2)}\\n\\n## PERSONALITY TIER\\n${$json.workflow1_data.personality_tier}\\n\\n## PERSONALITY ADJUSTMENTS TO APPLY\\n${JSON.stringify($json.workflow1_data.personality_adjustments_preview, null, 2)}\\n\\n---\\n\\n## ORIGINAL TASK DESCRIPTION\\n${$json.user_input.task_description}\\n\\n## PERSONALITY DATA\\n${$json.user_input.personality_type ? 'Type: ' + $json.user_input.personality_type + ($json.user_input.trait_percentages ? '\\nPercentages: ' + JSON.stringify($json.user_input.trait_percentages) : '') : 'None provided - use neutral defaults'}\\n\\n## USER'S ANSWERS TO CLARIFYING QUESTIONS\\n${JSON.stringify($json.question_answers, null, 2)}\\n\\n---\\n\\nNow construct the optimised prompt incorporating all this information.`\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "6eb33905-d0a6-47c5-9da3-929f045d3d93",
      "name": "Call Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5u3Dji2E1ZKRUSRX",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\n\nlet messageContent = apiResponse.message?.content?.[0]?.text || apiResponse.message?.content || apiResponse.message || null;\nif (messageContent && typeof messageContent === 'string') {\n  messageContent = messageContent\n    .replace(/```json\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n}\n\nlet data;\ntry {\n  data = messageContent ? JSON.parse(messageContent) : null;\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: {\n        message: 'Failed to parse LLM response',\n        details: e.message,\n        raw: messageContent,\n      },\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    data,\n    error: null,\n  },\n}];"
      },
      "id": "240c2610-adf5-4880-8e27-5d806b91beb4",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "ea59e47a-9b17-4dc9-9e2d-8ec1f2624f6c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        528,
        128
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"data\": null,\n  \"error\": {\n    \"message\": \"An error occurred during prompt generation\",\n    \"details\": {{ JSON.stringify($json) }}\n  }\n}",
        "options": {}
      },
      "id": "65444e85-9cc5-4316-8587-76025ae6c108",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "414792e8-2e0a-4bf6-a58c-fbb254adef94",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -592,
        448
      ]
    },
    {
      "parameters": {},
      "id": "9e60ce88-00f3-4ac3-9075-b7d66b7f8018",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -368,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Prompt Templates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Personality Calibration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt Templates": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Personality Calibration": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Call Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Anthropic API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe0e525c-753e-44da-a0e7-96356eb8ea1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
  },
  "id": "YMvRB5aEeEqeZzO0",
  "tags": [
    {
      "name": "prompt-framework",
      "id": "JCf838Zrlbs7oBCN",
      "updatedAt": "2025-11-25T10:54:37.163Z",
      "createdAt": "2025-11-25T10:54:37.163Z"
    }
  ]
}