n8n/workflow_0.json
{
    "name": "workflow_0",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "api/n8n/webhook/pre-analysis",
                "responseMode": "responseNode",
                "options": []
            },
            "id": "924d147e-4cd2-4812-9ffa-291eb763930a",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "pre-analysis-clarity-check"
        },
        {
            "parameters": {
                "jsCode": "// Extract input from webhook\nconst webhookData = $input.first().json.body || {};\nconst userContext = webhookData.user_context || null;\n\n// Build user context string for system prompt\nlet userContextString = '';\nif (userContext) {\n    const parts = [];\n\n    // Location context\n    if (userContext.location?.country) {\n        parts.push(`Location: ${userContext.location.country}${userContext.location.city ? ` (${userContext.location.city})` : ''}`);\n        if (userContext.location.timezone) parts.push(`Timezone: ${userContext.location.timezone}`);\n        if (userContext.location.currency) parts.push(`Currency: ${userContext.location.currency}`);\n        if (userContext.location.language) parts.push(`Language: ${userContext.location.language}`);\n    }\n\n    // Professional context\n    if (userContext.professional?.job_title || userContext.professional?.industry) {\n        const prof = userContext.professional;\n        const profParts = [];\n        if (prof.job_title) profParts.push(prof.job_title);\n        if (prof.industry) profParts.push(`in ${prof.industry}`);\n        if (prof.experience_level) profParts.push(`(${prof.experience_level} level)`);\n        if (profParts.length > 0) parts.push(`Professional: ${profParts.join(' ')}`);\n        if (prof.company_size) parts.push(`Company size: ${prof.company_size}`);\n    }\n\n    // Team context\n    if (userContext.team?.size || userContext.team?.role) {\n        const team = userContext.team;\n        const teamParts = [];\n        if (team.size) teamParts.push(`${team.size} team`);\n        if (team.role) teamParts.push(`${team.role} role`);\n        if (team.work_mode) teamParts.push(`(${team.work_mode})`);\n        if (teamParts.length > 0) parts.push(`Team: ${teamParts.join(', ')}`);\n    }\n\n    // Preferences context\n    if (userContext.preferences?.budget) {\n        parts.push(`Budget preference: ${userContext.preferences.budget}`);\n    }\n    if (userContext.preferences?.primary_programming_language) {\n        parts.push(`Primary language: ${userContext.preferences.primary_programming_language}`);\n    }\n\n    // Determine language preference and build language instructions\n    let languageCode = userContext?.location?.language || 'en-GB';\n    let languageInstructions = '';\n\n    const languageMap = {\n        'en-US': 'MANDATORY: Respond exclusively in American English. Use American spelling (optimized, not optimised), MM/DD/YYYY dates, American terminology.',\n        'en-GB': 'MANDATORY: Respond exclusively in British English. Use British spelling (optimised, not optimized), DD/MM/YYYY dates, British terminology.',\n        'fr-FR': 'MANDATORY: Respond exclusively in French (Fran\u00e7ais). Utilisez uniquement le fran\u00e7ais pour votre r\u00e9ponse compl\u00e8te. Utilisez les conventions de ponctuation fran\u00e7aises (espace avant \u00ab!\u00bb, \u00ab?\u00bb), dates au format JJ/MM/AAAA.',\n        'de-DE': 'MANDATORY: Respond exclusively in German (Deutsch). Antworten Sie ausschlie\u00dflich auf Deutsch. Nutze deutsche Konventionen f\u00fcr Datumsformate (TT.MM.JJJJ), Kommas als Dezimaltrennzeichen.',\n        'es-ES': 'MANDATORY: Respond exclusively in Spanish (Espa\u00f1ol). Responda \u00fanicamente en espa\u00f1ol. Utiliza convenciones espa\u00f1olas para fechas (DD/MM/AAAA), puntuaci\u00f3n y terminolog\u00eda.'\n    };\n\n    const langInstruction = languageMap[languageCode] || languageMap['en-GB'];\n    languageInstructions = `\\n\\n# Language & Conventions\\n${langInstruction}`;\n\n    if (parts.length > 0) {\n        userContextString = '\\n\\n# User Context\\n' + parts.map(p => `- ${p}`).join('\\n') + '\\n\\nUse this context to tailor your response appropriately (e.g., use local currency, consider timezone, adjust technical level).';\n    }\n\n    userContextString += languageInstructions;\n}\n\nconst systemPrompt = `You are a clarity assessment assistant for an AI prompt optimisation tool. Your job is to:\n1. Determine if a task description needs clarification\n2. Extract/infer context (subject, audience, purpose, output_format, detail_level)\n\n# Assessment Scope\nONLY assess clarity on these 5 context fields:\n1. **Subject**: WHAT the task is about\n2. **Audience**: WHO it's for (self/team/management/external)\n3. **Purpose**: WHY it's being created\n4. **Output Format**: WHAT deliverable type (document, code, plan, etc.)\n5. **Detail Level**: HOW DEEP (summary/moderate/comprehensive)\n\nDo NOT ask about: timeline, budget, constraints, scope duration, success criteria, or other implementation details.\n\n# Examples\n**Clear (infer):**\n- \"Write a quick summary of OAuth\" \u2192 subject: \"OAuth\", audience: \"self\", purpose: \"learning\", output_format: \"document\", detail_level: \"summary\"\n- \"I need a detailed implementation plan for user registration\" \u2192 subject: \"user registration\", audience: \"self\", purpose: \"code\", output_format: \"structured_plan\", detail_level: \"comprehensive\"\n\n**Ambiguous (ask):**\n- \"Create a training programme for partner manager\" \u2192 subject clear, audience clear, purpose clear, output_format clear, but detail_level unclear \u2192 ASK about detail_level\n- \"Create a detailed bug fix report for the login page issue\" \u2192 vague subject (what is \"the issue\"?), audience unclear \u2192 ASK\n- \"Help with marketing\" \u2192 lacks subject, audience, purpose \u2192 ASK\n- \"Create a report\" \u2192 lacks subject, detail_level \u2192 ASK\n\n# Decision Guidelines\n**ASK when:**\n- Task is 1-3 words with no context\n- Missing subject/topic - ALWAYS ASK FIRST\n- Subject uses vague references (\"the issue/problem/bug/error\" without explaining what it is)\n- Missing audience (genuinely ambiguous, not defaultable to self/team)\n- Missing purpose (genuinely ambiguous)\n- Missing output_format (not inferrable from keywords)\n- Missing detail_level (no keywords present)\n\n**INFER when:**\n- Task has clear subject/topic\n- Audience can be defaulted (self/team) or is stated\n- Purpose can be inferred from context\n- Output format inferrable from keywords\n- Has 10+ words with meaningful details\n\n**For output_format, INFER from keywords:**\n\"training\"/\"programme\"/\"curriculum\" \u2192 \"structured_plan\" | \"document\"/\"write\"/\"manual\" \u2192 \"document\" | \"code\"/\"implement\" \u2192 \"code\" | \"list\"/\"ideas\" \u2192 \"list\" | \"email\"/\"pitch\" \u2192 \"communication\" | \"analyse\"/\"evaluate\" \u2192 \"analysis\" | \"create\"/\"story\" \u2192 \"creative\"\n\n**For detail_level, MANDATORY KEYWORD SCAN:**\n1. Search task for ONLY: \"brief\", \"quick\", \"summary\", \"detailed\", \"comprehensive\", \"full\"\n2. If found \u2192 infer level, needs_clarification=false\n3. If NOT found \u2192 needs_clarification=true, ask user\n4. FORBIDDEN: Do not reason about it, do not check task type, do not infer from context richness\n5. ABSOLUTE RULE: No exceptions, no \"probably comprehensive\", no defaults\n\n# Context Fields (ALWAYS include)\n- **subject**: Main topic (string)\n- **audience**: \"self\", \"team\", \"management\", or \"external\"\n- **purpose**: High-level purpose (string)\n- **output_format**: Deliverable type (string). Examples: \"document\", \"structured_plan\", \"list\", \"code\", \"communication\", \"analysis\", \"creative\"\n- **detail_level**: \"summary\", \"moderate\", or \"comprehensive\"\n\n# Response Format\n**If NO clarification needed:**\n\\`\\`\\`json\n{\n  \"needs_clarification\": false,\n  \"questions\": null,\n  \"pre_analysis_context\": {\n    \"subject\": \"[inferred]\",\n    \"audience\": \"[inferred]\",\n    \"purpose\": \"[inferred]\",\n    \"output_format\": \"[inferred]\",\n    \"detail_level\": \"[inferred]\"\n  },\n  \"reasoning\": \"Your task provides sufficient context to proceed.\"\n}\n\\`\\`\\`\n\n**If clarification needed:**\n\\`\\`\\`json\n{\n  \"needs_clarification\": true,\n  \"questions\": [\n    {\n      \"id\": \"audience\",\n      \"type\": \"choice\",\n      \"question\": \"Who is the primary audience?\",\n      \"allowsOther\": true,\n      \"options\": [\n        { \"value\": \"self\", \"label\": \"For myself\" },\n        { \"value\": \"team\", \"label\": \"My team\" }\n      ]\n    },\n    {\n      \"id\": \"detail_level\",\n      \"type\": \"choice\",\n      \"question\": \"How detailed should this be?\",\n      \"options\": [\n        { \"value\": \"summary\", \"label\": \"High-level summary\" },\n        { \"value\": \"moderate\", \"label\": \"Moderate detail\" },\n        { \"value\": \"comprehensive\", \"label\": \"Comprehensive and detailed\" }\n      ]\n    }\n  ],\n  \"pre_analysis_context\": {\n    \"subject\": \"[inferred]\",\n    \"audience\": \"[inferred]\",\n    \"purpose\": \"[inferred]\",\n    \"output_format\": \"[inferred]\",\n    \"detail_level\": null\n  },\n  \"reasoning\": \"Your task is clear on subject, audience, purpose, and output format. I need to know your desired detail level.\"\n}\n\\`\\`\\`\n\n# Rules\n1. **ALWAYS return pre_analysis_context** - include all inferred values, use null for missing\n2. **Only ask questions to fill the 5 context fields** - not timeline, budget, constraints\n3. **Each question MUST have**: id, type, question, options (for choice/yes_no)\n4. **Question types**: \"choice\", \"text\", or \"yes_no\"\n5. **allowsOther flag**: Set \"allowsOther: true\" for choice questions where users might need to specify custom values (e.g., audience: team, client, partner, investor, etc.). Frontend automatically appends \"Other (please specify)\" option.\n6. **Return ONLY valid JSON** - no markdown blocks, no extra text, start with {, end with }\n\nOUTPUT EXACTLY ONE JSON OBJECT ONLY:${userContextString}`;\n\nconst userMessage = `Analyse this task and determine if clarification is needed:\n\n**Task Description:**\n${webhookData.task_description || 'No task provided'}`;\n\nreturn [\n    {\n        json: {\n            system: systemPrompt,\n            messages: [\n                {\n                    role: 'user',\n                    content: userMessage\n                }\n            ]\n        }\n    }\n];"
            },
            "id": "66f89c16-f3dd-4adf-97cd-c2b8a7bc09ba",
            "name": "Prepare Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5',\n  max_tokens: 2000,\n  temperature: 0.3,\n  system: $json.system,\n  messages: $json.messages\n}) }}",
                "options": []
            },
            "id": "dd452b00-9652-4d8a-905a-fcb0d87a77f0",
            "name": "Call Anthropic API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                448,
                0
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4KMLQOeCORPx22KN",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse the Claude response and structure it properly\nconst apiResponse = $input.first().json;\nconst executionId = $execution.id || 'unknown';\nconst currentNode = 'Parse & Validate Response';\n\ntry {\n  // Extract text from Anthropic API response\n  let content = apiResponse.content?.[0]?.text || '';\n\n  if (!content) {\n    throw new Error('No content in API response');\n  }\n\n  // Remove any markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  // Claude sometimes generates JSON multiple times with explanation text in between\n  // Find ALL JSON objects and take the LAST one (most complete)\n  const jsonObjects = [];\n  let depth = 0;\n  let jsonStart = -1;\n\n  for (let i = 0; i < content.length; i++) {\n    if (content[i] === '{') {\n      if (depth === 0) jsonStart = i;\n      depth++;\n    } else if (content[i] === '}') {\n      depth--;\n      if (depth === 0 && jsonStart !== -1) {\n        jsonObjects.push(content.substring(jsonStart, i + 1));\n        jsonStart = -1;\n      }\n    }\n  }\n\n  if (jsonObjects.length === 0) {\n    throw new Error('No JSON object found in response');\n  }\n\n  // Take the last JSON object (most complete)\n  const jsonOnly = jsonObjects[jsonObjects.length - 1];\n\n  // Parse JSON response from Claude\n  const parsed = JSON.parse(jsonOnly);\n\n  // Validate response structure\n  if (typeof parsed.needs_clarification !== 'boolean') {\n    throw new Error('Invalid response: missing needs_clarification');\n  }\n\n  // If clarification needed, validate questions\n  if (parsed.needs_clarification) {\n    if (!Array.isArray(parsed.questions) || parsed.questions.length === 0) {\n      throw new Error('Invalid response: needs_clarification=true but no questions provided');\n    }\n\n    // Validate each question\n    for (const q of parsed.questions) {\n      if (!q.id || !q.question || !q.type) {\n        throw new Error('Invalid question structure: missing id, question, or type');\n      }\n\n      if (!['choice', 'text', 'yes_no', 'number'].includes(q.type)) {\n        throw new Error(`Invalid question type: ${q.type}`);\n      }\n\n      if ((q.type === 'choice' || q.type === 'yes_no') && !Array.isArray(q.options)) {\n        throw new Error(`${q.type} question must have options array`);\n      }\n\n      if ((q.type === 'text' || q.type === 'number') && q.options) {\n        throw new Error(`${q.type} question should not have options array`);\n      }\n    }\n\n    // Limit to 3 questions max\n    if (parsed.questions.length > 3) {\n      parsed.questions = parsed.questions.slice(0, 3);\n    }\n  }\n\n  // Validate pre_analysis_context (should always be present now)\n  if (!parsed.needs_clarification && !parsed.pre_analysis_context) {\n    console.warn('Warning: needs_clarification=false but no pre_analysis_context provided');\n  }\n\n  // Extract API usage data\n  const apiUsage = {\n    model: apiResponse.model || 'claude-3-5-haiku-20241022',\n    input_tokens: apiResponse.usage?.input_tokens || 0,\n    output_tokens: apiResponse.usage?.output_tokens || 0\n  };\n\n  // Return structured response\n  return {\n    json: {\n      success: true,\n      data: {\n        needs_clarification: parsed.needs_clarification,\n        questions: parsed.questions || null,\n        pre_analysis_context: parsed.pre_analysis_context || null,\n        reasoning: parsed.reasoning || (parsed.needs_clarification ?\n          'These questions will help optimise your prompt.' :\n          'Your task description is clear.')\n      },\n      api_usage: apiUsage,\n      error: null\n    }\n  };\n\n} catch (error) {\n  // Enhanced error context for debugging\n  const errorType = error.message.includes('No content') ? 'api_error' : 'parsing_error';\n  const failedNode = error.message.includes('No content') ? 'Call Anthropic API' : currentNode;\n\n  return {\n    json: {\n      success: false,\n      data: null,\n      api_usage: null,\n      error: {\n        message: 'Failed to parse pre-analysis response',\n        details: error.message\n      },\n      error_context: {\n        error_type: errorType,\n        failed_node: failedNode,\n        execution_id: executionId,\n        timestamp: new Date().toISOString()\n      }\n    }\n  };\n}\n"
            },
            "id": "f009b607-6327-4b93-baaf-1ed0b37d0c3a",
            "name": "Parse & Validate Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                656,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "054f04d2-2a3e-40b8-887b-0c9304b58a0e",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                0
            ]
        }
    ],
    "pinData": [],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Prepare Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Prompt": {
            "main": [
                [
                    {
                        "node": "Call Anthropic API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Anthropic API": {
            "main": [
                [
                    {
                        "node": "Parse & Validate Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse & Validate Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "4999b1fb-8442-48e4-b940-3aec3bc9dded",
    "meta": {
        "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
    },
    "id": "KQBiHPVROISaLFZ1",
    "tags": []
}