n8n/workflow_2_generation.json
{
  "name": "Prompt Framework - Prompt Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/n8n/webhook/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b7f39817-ba7e-4e2d-8e7f-065058adace7",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        128
      ],
      "webhookId": "prompt-generation-webhook"
    },
    {
      "parameters": {
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/framework-template/{{ $json.body.analysis_data.selected_framework.code }}",
        "options": {}
      },
      "id": "2312447b-2393-407a-bb2f-704d59b12ab2",
      "name": "Fetch Framework Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $env.LARAVEL_BASE_URL }}/api/reference/personality-calibration-smart",
        "options": {}
      },
      "id": "1ee645fc-078e-455b-94f4-c9c0892a1d7b",
      "name": "Fetch Personality Calibration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "personality-tier-check",
              "leftValue": "={{ $json.body.analysis_data.personality_tier }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-personality-tier-node",
      "name": "Check Personality Tier",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5',\n  max_tokens: 8192,\n  temperature: 0.3,\n  system: $json.system,\n  messages: $json.messages\n}) }}",
        "options": {}
      },
      "id": "aaa8387b-3ff8-44f2-ad44-586a1403be6c",
      "name": "Call Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5u3Dji2E1ZKRUSRX",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\nconst originalInput = $('Prepare Prompt').first().json.originalInput;\n\nlet generationData;\ntry {\n  // Extract text from Anthropic API response\n  let content = apiResponse.content?.[0]?.text || '';\n  \n  if (!content) {\n    throw new Error('No content in API response');\n  }\n  \n  // Remove any markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Try to parse JSON\n  generationData = JSON.parse(content);\n  \n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      original_input: originalInput,\n      api_usage: null,\n      error: {\n        message: 'Failed to parse LLM response',\n        details: e.message,\n        raw_response: apiResponse\n      }\n    }\n  }];\n}\n\n// Extract API usage data\nconst apiUsage = {\n  model: apiResponse.model || 'claude-haiku-4-5',\n  input_tokens: apiResponse.usage?.input_tokens || 0,\n  output_tokens: apiResponse.usage?.output_tokens || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    data: generationData,\n    original_input: originalInput,\n    api_usage: apiUsage,\n    error: null\n  }\n}];"
      },
      "id": "e3e13a95-a986-44ce-b6f5-55f1089e2046",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "df7764cb-18c2-4817-9922-313d5f9f6204",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1408,
        128
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"data\": null,\n  \"error\": {\n    \"message\": \"An error occurred during prompt generation\",\n    \"details\": {{ JSON.stringify($json) }}\n  }\n}",
        "options": {}
      },
      "id": "b42bb927-66e1-42bd-b16d-43acf2d639e4",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "0daecc8f-1e80-404d-800c-e4092bce6e33",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all data from the workflow\nconst webhookData = $('Webhook Trigger').first().json.body || {};\nconsole.log(webhookData);\nconst frameworkTemplateDoc = $('Fetch Framework Template').first().json;\n// Personality calibration is only fetched if personality_tier !== 'none'\nlet personalityDoc = { content: 'Not applicable - no personality data provided' };\ntry {\n  const personalityDocNode = $('Fetch Personality Calibration').all();\n  if (personalityDocNode.length > 0) {\n    personalityDoc = personalityDocNode[0].json;\n  }\n} catch (e) {\n  // Node hasn't been executed - personality was skipped\n  console.log('Personality Calibration node was not executed (personality_tier is none)');\n}\n\n// Extract the analysis data from Workflow 1\nconst analysisData = webhookData.analysis_data || {};\nconst questionAnswers = webhookData.question_answers || [];\n\n// Build the system prompt\nconst systemPrompt = `You are an expert prompt engineering assistant. Your task is to construct an optimised, ready-to-use prompt based on the framework selected in the analysis phase, applying Task-Trait Alignment adjustments (amplification and counterbalancing) as specified.\n\nYou have access to two reference documents:\n\n## FRAMEWORK TEMPLATE\n${frameworkTemplateDoc.content || 'Not available'}\n\n## PERSONALITY CALIBRATION\n${personalityDoc.content || 'Not available'}\n\n---\n\n## TASK\n\n1. Use framework template\n2. Apply amplification (leverage strengths) and counterbalancing (inject requirements)\n3. Incorporate user answers\n4. Generate model recommendations\n\n## COUNTERBALANCE INJECTION\n\nWhen counterbalancing specified: add explicit requirements in prompt, include in quality criteria.\n\n## OUTPUT FORMAT\n\nYou MUST respond with valid JSON only (no markdown code blocks, no extra text).\n\nIMPORTANT: The optimised_prompt field will contain newlines. You MUST properly escape them as \\\\n in the JSON output. All newlines in string values must be escaped.\n\nUse this exact structure:\n\n{\n  \"optimised_prompt\": \"The complete prompt text, ready for copy/paste. This should be a fully self-contained prompt that includes all context, requirements, and instructions. It should be usable immediately without any additional information.\",\n\n  \"metadata\": {\n    \"framework_used\": {\n      \"name\": \"Framework Name\",\n      \"code\": \"FRAMEWORK_CODE\",\n      \"components\": [\"Component1\", \"Component2\"],\n      \"explanation\": \"How the framework was applied\"\n    },\n\n    \"task_trait_alignment\": {\n      \"amplified\": [\n        {\n          \"trait\": \"High N (64%)\",\n          \"requirement_aligned\": \"VISION\",\n          \"how_applied\": \"Description of how this was leveraged in the prompt\"\n        }\n      ],\n      \"counterbalanced\": [\n        {\n          \"trait\": \"High T (84%)\",\n          \"requirement_opposed\": \"EMPATHY\",\n          \"reason\": \"Why counterbalancing was needed\",\n          \"injections_added\": [\n            \"Specific text that was added to the prompt\"\n          ]\n        }\n      ],\n      \"neutral\": [\n        {\n          \"trait\": \"High I (65%)\",\n          \"reason\": \"Why no adjustment was made\"\n        }\n      ]\n    },\n\n    \"personality_adjustments_summary\": [\n      \"AMPLIFIED: Brief description\",\n      \"COUNTERBALANCED: Brief description\"\n    ],\n\n    \"model_recommendations\": [\n      {\n        \"rank\": 1,\n        \"model\": \"Model Name\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Why this model is recommended, considering counterbalance complexity\"\n      },\n      {\n        \"rank\": 2,\n        \"model\": \"Alternative Model\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Why this is a good alternative\"\n      },\n      {\n        \"rank\": 3,\n        \"model\": \"Budget Option\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Cost-effective option if applicable\"\n      }\n    ],\n\n    \"iteration_suggestions\": [\n      \"Suggestion for how to refine the prompt if needed\",\n      \"Another potential adjustment\"\n    ]\n  }\n}`;\n\n// Build the user message with all the context\nlet userMessage = `## ANALYSIS FROM WORKFLOW 1\\n\\n`;\nuserMessage += `Task: ${analysisData.task_classification?.primary_category} (${analysisData.task_classification?.complexity})\n`;\nuserMessage += `Framework: ${analysisData.selected_framework?.name}\n`;\nuserMessage += `Personality: ${analysisData.personality_tier || 'none'}\n\n`;\n\nif (analysisData.task_trait_alignment) {\n    userMessage += `**Task-Trait Alignment Analysis:**\\n${JSON.stringify(analysisData.task_trait_alignment, null, 2)}\\n\\n`;\n    userMessage += `IMPORTANT: Apply the amplifications and counterbalancing as specified above. For each counterbalanced trait, ensure the injection text is explicitly included in the generated prompt.\\n\\n`;\n}\n\nuserMessage += `---\\n\\n## ORIGINAL TASK\\n\\n${webhookData.original_task_description || 'No task description provided'}\\n\\n`;\n\nif (webhookData.personality_type) {\n    userMessage += `## PERSONALITY DATA\\n\\n`;\n    userMessage += `Type: ${webhookData.personality_type}\\n`;\n    if (webhookData.trait_percentages) {\n        userMessage += `Percentages: ${JSON.stringify(webhookData.trait_percentages)}\\n`;\n    }\n    userMessage += `\\n`;\n}\n\nuserMessage += `## USER'S ANSWERS TO CLARIFYING QUESTIONS\\n\\n`;\nif (questionAnswers && questionAnswers.length > 0) {\n    questionAnswers.forEach((qa, index) => {\n        userMessage += `**Q${index + 1}: ${qa.question}**\\n`;\n        userMessage += `A: ${qa.answer}\\n\\n`;\n    });\n} else {\n    userMessage += `No question answers provided.\\n\\n`;\n}\n\nuserMessage += `---\\n\\n`;\nuserMessage += `Now construct the optimised prompt. Remember to:\\n`;\nuserMessage += `1. Use the ${analysisData.selected_framework?.name || 'selected'} framework structure\\n`;\nuserMessage += `2. Incorporate all user answers naturally into the prompt\\n`;\nuserMessage += `3. Apply AMPLIFICATION for aligned traits (leverage strengths)\\n`;\nuserMessage += `4. Apply COUNTERBALANCING for opposed traits (inject explicit requirements)\\n`;\nuserMessage += `5. Make the prompt self-contained and immediately usable\\n`;\nuserMessage += `6. Recommend models considering the complexity of counterbalancing needed${userContextString}`;\n\nreturn [\n    {\n        json: {\n            system: systemPrompt,\n            messages: [\n                {\n                    role: 'user',\n                    content: userMessage,\n                },\n            ],\n            originalInput: {\n                original_task_description:\n                    webhookData.original_task_description,\n                personality_type: webhookData.personality_type || null,\n                trait_percentages: webhookData.trait_percentages || null,\n                analysis_data: analysisData,\n                question_answers: questionAnswers,\n            },\n        },\n    },\n];\n"
      },
      "id": "f5198784-c72c-461d-bc2d-8868f0589db6",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Framework Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Personality Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Framework Template": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Personality Calibration": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Anthropic API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Call Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Personality Tier": {
      "main": [
        [
          {
            "node": "Fetch Personality Calibration",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc762955-4ed4-43fc-ab63-e7fc8a354239",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
  },
  "id": "YMvRB5aEeEqeZzO0",
  "tags": [
    {
      "updatedAt": "2025-11-25T10:54:37.163Z",
      "createdAt": "2025-11-25T10:54:37.163Z",
      "id": "JCf838Zrlbs7oBCN",
      "name": "prompt-framework"
    }
  ]
}