n8n/workflow_backup/workflow_2.json
{
    "name": "workflow_2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "api/n8n/webhook/generate",
                "responseMode": "responseNode",
                "options": []
            },
            "id": "1f561ed1-8368-4f0d-b143-26c6226e0bb0",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -368,
                -352
            ],
            "webhookId": "prompt-generation-webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "framework_templates",
                            "name": "framework_templates",
                            "value": "{\"ELI5\":true,\"3CS\":true,\"4S_METHOD\":true,\"APE\":true,\"ATOMIC_PROMPTING\":true,\"BAB\":true,\"BLOG\":true,\"BLOOMS_TAXONOMY\":true,\"CAR\":true,\"CARE\":true,\"CHAIN_OF_DESTINY\":true}",
                            "type": "object"
                        },
                        {
                            "id": "personality_calibration_full",
                            "name": "personality_calibration",
                            "value": "{\"content\": \"# Personality Calibration Reference Document\\n\\n## Purpose\\n\\nThis document provides rules for adjusting prompt style, question phrasing, and output format based on the user's personality type and trait percentages. It includes the Task-Trait Alignment system for determining when to amplify, counterbalance, or remain neutral on each personality dimension.\\n\\nWhen no personality data is provided, skip all personality-based adjustments and use neutral defaults.\\n\\n---\\n\\n## The 16Personalities Framework Overview\\n\\nThe 16Personalities model uses five independent scales:\\n\\n| Scale | Dimension | Low End | High End |\\n|-------|-----------|---------|----------|\\n| Mind | Energy direction | Introverted (I) | Extraverted (E) |\\n| Energy | Information processing | Observant/Sensing (S) | Intuitive (N) |\\n| Nature | Decision making | Feeling (F) | Thinking (T) |\\n| Tactics | Approach to structure | Prospecting/Perceiving (P) | Judging (J) |\\n| Identity | Self-confidence | Turbulent (T) | Assertive (A) |\\n\\n### Percentage Interpretation\\n\\nThe percentages indicate strength of preference on each scale:\\n\\n| Percentage Range | Interpretation | Adjustment Weight |\\n|------------------|----------------|-------------------|\\n| 50-55% | Borderline \\u2014 both approaches viable | 0.25 (minimal) |\\n| 55-65% | Moderate preference | 0.50 (standard) |\\n| 65-75% | Clear preference | 0.75 (significant) |\\n| 75%+ | Strong preference | 1.00 (maximum) |\\n\\n---\\n\\n## Handling Missing Personality Data\\n\\n### Tier 1: Full Data (Type + Percentages)\\n- User provides: e.g., \\\"INTP-A\\\" with \\\"I:65%, N:64%, T:84%, P:57%, A:84%\\\"\\n- Action: Apply full personality calibration with Task-Trait Alignment\\n\\n### Tier 2: Partial Data (Type Only)\\n- User provides: e.g., \\\"INTP-A\\\" without percentages\\n- Action: Default all traits to 65% and apply standard calibration\\n- Example: INTP-A \\u2192 I:65%, N:65%, T:65%, P:65%, A:65%\\n\\n### Tier 3: No Data\\n- User provides: No personality information\\n- Action: Skip ALL personality-based adjustments\\n- Use neutral, professional defaults throughout\\n- Note in output: \\\"No personality adjustments applied \\u2014 task-driven approach used\\\"\\n\\n---\\n\\n## Task-Trait Alignment System\\n\\n### Core Principle\\n\\nRather than always amplifying or always counterbalancing personality traits, the system should:\\n\\n1. **Amplify** traits that are assets for the specific task\\n2. **Counterbalance** traits that create blind spots for the task\\n3. **Remain neutral** on traits irrelevant to the task\\n\\n### Task Cognitive Requirements\\n\\nEvery task has inherent cognitive requirements. These requirements may align with, oppose, or be unrelated to specific personality traits.\\n\\n#### Requirement: Empathy & Stakeholder Awareness\\n\\nTasks requiring understanding of human feelings, relationships, and interpersonal impact.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject empathy requirements |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 natural social awareness |\\n| High I (\\u226560%) | **Neutral** | May need slight encouragement to consider others |\\n\\n**Counterbalance injection for High T:**\\n- Add explicit requirements: \\\"Consider how this will make the recipient feel\\\"\\n- Include stakeholder impact analysis\\n- Request acknowledgment of emotional dimensions\\n\\n#### Requirement: Big-Picture Strategic Vision\\n\\nTasks requiring future thinking, pattern recognition, and conceptual frameworks.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for broader perspective |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 openness to possibilities |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Step back and consider the broader implications\\\"\\n- Request future-state visioning\\n- Ask for pattern identification across examples\\n\\n#### Requirement: Detailed Execution Planning\\n\\nTasks requiring step-by-step specificity, concrete actions, and practical implementation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural planning ability |\\n| High N (\\u226560%) | **Misaligned** | Counterbalance \\u2014 force granular detail |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 require specific commitments |\\n\\n**Counterbalance injection for High N:**\\n- Add requirements: \\\"Provide specific, concrete steps\\\"\\n- Request timelines, milestones, and measurable actions\\n- Ask for practical implementation details, not just concepts\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Commit to specific actions and dates\\\"\\n- Request prioritised task lists\\n- Ask for clear sequencing and dependencies\\n\\n#### Requirement: Decisive Recommendations\\n\\nTasks requiring clear conclusions, prioritised options, and confident guidance.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural decisiveness |\\n| High A (\\u226560%) | **Aligned** | Amplify \\u2014 natural confidence |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for commitment |\\n| High T-identity (\\u226560%) | **Misaligned** | Counterbalance \\u2014 reduce excessive hedging |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Provide a clear, prioritised recommendation\\\"\\n- Request \\\"If you had to choose one...\\\" framing\\n- Limit options presented to top 2-3\\n\\n**Counterbalance injection for High T-identity (Turbulent):**\\n- Add requirements: \\\"State your recommendation confidently\\\"\\n- Request clear language without excessive caveats\\n- Ask for \\\"recommended\\\" not \\\"you might consider\\\"\\n\\n#### Requirement: Exploring Multiple Options\\n\\nTasks requiring divergent thinking, option generation, and avoiding premature closure.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 natural openness |\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 prevent premature closure |\\n| High A (\\u226560%) | **Slightly misaligned** | May dismiss options too quickly |\\n\\n**Counterbalance injection for High J:**\\n- Add requirements: \\\"Generate at least 4-5 distinct options before evaluating\\\"\\n- Request \\\"what else could work?\\\" exploration\\n- Explicitly delay recommendation until options are fully explored\\n\\n#### Requirement: Objective Analysis\\n\\nTasks requiring dispassionate evaluation, logical reasoning, and evidence-based conclusions.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 focuses on facts |\\n| High F (\\u226560%) | **Misaligned** | Counterbalance \\u2014 emphasise data over feelings |\\n\\n**Counterbalance injection for High F:**\\n- Add requirements: \\\"Base conclusions on evidence and data\\\"\\n- Request separation of facts from feelings\\n- Ask for objective criteria before subjective considerations\\n\\n#### Requirement: Risk Awareness\\n\\nTasks requiring identification of potential problems, downsides, and failure modes.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T-identity (\\u226560%) | **Aligned** | Amplify \\u2014 natural risk sensitivity |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 analytical about risks |\\n| High A (\\u226560%) | **Misaligned** | Counterbalance \\u2014 may underweight risks |\\n| High N (\\u226560%) | **Slightly misaligned** | May focus on possibilities over risks |\\n\\n**Counterbalance injection for High A:**\\n- Add requirements: \\\"Explicitly identify what could go wrong\\\"\\n- Request risk/downside analysis section\\n- Ask \\\"What would cause this to fail?\\\"\\n\\n#### Requirement: Creative Innovation\\n\\nTasks requiring novel ideas, unconventional thinking, and breaking from established patterns.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 open to unconventional |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push beyond conventional |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 loosen structure requirements |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Consider unconventional approaches\\\"\\n- Request \\\"What if we ignored current constraints?\\\" thinking\\n- Ask for ideas that challenge assumptions\\n\\n#### Requirement: Structured Communication\\n\\nTasks requiring clear organisation, logical flow, and professional presentation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural organiser |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 logical structure |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 impose structure |\\n| High F (\\u226560%) | **Neutral** | May prefer narrative over structure |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Use clear headings and logical sections\\\"\\n- Request numbered lists for sequential items\\n- Ask for executive summary upfront\\n\\n#### Requirement: Warm/Relational Tone\\n\\nTasks requiring warmth, rapport-building, and relationship-focused communication.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural warmth |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 social orientation |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject warmth |\\n| High I (\\u226560%) | **Neutral** | May need encouragement for warmth |\\n\\n**Counterbalance injection for High T:**\\n- Add requirements: \\\"Open with personal acknowledgment\\\"\\n- Request relationship-affirming language\\n- Ask for tone that prioritises connection over efficiency\\n\\n---\\n\\n### Task Category to Cognitive Requirements Mapping\\n\\n| Task Category | Primary Requirements | Secondary Requirements |\\n|---------------|---------------------|----------------------|\\n| DECISION | Objective Analysis, Risk Awareness | Decisive Recommendations |\\n| STRATEGY | Big-Picture Vision, Detailed Planning | Risk Awareness, Decisive Recommendations |\\n| ANALYSIS | Objective Analysis, Detailed Planning | Risk Awareness |\\n| CREATION_CONTENT | Varies by content type | Structured Communication |\\n| CREATION_TECHNICAL | Detailed Planning, Objective Analysis | Structured Communication |\\n| IDEATION | Creative Innovation, Exploring Options | Big-Picture Vision |\\n| PROBLEM_SOLVING | Objective Analysis, Detailed Planning | Risk Awareness, Exploring Options |\\n| LEARNING | Structured Communication | Varies by learner |\\n| PERSUASION | Empathy & Stakeholder Awareness, Warm Tone | Structured Communication |\\n| FEEDBACK | Empathy & Stakeholder Awareness, Objective Analysis | Warm Tone |\\n| RESEARCH | Objective Analysis, Exploring Options | Detailed Planning |\\n| GOAL_SETTING | Detailed Planning, Decisive Recommendations | Big-Picture Vision |\\n\\n### Content-Type Specific Requirements\\n\\nFor CREATION_CONTENT tasks, requirements vary by content type:\\n\\n| Content Type | Primary Requirements |\\n|--------------|---------------------|\\n| Customer email | Empathy, Warm Tone, Structured Communication |\\n| Marketing copy | Empathy, Creative Innovation, Decisive Recommendations |\\n| Technical blog | Objective Analysis, Structured Communication, Detailed Planning |\\n| Executive summary | Decisive Recommendations, Structured Communication |\\n| Apology/bad news | Empathy, Warm Tone, Risk Awareness |\\n| Sales pitch | Empathy, Decisive Recommendations, Creative Innovation |\\n| Internal memo | Structured Communication, Objective Analysis |\\n| Social media | Creative Innovation, Warm Tone |\\n\\n---\\n\\n## Task-Trait Alignment Algorithm\\n\\n```\\n1. Identify the task category and content type (if applicable)\\n\\n2. Determine cognitive requirements:\\n   - Look up primary requirements from Task Category mapping\\n   - Add content-type specific requirements if CREATION_CONTENT\\n   - Consider any explicit requirements mentioned by user\\n\\n3. For each of the user's personality traits (where \\u226555%):\\n\\n   a. Check alignment against each cognitive requirement:\\n      - If trait ALIGNS with requirement \\u2192 Mark for AMPLIFICATION\\n      - If trait OPPOSES requirement \\u2192 Mark for COUNTERBALANCING\\n      - If trait is UNRELATED to requirement \\u2192 Mark as NEUTRAL\\n\\n   b. Resolve conflicts (trait aligns with one requirement, opposes another):\\n      - Prioritise primary requirements over secondary\\n      - If still conflicted, lean toward counterbalancing (safety)\\n\\n4. Generate adjustment actions:\\n   - For AMPLIFY: Use trait-aligned language and structure\\n   - For COUNTERBALANCE: Inject explicit requirements user might skip\\n   - For NEUTRAL: No specific adjustment\\n\\n5. Document the alignment analysis for transparency\\n```\\n\\n---\\n\\n## Composite Personality Profiles\\n\\nCertain trait combinations create recognisable patterns. Apply Task-Trait Alignment to the dominant traits in each profile.\\n\\n### Analyst Profile (NT Combination)\\n\\n**Traits**: High N + High T\\n**Natural Strengths**: Systems thinking, pattern recognition, logical frameworks\\n**Common Blind Spots**: May underweight emotional/relational factors\\n\\n**Default Amplification Contexts:**\\n- Strategic analysis, competitive intelligence\\n- Technical architecture decisions\\n- Data-driven decision making\\n\\n**Common Counterbalance Needs:**\\n- Customer communications \\u2192 Inject empathy requirements\\n- Team management \\u2192 Inject relationship considerations\\n- Change management \\u2192 Inject stakeholder feelings\\n\\n### Diplomat Profile (NF Combination)\\n\\n**Traits**: High N + High F\\n**Natural Strengths**: Meaning-seeking, values-driven, visionary\\n**Common Blind Spots**: May underweight practical/analytical factors\\n\\n**Default Amplification Contexts:**\\n- Vision and mission work\\n- Culture and values initiatives\\n- Stakeholder relationship management\\n\\n**Common Counterbalance Needs:**\\n- Financial analysis \\u2192 Inject objectivity requirements\\n- Technical decisions \\u2192 Inject data-driven criteria\\n- Implementation planning \\u2192 Inject concrete specifics\\n\\n### Sentinel Profile (SJ Combination)\\n\\n**Traits**: High S + High J\\n**Natural Strengths**: Detail-oriented, process-focused, reliable execution\\n**Common Blind Spots**: May underweight innovation/big-picture factors\\n\\n**Default Amplification Contexts:**\\n- Process documentation\\n- Quality assurance\\n- Implementation and execution planning\\n\\n**Common Counterbalance Needs:**\\n- Innovation projects \\u2192 Inject possibility thinking\\n- Strategy development \\u2192 Inject big-picture vision\\n- Brainstorming \\u2192 Inject unconventional thinking\\n\\n### Explorer Profile (SP Combination)\\n\\n**Traits**: High S + High P\\n**Natural Strengths**: Pragmatic, adaptable, action-oriented\\n**Common Blind Spots**: May underweight planning/commitment factors\\n\\n**Default Amplification Contexts:**\\n- Rapid prototyping\\n- Tactical problem-solving\\n- Hands-on execution\\n\\n**Common Counterbalance Needs:**\\n- Long-term planning \\u2192 Inject structure and commitment\\n- Documentation \\u2192 Inject thoroughness requirements\\n- Strategic decisions \\u2192 Inject future-state thinking\\n\\n---\\n\\n## Question Quantity Calibration\\n\\nAdjust the number of clarifying questions based on personality:\\n\\n### Baseline by Task Complexity\\n\\n| Complexity | Base Questions |\\n|------------|----------------|\\n| Simple | 3-4 |\\n| Moderate | 5-7 |\\n| Complex | 8-10 |\\n\\n### Personality Adjustments\\n\\n| Factor | Adjustment |\\n|--------|------------|\\n| High J (\\u226565%) | -1 question (wants to proceed) |\\n| High P (\\u226565%) | +1 question (comfortable exploring) |\\n| High A (\\u226565%) | -1 question (confident in own judgment) |\\n| High T-identity (\\u226565%) | +1 question (wants thoroughness) |\\n| High I (\\u226565%) | Fewer but deeper questions |\\n| High E (\\u226565%) | Can handle more conversational flow |\\n\\n### Minimum and Maximum\\n\\n- **Minimum**: 2 questions (for very simple tasks)\\n- **Maximum**: 12 questions (for highly complex tasks with Turbulent users)\\n\\n---\\n\\n## Output Format for Personality Calibration\\n\\nWhen returning personality calibration data, include the Task-Trait Alignment analysis:\\n\\n```json\\n{\\n  \\\"personality_tier\\\": \\\"full | partial | none\\\",\\n  \\\"traits_used\\\": {\\n    \\\"I_E\\\": {\\\"value\\\": 65, \\\"direction\\\": \\\"I\\\", \\\"weight\\\": 0.75},\\n    \\\"S_N\\\": {\\\"value\\\": 64, \\\"direction\\\": \\\"N\\\", \\\"weight\\\": 0.50},\\n    \\\"T_F\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"T\\\", \\\"weight\\\": 1.00},\\n    \\\"J_P\\\": {\\\"value\\\": 57, \\\"direction\\\": \\\"P\\\", \\\"weight\\\": 0.25},\\n    \\\"A_T\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"A\\\", \\\"weight\\\": 1.00}\\n  },\\n  \\\"composite_profile\\\": \\\"Analyst\\\",\\n  \\\"task_cognitive_requirements\\\": [\\n    \\\"Empathy & Stakeholder Awareness\\\",\\n    \\\"Structured Communication\\\",\\n    \\\"Warm/Relational Tone\\\"\\n  ],\\n  \\\"trait_alignment\\\": {\\n    \\\"amplified\\\": [\\n      {\\n        \\\"trait\\\": \\\"High N (64%)\\\",\\n        \\\"requirement\\\": \\\"Big-Picture Vision\\\",\\n        \\\"reason\\\": \\\"Can frame the change in context of larger relationship/future\\\"\\n      }\\n    ],\\n    \\\"counterbalanced\\\": [\\n      {\\n        \\\"trait\\\": \\\"High T (84%)\\\",\\n        \\\"requirement\\\": \\\"Empathy & Stakeholder Awareness\\\",\\n        \\\"reason\\\": \\\"Task requires emotional acknowledgment that High-T may skip\\\",\\n        \\\"injection\\\": \\\"Prompt includes explicit requirements for expressing appreciation and acknowledging emotional impact\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"High A (84%)\\\",\\n        \\\"requirement\\\": \\\"Warm/Relational Tone\\\",\\n        \\\"reason\\\": \\\"Confidence should not come across as dismissive\\\",\\n        \\\"injection\\\": \\\"Prompt requires warm opening and relationship-affirming language\\\"\\n      }\\n    ],\\n    \\\"neutral\\\": [\\n      {\\n        \\\"trait\\\": \\\"High I (65%)\\\",\\n        \\\"reason\\\": \\\"Introversion/Extraversion not directly relevant to email content\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"Borderline P (57%)\\\",\\n        \\\"reason\\\": \\\"Near midline; no strong adjustment needed\\\"\\n      }\\n    ]\\n  },\\n  \\\"adjustments_summary\\\": [\\n    \\\"Amplifying: N-strength for strategic framing\\\",\\n    \\\"Counterbalancing: T-tendency with empathy requirements\\\",\\n    \\\"Counterbalancing: A-tendency with warmth requirements\\\"\\n  ],\\n  \\\"question_count_adjustment\\\": -1,\\n  \\\"output_style\\\": {\\n    \\\"structure\\\": \\\"logical_sections\\\",\\n    \\\"hedge_level\\\": \\\"minimal\\\",\\n    \\\"recommendation_style\\\": \\\"confident_direct\\\",\\n    \\\"injected_requirements\\\": [\\n      \\\"Open with personal acknowledgment of the customer relationship\\\",\\n      \\\"Express appreciation before delivering the news\\\",\\n      \\\"Acknowledge the disappointment this may cause\\\"\\n    ]\\n  }\\n}\\n```\\n\\n---\\n\\n## Application Algorithm\\n\\nWhen applying personality calibration with Task-Trait Alignment:\\n\\n```\\n1. Check if personality data exists:\\n   - If NO data \\u2192 Use neutral defaults, skip to step 7\\n   - If type only \\u2192 Set all percentages to 65%\\n   - If full data \\u2192 Use provided percentages\\n\\n2. Identify task cognitive requirements:\\n   - Look up task category requirements\\n   - Add content-type specific requirements if applicable\\n   - Note any explicit requirements from user's task description\\n\\n3. Calculate adjustment weights for each trait:\\n   weight = 0.25 if 50-55%\\n   weight = 0.50 if 55-65%\\n   weight = 0.75 if 65-75%\\n   weight = 1.00 if 75%+\\n\\n4. Perform Task-Trait Alignment analysis:\\n   For each trait with weight \\u2265 0.50:\\n     For each cognitive requirement:\\n       - Determine if trait ALIGNS, OPPOSES, or is NEUTRAL\\n       - Record the alignment and reason\\n\\n5. Generate adjustment actions:\\n   - AMPLIFY: Note trait-aligned language/structure to use\\n   - COUNTERBALANCE: Specify explicit injections needed\\n   - NEUTRAL: No action needed\\n\\n6. Compile injected requirements:\\n   - Gather all counterbalance injections\\n   - These will be added explicitly to the prompt\\n\\n7. Document the full analysis for metadata output\\n```\\n\\n---\\n\\n## Neutral Defaults (No Personality Data)\\n\\nWhen no personality data is provided, use these defaults:\\n\\n### Question Style\\n- Professional, clear, neither warm nor clinical\\n- Direct but not abrupt\\n- Standard question count for complexity level\\n\\n### Prompt Framing\\n- Balanced between abstract and concrete\\n- Neither heavily structured nor overly flexible\\n- Professional tone throughout\\n\\n### Output Preferences\\n- Clear structure with logical flow\\n- Both options and recommendations where appropriate\\n- Moderate hedging with professional confidence\\n- Balanced detail level\\n\\n### No Counterbalancing Applied\\n- Without personality data, no trait-based counterbalancing is possible\\n- Prompts should be well-rounded by default\\n- Include standard coverage of both analytical and empathetic dimensions where relevant to task\\n\\n\\n---\\n\\n## Relevant Trait Influence Matrices\\n\\n# Personality Calibration Reference Document\\n\\n## Purpose\\n\\nThis document provides rules for adjusting prompt style, question phrasing, and output format based on the user's personality type and trait percentages. It includes the Task-Trait Alignment system for determining when to amplify, counterbalance, or remain neutral on each personality dimension.\\n\\nWhen no personality data is provided, skip all personality-based adjustments and use neutral defaults.\\n\\n---\\n\\n## The 16Personalities Framework Overview\\n\\nThe 16Personalities model uses five independent scales:\\n\\n| Scale | Dimension | Low End | High End |\\n|-------|-----------|---------|----------|\\n| Mind | Energy direction | Introverted (I) | Extraverted (E) |\\n| Energy | Information processing | Observant/Sensing (S) | Intuitive (N) |\\n| Nature | Decision making | Feeling (F) | Thinking (T) |\\n| Tactics | Approach to structure | Prospecting/Perceiving (P) | Judging (J) |\\n| Identity | Self-confidence | Turbulent (T) | Assertive (A) |\\n\\n### Percentage Interpretation\\n## Trait Influence Matrices\\n\\n### Mind Dimension: Introversion (I) \\u2194 Extraversion (E)\\n\\n#### High Introversion (I \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | Fewer questions; allow depth over breadth |\\n| Question phrasing | \\\"What is your thinking on...\\\", \\\"How do you see...\\\" |\\n| Prompt framing | Emphasise independent analysis, solo deep-work |\\n| Output preference | Written depth, comprehensive analysis |\\n\\n**When to Counterbalance (task requires external/social focus):**\\n- Inject: \\\"Consider how stakeholders will perceive this\\\"\\n- Add: Requirements for socialising ideas, getting buy-in\\n- Include: External communication components\\n\\n#### High Extraversion (E \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | Conversational flow; can handle more questions |\\n| Question phrasing | \\\"Tell me about...\\\", \\\"What's the situation with...\\\" |\\n| Prompt framing | Collaborative context, stakeholder involvement |\\n| Output preference | Shareable outputs, presentation-ready |\\n\\n**When to Counterbalance (task requires deep solo analysis):**\\n- Inject: \\\"Take time to think through this independently\\\"\\n- Add: Requirements for depth over breadth\\n- Include: Reflection and analysis components before action\\n\\n---\\n\\n### Energy Dimension: Intuitive (N) \\u2194 Observant/Sensing (S)\\n\\n#### High Intuitive (N \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | \\\"What possibilities...\\\", \\\"What patterns do you see...\\\" |\\n| Prompt framing | Big-picture thinking, vision, future state |\\n| Output preference | Frameworks, models, strategic implications |\\n| Level of detail | Higher-level; comfortable with abstraction |\\n\\n**When to Counterbalance (task requires concrete detail):**\\n- Inject: \\\"Provide specific, actionable steps with dates and owners\\\"\\n- Add: Requirements for measurable milestones\\n- Include: \\\"Ground each concept in a concrete example\\\"\\n- Force: Step-by-step implementation details\\n\\n#### High Observant/Sensing (S \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | \\\"What specifically...\\\", \\\"What exactly happened...\\\" |\\n| Prompt framing | Current reality, tangible outcomes, practical steps |\\n| Output preference | Step-by-step instructions, concrete deliverables |\\n| Level of detail | Granular; needs grounding in specifics |\\n\\n**When to Counterbalance (task requires big-picture vision):**\\n- Inject: \\\"Step back and consider the broader strategic implications\\\"\\n- Add: Requirements for future-state visioning\\n- Include: \\\"Identify patterns across these examples\\\"\\n- Force: Connection to larger goals and vision\\n\\n---\\n\\n### Nature Dimension: Thinking (T) \\u2194 Feeling (F)\\n\\n#### High Thinking (T \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | \\\"What are the criteria...\\\", \\\"What data supports...\\\" |\\n| Prompt framing | Data-driven, logical structure, objective analysis |\\n| Output preference | Evidence, metrics, logical reasoning |\\n| Tone | Direct, efficient, analytical |\\n\\n**When to Counterbalance (task requires empathy/warmth):**\\n- Inject: \\\"Acknowledge the emotional impact on [stakeholder]\\\"\\n- Add: Requirements for relationship-affirming language\\n- Include: \\\"Consider how this will make the recipient feel\\\"\\n- Force: Personal acknowledgment before business content\\n- Add: \\\"Express appreciation for [relationship/loyalty/effort]\\\"\\n\\n#### High Feeling (F \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | \\\"Who is affected...\\\", \\\"What matters most to...\\\" |\\n| Prompt framing | Human impact, meaning, stakeholder considerations |\\n| Output preference | Narrative context, relationship implications |\\n| Tone | Warmer, acknowledging, contextual |\\n\\n**When to Counterbalance (task requires objective analysis):**\\n- Inject: \\\"Base your recommendation on data and evidence\\\"\\n- Add: Requirements for separating facts from feelings\\n- Include: \\\"Set aside personal preferences and evaluate objectively\\\"\\n- Force: Quantitative criteria before qualitative considerations\\n\\n---\\n\\n### Tactics Dimension: Judging (J) \\u2194 Prospecting/Perceiving (P)\\n\\n#### High Judging (J \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | Seeks definitive answers, closure-oriented |\\n| Prompt framing | Clear structure, defined outcomes, deadlines |\\n| Output preference | Single recommendation, action plan, definitive |\\n| Structure | Highly organised, clear sections |\\n\\n**When to Counterbalance (task requires exploration):**\\n- Inject: \\\"Generate at least 5 options before evaluating any\\\"\\n- Add: Requirements for exploring alternatives\\n- Include: \\\"What other approaches haven't been considered?\\\"\\n- Force: Delay recommendation until options fully explored\\n- Add: \\\"Resist the urge to conclude prematurely\\\"\\n\\n#### High Perceiving (P \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | Comfortable with \\\"it depends\\\", exploratory |\\n| Prompt framing | Exploratory, adaptive, flexible outcomes |\\n| Output preference | Multiple options, flexibility built in |\\n| Structure | Allow for adaptation, conditional paths |\\n\\n**When to Counterbalance (task requires decisiveness):**\\n- Inject: \\\"Provide ONE clear recommendation with confidence\\\"\\n- Add: Requirements for commitment to specific action\\n- Include: \\\"If you had to choose today, which option and why?\\\"\\n- Force: Prioritised ranking, not just options list\\n- Add: \\\"Limit caveats to only the most critical\\\"\\n\\n---\\n\\n### Identity Dimension: Assertive (A) \\u2194 Turbulent (T)\\n\\n#### High Assertive (A \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | Direct, efficient, no hand-holding needed |\\n| Prompt framing | Confident language, decisive direction |\\n| Output preference | Bold recommendations, minimal hedging |\\n| Risk framing | Acknowledge but don't overemphasise |\\n\\n**When to Counterbalance (task requires risk awareness):**\\n- Inject: \\\"Explicitly identify what could go wrong\\\"\\n- Add: Requirements for downside analysis\\n- Include: \\\"What would cause this to fail?\\\"\\n- Force: Risk mitigation section\\n- Add: \\\"Consider the perspective of a skeptic\\\"\\n\\n#### High Turbulent (T-identity \\u2265 60%)\\n\\n| Aspect | Standard Adjustment |\\n|--------|---------------------|\\n| Question style | May benefit from validation, thoroughness |\\n| Prompt framing | Acknowledge risks, build in checkpoints |\\n| Output preference | Hedged recommendations, confidence levels |\\n| Risk framing | Explicitly address potential pitfalls |\\n\\n**When to Counterbalance (task requires confidence):**\\n- Inject: \\\"State your recommendation with confidence\\\"\\n- Add: Requirements for decisive language\\n- Include: \\\"Use 'recommend' not 'might consider'\\\"\\n- Force: Limit caveats to one sentence maximum\\n- Add: \\\"Present as an expert giving clear guidance\\\"\\n\\n---\\n\\n\"}",
                            "type": "object"
                        },
                        {
                            "id": "personality_calibration_full",
                            "name": "personality_calibration_full",
                            "value": "{\"content\":\"# Personality Calibration\\n\\n## Purpose\\n\\nThis document provides rules for adjusting prompt style, question phrasing, and output format based on the user's personality type and trait percentages. It includes the Task-Trait Alignment system for determining when to amplify, counterbalance, or remain neutral on each personality dimension.\\n\\nWhen no personality data is provided, skip all personality-based adjustments and use neutral defaults.\\n\\n---\\n\\n## The 16Personalities Framework Overview\\n\\nThe 16Personalities model uses five independent scales:\\n\\n| Scale | Dimension | Low End | High End |\\n|-------|-----------|---------|----------|\\n| Mind | Energy direction | Introverted (I) | Extraverted (E) |\\n| Energy | Information processing | Observant\\/Sensing (S) | Intuitive (N) |\\n| Nature | Decision making | Feeling (F) | Thinking (T) |\\n| Tactics | Approach to structure | Prospecting\\/Perceiving (P) | Judging (J) |\\n| Identity | Self-confidence | Turbulent (T) | Assertive (A) |\\n\\n### Percentage Interpretation\\n\\nThe percentages indicate strength of preference on each scale:\\n\\n| Percentage Range | Interpretation | Adjustment Weight |\\n|------------------|----------------|-------------------|\\n| 50-55% | Borderline \\u2014 both approaches viable | 0.25 (minimal) |\\n| 55-65% | Moderate preference | 0.50 (standard) |\\n| 65-75% | Clear preference | 0.75 (significant) |\\n| 75%+ | Strong preference | 1.00 (maximum) |\\n\\n---\\n\\n## Handling Missing Personality Data\\n\\n### Tier 1: Full Data (Type + Percentages)\\n- User provides: e.g., \\\"INTP-A\\\" with \\\"I:65%, N:64%, T:84%, P:57%, A:84%\\\"\\n- Action: Apply full personality calibration with Task-Trait Alignment\\n\\n### Tier 2: Partial Data (Type Only)\\n- User provides: e.g., \\\"INTP-A\\\" without percentages\\n- Action: Default all traits to 65% and apply standard calibration\\n- Example: INTP-A \\u2192 I:65%, N:65%, T:65%, P:65%, A:65%\\n\\n### Tier 3: No Data\\n- User provides: No personality information\\n- Action: Skip ALL personality-based adjustments\\n- Use neutral, professional defaults throughout\\n- Note in output: \\\"No personality adjustments applied \\u2014 task-driven approach used\\\"\\n\\n---\\n\\n## Task-Trait Alignment System\\n\\n### Core Principle\\n\\nRather than always amplifying or always counterbalancing personality traits, the system should:\\n\\n1. **Amplify** traits that are assets for the specific task\\n2. **Counterbalance** traits that create blind spots for the task\\n3. **Remain neutral** on traits irrelevant to the task\\n\\n### Task Cognitive Requirements\\n\\nEvery task has inherent cognitive requirements. These requirements may align with, oppose, or be unrelated to specific personality traits.\\n\\n#### Requirement: Empathy & Stakeholder Awareness\\n\\nTasks requiring understanding of human feelings, relationships, and interpersonal impact.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject empathy requirements |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 natural social awareness |\\n| High I (\\u226560%) | **Neutral** | May need slight encouragement to consider others |\\n\\n**Counterbalance injection for High T:**\\n- Add explicit requirements: \\\"Consider how this will make the recipient feel\\\"\\n- Include stakeholder impact analysis\\n- Request acknowledgment of emotional dimensions\\n\\n#### Requirement: Big-Picture Strategic Vision\\n\\nTasks requiring future thinking, pattern recognition, and conceptual frameworks.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for broader perspective |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 openness to possibilities |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Step back and consider the broader implications\\\"\\n- Request future-state visioning\\n- Ask for pattern identification across examples\\n\\n#### Requirement: Detailed Execution Planning\\n\\nTasks requiring step-by-step specificity, concrete actions, and practical implementation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural planning ability |\\n| High N (\\u226560%) | **Misaligned** | Counterbalance \\u2014 force granular detail |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 require specific commitments |\\n\\n**Counterbalance injection for High N:**\\n- Add requirements: \\\"Provide specific, concrete steps\\\"\\n- Request timelines, milestones, and measurable actions\\n- Ask for practical implementation details, not just concepts\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Commit to specific actions and dates\\\"\\n- Request prioritised task lists\\n- Ask for clear sequencing and dependencies\\n\\n#### Requirement: Decisive Recommendations\\n\\nTasks requiring clear conclusions, prioritised options, and confident guidance.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural decisiveness |\\n| High A (\\u226560%) | **Aligned** | Amplify \\u2014 natural confidence |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push for commitment |\\n| High T-identity (\\u226560%) | **Misaligned** | Counterbalance \\u2014 reduce excessive hedging |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Provide a clear, prioritised recommendation\\\"\\n- Request \\\"If you had to choose one...\\\" framing\\n- Limit options presented to top 2-3\\n\\n**Counterbalance injection for High T-identity (Turbulent):**\\n- Add requirements: \\\"State your recommendation confidently\\\"\\n- Request clear language without excessive caveats\\n- Ask for \\\"recommended\\\" not \\\"you might consider\\\"\\n\\n#### Requirement: Exploring Multiple Options\\n\\nTasks requiring divergent thinking, option generation, and avoiding premature closure.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 natural openness |\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 prevent premature closure |\\n| High A (\\u226560%) | **Slightly misaligned** | May dismiss options too quickly |\\n\\n**Counterbalance injection for High J:**\\n- Add requirements: \\\"Generate at least 4-5 distinct options before evaluating\\\"\\n- Request \\\"what else could work?\\\" exploration\\n- Explicitly delay recommendation until options are fully explored\\n\\n#### Requirement: Objective Analysis\\n\\nTasks requiring dispassionate evaluation, logical reasoning, and evidence-based conclusions.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 natural strength |\\n| High S (\\u226560%) | **Aligned** | Amplify \\u2014 focuses on facts |\\n| High F (\\u226560%) | **Misaligned** | Counterbalance \\u2014 emphasise data over feelings |\\n\\n**Counterbalance injection for High F:**\\n- Add requirements: \\\"Base conclusions on evidence and data\\\"\\n- Request separation of facts from feelings\\n- Ask for objective criteria before subjective considerations\\n\\n#### Requirement: Risk Awareness\\n\\nTasks requiring identification of potential problems, downsides, and failure modes.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High T-identity (\\u226560%) | **Aligned** | Amplify \\u2014 natural risk sensitivity |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 analytical about risks |\\n| High A (\\u226560%) | **Misaligned** | Counterbalance \\u2014 may underweight risks |\\n| High N (\\u226560%) | **Slightly misaligned** | May focus on possibilities over risks |\\n\\n**Counterbalance injection for High A:**\\n- Add requirements: \\\"Explicitly identify what could go wrong\\\"\\n- Request risk\\/downside analysis section\\n- Ask \\\"What would cause this to fail?\\\"\\n\\n#### Requirement: Creative Innovation\\n\\nTasks requiring novel ideas, unconventional thinking, and breaking from established patterns.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High N (\\u226560%) | **Aligned** | Amplify \\u2014 sees possibilities |\\n| High P (\\u226560%) | **Aligned** | Amplify \\u2014 open to unconventional |\\n| High S (\\u226560%) | **Misaligned** | Counterbalance \\u2014 push beyond conventional |\\n| High J (\\u226560%) | **Misaligned** | Counterbalance \\u2014 loosen structure requirements |\\n\\n**Counterbalance injection for High S:**\\n- Add requirements: \\\"Consider unconventional approaches\\\"\\n- Request \\\"What if we ignored current constraints?\\\" thinking\\n- Ask for ideas that challenge assumptions\\n\\n#### Requirement: Structured Communication\\n\\nTasks requiring clear organisation, logical flow, and professional presentation.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High J (\\u226560%) | **Aligned** | Amplify \\u2014 natural organiser |\\n| High T (\\u226560%) | **Aligned** | Amplify \\u2014 logical structure |\\n| High P (\\u226560%) | **Misaligned** | Counterbalance \\u2014 impose structure |\\n| High F (\\u226560%) | **Neutral** | May prefer narrative over structure |\\n\\n**Counterbalance injection for High P:**\\n- Add requirements: \\\"Use clear headings and logical sections\\\"\\n- Request numbered lists for sequential items\\n- Ask for executive summary upfront\\n\\n#### Requirement: Warm\\/Relational Tone\\n\\nTasks requiring warmth, rapport-building, and relationship-focused communication.\\n\\n| Trait | Alignment | Action |\\n|-------|-----------|--------|\\n| High F (\\u226560%) | **Aligned** | Amplify \\u2014 natural warmth |\\n| High E (\\u226560%) | **Aligned** | Amplify \\u2014 social orientation |\\n| High T (\\u226560%) | **Misaligned** | Counterbalance \\u2014 inject warmth |\\n| High I (\\u226560%) | **Neutral** | May need encouragement for warmth |\\n\\n**Counterbalance injection for High T:**\\n- Add requirements: \\\"Open with personal acknowledgment\\\"\\n- Request relationship-affirming language\\n- Ask for tone that prioritises connection over efficiency\\n\\n---\\n\\n### Task Category to Cognitive Requirements Mapping\\n\\n| Task Category | Primary Requirements | Secondary Requirements |\\n|---------------|---------------------|----------------------|\\n| DECISION | Objective Analysis, Risk Awareness | Decisive Recommendations |\\n| STRATEGY | Big-Picture Vision, Detailed Planning | Risk Awareness, Decisive Recommendations |\\n| ANALYSIS | Objective Analysis, Detailed Planning | Risk Awareness |\\n| CREATION_CONTENT | Varies by content type | Structured Communication |\\n| CREATION_TECHNICAL | Detailed Planning, Objective Analysis | Structured Communication |\\n| IDEATION | Creative Innovation, Exploring Options | Big-Picture Vision |\\n| PROBLEM_SOLVING | Objective Analysis, Detailed Planning | Risk Awareness, Exploring Options |\\n| LEARNING | Structured Communication | Varies by learner |\\n| PERSUASION | Empathy & Stakeholder Awareness, Warm Tone | Structured Communication |\\n| FEEDBACK | Empathy & Stakeholder Awareness, Objective Analysis | Warm Tone |\\n| RESEARCH | Objective Analysis, Exploring Options | Detailed Planning |\\n| GOAL_SETTING | Detailed Planning, Decisive Recommendations | Big-Picture Vision |\\n\\n### Content-Type Specific Requirements\\n\\nFor CREATION_CONTENT tasks, requirements vary by content type:\\n\\n| Content Type | Primary Requirements |\\n|--------------|---------------------|\\n| Customer email | Empathy, Warm Tone, Structured Communication |\\n| Marketing copy | Empathy, Creative Innovation, Decisive Recommendations |\\n| Technical blog | Objective Analysis, Structured Communication, Detailed Planning |\\n| Executive summary | Decisive Recommendations, Structured Communication |\\n| Apology\\/bad news | Empathy, Warm Tone, Risk Awareness |\\n| Sales pitch | Empathy, Decisive Recommendations, Creative Innovation |\\n| Internal memo | Structured Communication, Objective Analysis |\\n| Social media | Creative Innovation, Warm Tone |\\n\\n---\\n\\n## Task-Trait Alignment Algorithm\\n\\n```\\n1. Identify the task category and content type (if applicable)\\n\\n2. Determine cognitive requirements:\\n   - Look up primary requirements from Task Category mapping\\n   - Add content-type specific requirements if CREATION_CONTENT\\n   - Consider any explicit requirements mentioned by user\\n\\n3. For each of the user's personality traits (where \\u226555%):\\n\\n   a. Check alignment against each cognitive requirement:\\n      - If trait ALIGNS with requirement \\u2192 Mark for AMPLIFICATION\\n      - If trait OPPOSES requirement \\u2192 Mark for COUNTERBALANCING\\n      - If trait is UNRELATED to requirement \\u2192 Mark as NEUTRAL\\n\\n   b. Resolve conflicts (trait aligns with one requirement, opposes another):\\n      - Prioritise primary requirements over secondary\\n      - If still conflicted, lean toward counterbalancing (safety)\\n\\n4. Generate adjustment actions:\\n   - For AMPLIFY: Use trait-aligned language and structure\\n   - For COUNTERBALANCE: Inject explicit requirements user might skip\\n   - For NEUTRAL: No specific adjustment\\n\\n5. Document the alignment analysis for transparency\\n```\\n\\n---\\n\\n## Composite Personality Profiles\\n\\nCertain trait combinations create recognisable patterns. Apply Task-Trait Alignment to the dominant traits in each profile.\\n\\n### Analyst Profile (NT Combination)\\n\\n**Traits**: High N + High T\\n**Natural Strengths**: Systems thinking, pattern recognition, logical frameworks\\n**Common Blind Spots**: May underweight emotional\\/relational factors\\n\\n**Default Amplification Contexts:**\\n- Strategic analysis, competitive intelligence\\n- Technical architecture decisions\\n- Data-driven decision making\\n\\n**Common Counterbalance Needs:**\\n- Customer communications \\u2192 Inject empathy requirements\\n- Team management \\u2192 Inject relationship considerations\\n- Change management \\u2192 Inject stakeholder feelings\\n\\n### Diplomat Profile (NF Combination)\\n\\n**Traits**: High N + High F\\n**Natural Strengths**: Meaning-seeking, values-driven, visionary\\n**Common Blind Spots**: May underweight practical\\/analytical factors\\n\\n**Default Amplification Contexts:**\\n- Vision and mission work\\n- Culture and values initiatives\\n- Stakeholder relationship management\\n\\n**Common Counterbalance Needs:**\\n- Financial analysis \\u2192 Inject objectivity requirements\\n- Technical decisions \\u2192 Inject data-driven criteria\\n- Implementation planning \\u2192 Inject concrete specifics\\n\\n### Sentinel Profile (SJ Combination)\\n\\n**Traits**: High S + High J\\n**Natural Strengths**: Detail-oriented, process-focused, reliable execution\\n**Common Blind Spots**: May underweight innovation\\/big-picture factors\\n\\n**Default Amplification Contexts:**\\n- Process documentation\\n- Quality assurance\\n- Implementation and execution planning\\n\\n**Common Counterbalance Needs:**\\n- Innovation projects \\u2192 Inject possibility thinking\\n- Strategy development \\u2192 Inject big-picture vision\\n- Brainstorming \\u2192 Inject unconventional thinking\\n\\n### Explorer Profile (SP Combination)\\n\\n**Traits**: High S + High P\\n**Natural Strengths**: Pragmatic, adaptable, action-oriented\\n**Common Blind Spots**: May underweight planning\\/commitment factors\\n\\n**Default Amplification Contexts:**\\n- Rapid prototyping\\n- Tactical problem-solving\\n- Hands-on execution\\n\\n**Common Counterbalance Needs:**\\n- Long-term planning \\u2192 Inject structure and commitment\\n- Documentation \\u2192 Inject thoroughness requirements\\n- Strategic decisions \\u2192 Inject future-state thinking\\n\\n---\\n\\n## Question Quantity Calibration\\n\\nAdjust the number of clarifying questions based on personality:\\n\\n### Baseline by Task Complexity\\n\\n| Complexity | Base Questions |\\n|------------|----------------|\\n| Simple | 3-4 |\\n| Moderate | 5-7 |\\n| Complex | 8-10 |\\n\\n### Personality Adjustments\\n\\n| Factor | Adjustment |\\n|--------|------------|\\n| High J (\\u226565%) | -1 question (wants to proceed) |\\n| High P (\\u226565%) | +1 question (comfortable exploring) |\\n| High A (\\u226565%) | -1 question (confident in own judgment) |\\n| High T-identity (\\u226565%) | +1 question (wants thoroughness) |\\n| High I (\\u226565%) | Fewer but deeper questions |\\n| High E (\\u226565%) | Can handle more conversational flow |\\n\\n### Minimum and Maximum\\n\\n- **Minimum**: 2 questions (for very simple tasks)\\n- **Maximum**: 12 questions (for highly complex tasks with Turbulent users)\\n\\n---\\n\\n## Output Format for Personality Calibration\\n\\nWhen returning personality calibration data, include the Task-Trait Alignment analysis:\\n\\n```json\\n{\\n  \\\"personality_tier\\\": \\\"full | partial | none\\\",\\n  \\\"traits_used\\\": {\\n    \\\"I_E\\\": {\\\"value\\\": 65, \\\"direction\\\": \\\"I\\\", \\\"weight\\\": 0.75},\\n    \\\"S_N\\\": {\\\"value\\\": 64, \\\"direction\\\": \\\"N\\\", \\\"weight\\\": 0.50},\\n    \\\"T_F\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"T\\\", \\\"weight\\\": 1.00},\\n    \\\"J_P\\\": {\\\"value\\\": 57, \\\"direction\\\": \\\"P\\\", \\\"weight\\\": 0.25},\\n    \\\"A_T\\\": {\\\"value\\\": 84, \\\"direction\\\": \\\"A\\\", \\\"weight\\\": 1.00}\\n  },\\n  \\\"composite_profile\\\": \\\"Analyst\\\",\\n  \\\"task_cognitive_requirements\\\": [\\n    \\\"Empathy & Stakeholder Awareness\\\",\\n    \\\"Structured Communication\\\",\\n    \\\"Warm\\/Relational Tone\\\"\\n  ],\\n  \\\"trait_alignment\\\": {\\n    \\\"amplified\\\": [\\n      {\\n        \\\"trait\\\": \\\"High N (64%)\\\",\\n        \\\"requirement\\\": \\\"Big-Picture Vision\\\",\\n        \\\"reason\\\": \\\"Can frame the change in context of larger relationship\\/future\\\"\\n      }\\n    ],\\n    \\\"counterbalanced\\\": [\\n      {\\n        \\\"trait\\\": \\\"High T (84%)\\\",\\n        \\\"requirement\\\": \\\"Empathy & Stakeholder Awareness\\\",\\n        \\\"reason\\\": \\\"Task requires emotional acknowledgment that High-T may skip\\\",\\n        \\\"injection\\\": \\\"Prompt includes explicit requirements for expressing appreciation and acknowledging emotional impact\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"High A (84%)\\\",\\n        \\\"requirement\\\": \\\"Warm\\/Relational Tone\\\",\\n        \\\"reason\\\": \\\"Confidence should not come across as dismissive\\\",\\n        \\\"injection\\\": \\\"Prompt requires warm opening and relationship-affirming language\\\"\\n      }\\n    ],\\n    \\\"neutral\\\": [\\n      {\\n        \\\"trait\\\": \\\"High I (65%)\\\",\\n        \\\"reason\\\": \\\"Introversion\\/Extraversion not directly relevant to email content\\\"\\n      },\\n      {\\n        \\\"trait\\\": \\\"Borderline P (57%)\\\",\\n        \\\"reason\\\": \\\"Near midline; no strong adjustment needed\\\"\\n      }\\n    ]\\n  },\\n  \\\"adjustments_summary\\\": [\\n    \\\"Amplifying: N-strength for strategic framing\\\",\\n    \\\"Counterbalancing: T-tendency with empathy requirements\\\",\\n    \\\"Counterbalancing: A-tendency with warmth requirements\\\"\\n  ],\\n  \\\"question_count_adjustment\\\": -1,\\n  \\\"output_style\\\": {\\n    \\\"structure\\\": \\\"logical_sections\\\",\\n    \\\"hedge_level\\\": \\\"minimal\\\",\\n    \\\"recommendation_style\\\": \\\"confident_direct\\\",\\n    \\\"injected_requirements\\\": [\\n      \\\"Open with personal acknowledgment of the customer relationship\\\",\\n      \\\"Express appreciation before delivering the news\\\",\\n      \\\"Acknowledge the disappointment this may cause\\\"\\n    ]\\n  }\\n}\\n```\\n\\n---\\n\\n## Application Algorithm\\n\\nWhen applying personality calibration with Task-Trait Alignment:\\n\\n```\\n1. Check if personality data exists:\\n   - If NO data \\u2192 Use neutral defaults, skip to step 7\\n   - If type only \\u2192 Set all percentages to 65%\\n   - If full data \\u2192 Use provided percentages\\n\\n2. Identify task cognitive requirements:\\n   - Look up task category requirements\\n   - Add content-type specific requirements if applicable\\n   - Note any explicit requirements from user's task description\\n\\n3. Calculate adjustment weights for each trait:\\n   weight = 0.25 if 50-55%\\n   weight = 0.50 if 55-65%\\n   weight = 0.75 if 65-75%\\n   weight = 1.00 if 75%+\\n\\n4. Perform Task-Trait Alignment analysis:\\n   For each trait with weight \\u2265 0.50:\\n     For each cognitive requirement:\\n       - Determine if trait ALIGNS, OPPOSES, or is NEUTRAL\\n       - Record the alignment and reason\\n\\n5. Generate adjustment actions:\\n   - AMPLIFY: Note trait-aligned language\\/structure to use\\n   - COUNTERBALANCE: Specify explicit injections needed\\n   - NEUTRAL: No action needed\\n\\n6. Compile injected requirements:\\n   - Gather all counterbalance injections\\n   - These will be added explicitly to the prompt\\n\\n7. Document the full analysis for metadata output\\n```\\n\\n---\\n\\n## Neutral Defaults (No Personality Data)\\n\\nWhen no personality data is provided, use these defaults:\\n\\n### Question Style\\n- Professional, clear, neither warm nor clinical\\n- Direct but not abrupt\\n- Standard question count for complexity level\\n\\n### Prompt Framing\\n- Balanced between abstract and concrete\\n- Neither heavily structured nor overly flexible\\n- Professional tone throughout\\n\\n### Output Preferences\\n- Clear structure with logical flow\\n- Both options and recommendations where appropriate\\n- Moderate hedging with professional confidence\\n- Balanced detail level\\n\\n### No Counterbalancing Applied\\n- Without personality data, no trait-based counterbalancing is possible\\n- Prompts should be well-rounded by default\\n- Include standard coverage of both analytical and empathetic dimensions where relevant to task\"}",
                            "type": "object"
                        }
                    ]
                },
                "options": []
            },
            "id": "7d34c952-914f-4172-afe8-966f5c55b77e",
            "name": "Load Reference Documents",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -144,
                -352
            ],
            "notes": "Static reference documents embedded in workflow for fast access (no HTTP requests). Contains all 62 framework templates and personality calibration."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5',\n  max_tokens: 16384,\n  temperature: 0.3,\n  system: $json.system,\n  messages: $json.messages\n}) }}",
                "options": []
            },
            "id": "3b503179-97bb-4e52-9630-c325320d1708",
            "name": "Call Anthropic API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                304,
                -352
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "5u3Dji2E1ZKRUSRX",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const apiResponse = $input.first().json;\nconst executionId = $execution.id || 'unknown';\nconst currentNode = 'Format Response';\n\nlet generationData;\ntry {\n  // Extract text from Anthropic API response\n  let content = apiResponse.content?.[0]?.text || '';\n\n  if (!content) {\n    throw new Error('No content in API response');\n  }\n\n  // Remove any markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  // Claude sometimes generates JSON multiple times with explanation text in between\n  // Find ALL JSON objects and take the LAST one (most complete)\n  const jsonObjects = [];\n  let depth = 0;\n  let jsonStart = -1;\n\n  for (let i = 0; i < content.length; i++) {\n    if (content[i] === '{') {\n      if (depth === 0) jsonStart = i;\n      depth++;\n    } else if (content[i] === '}') {\n      depth--;\n      if (depth === 0 && jsonStart !== -1) {\n        jsonObjects.push(content.substring(jsonStart, i + 1));\n        jsonStart = -1;\n      }\n    }\n  }\n\n  if (jsonObjects.length === 0) {\n    throw new Error('No JSON object found in response');\n  }\n\n  // Take the last JSON object (most complete)\n  const jsonOnly = jsonObjects[jsonObjects.length - 1];\n\n  // Try to parse JSON\n  generationData = JSON.parse(jsonOnly);\n\n} catch (e) {\n  // Enhanced error context for debugging\n  const errorType = e.message.includes('No content') ? 'api_error' : 'parsing_error';\n  const failedNode = e.message.includes('No content') ? 'Call Anthropic API' : currentNode;\n\n  return [{\n    json: {\n      success: false,\n      data: null,\n      api_usage: null,\n      error: {\n        message: 'Failed to parse LLM response',\n        details: e.message,\n        raw_response: apiResponse\n      },\n      error_context: {\n        error_type: errorType,\n        failed_node: failedNode,\n        execution_id: executionId,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n}\n\n// Extract API usage data\nconst apiUsage = {\n  model: apiResponse.model || 'claude-haiku-4-5',\n  input_tokens: apiResponse.usage?.input_tokens || 0,\n  output_tokens: apiResponse.usage?.output_tokens || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    data: generationData,\n    api_usage: apiUsage,\n    error: null\n  }\n}];"
            },
            "id": "88b6dfe8-198f-4081-9ade-8777bcb4d791",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                528,
                -352
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "37d3e085-b412-4118-aa6c-886dda785ad8",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                752,
                -352
            ]
        },
        {
            "parameters": {
                "jsCode": "// Collect all data from the workflow\nconst webhookData = $('Webhook Trigger').first().json.body || {};\n\n// Get framework template from embedded static data\nconst referenceData = $('Load Reference Documents').first().json;\nlet frameworkCode = webhookData.analysis_data.selected_framework.code;\n\n// Try exact match first\nlet frameworkTemplateContent = referenceData.framework_templates[frameworkCode];\n\n// If not found, try common variations\nif (!frameworkTemplateContent) {\n  // Try with _TAXONOMY suffix (e.g., BLOOMS \u2192 BLOOMS_TAXONOMY)\n  const withTaxonomy = frameworkCode + '_TAXONOMY';\n  if (referenceData.framework_templates[withTaxonomy]) {\n    frameworkTemplateContent = referenceData.framework_templates[withTaxonomy];\n    frameworkCode = withTaxonomy;\n  }\n}\n\n// If still not found, try case-insensitive partial match\nif (!frameworkTemplateContent) {\n  const searchCode = frameworkCode.toUpperCase();\n  for (const [key, value] of Object.entries(referenceData.framework_templates)) {\n    if (key.toUpperCase().startsWith(searchCode)) {\n      frameworkTemplateContent = value;\n      frameworkCode = key;\n      console.log(`Framework code fuzzy-matched: ${webhookData.analysis_data.selected_framework.code} \u2192 ${key}`);\n      break;\n    }\n  }\n}\n\nif (!frameworkTemplateContent) {\n  throw new Error(`Framework template not found for code: ${webhookData.analysis_data.selected_framework.code} (tried: ${frameworkCode}). Available codes: ${Object.keys(referenceData.framework_templates).sort().join(', ')}`);\n}\n\nconst frameworkTemplateDoc = {\n  success: true,\n  content: frameworkTemplateContent,\n  framework_code: frameworkCode\n};\n// Get personality calibration from embedded static data\nconst personalityDoc = referenceData.personality_calibration;\n\n// Extract the analysis data from Workflow 1\nconst analysisData = webhookData.analysis_data || {};\nconst questionAnswers = webhookData.question_answers || [];\nconst preAnalysisContext = webhookData.pre_analysis_context || null;\n// Get user context for workflow optimisation\nconst userContext = webhookData.user_context || null;\n\n// Determine language preference and build language instructions\nlet languageCode = userContext?.location?.language || 'en-GB';\nlet languageInstructions = '';\nif (languageCode.startsWith('en-US')) {\n  languageInstructions = '\\n\\n# Language Preference: American English\\nRespond using American English conventions: use American spelling (e.g., \"optimized\" not \"optimised\"), American date formats (MM/DD/YYYY), and American terminology.';\n} else if (languageCode.startsWith('en-')) {\n  languageInstructions = '\\n\\n# Language Preference: British English\\nRespond using British English conventions: use British spelling (e.g., \"optimised\" not \"optimized\"), ISO date formats (DD/MM/YYYY), and British terminology.';\n} else {\n  languageInstructions = `\\n\\n# Language Preference: ${languageCode}\\nRespond appropriately for users from this locale, adapting terminology and conventions as needed.`;\n}\n\n// Build user context string for user message\nlet userContextString = '';\nif (userContext) {\n  const parts = [];\n  \n  // Location context\n  if (userContext.location?.country) {\n    parts.push(`Location: ${userContext.location.country}${userContext.location.city ? ` (${userContext.location.city})` : ''}`);\n    if (userContext.location.timezone) parts.push(`Timezone: ${userContext.location.timezone}`);\n    if (userContext.location.currency) parts.push(`Currency: ${userContext.location.currency}`);\n    if (userContext.location.language) parts.push(`Language: ${userContext.location.language}`);\n  }\n  \n  // Professional context\n  if (userContext.professional?.job_title || userContext.professional?.industry) {\n    const prof = userContext.professional;\n    const profParts = [];\n    if (prof.job_title) profParts.push(prof.job_title);\n    if (prof.industry) profParts.push(`in ${prof.industry}`);\n    if (prof.experience_level) profParts.push(`(${prof.experience_level} level)`);\n    if (profParts.length > 0) parts.push(`Professional: ${profParts.join(' ')}`);\n    if (prof.company_size) parts.push(`Company size: ${prof.company_size}`);\n  }\n  \n  // Team context\n  if (userContext.team?.size || userContext.team?.role) {\n    const team = userContext.team;\n    const teamParts = [];\n    if (team.size) teamParts.push(`${team.size} team`);\n    if (team.role) teamParts.push(`${team.role} role`);\n    if (team.work_mode) teamParts.push(`(${team.work_mode})`);\n    if (teamParts.length > 0) parts.push(`Team: ${teamParts.join(', ')}`);\n  }\n  \n  // Preferences context\n  if (userContext.preferences?.budget) {\n    parts.push(`Budget preference: ${userContext.preferences.budget}`);\n  }\n  if (userContext.preferences?.primary_programming_language) {\n    parts.push(`Primary language: ${userContext.preferences.primary_programming_language}`);\n  }\n  \n  if (parts.length > 0) {\n    userContextString = '\\n\\n# User Context\\n' + parts.map(p => `- ${p}`).join('\\n') + '\\n\\nUse this context when optimising the prompt (e.g., use local currency in examples, recommend appropriate tools, adjust complexity level for experience).';\n  }\n}\n\n\n// Build the system prompt\nconst systemPrompt = `You are an expert prompt engineering assistant. Your task is to construct an optimised, ready-to-use prompt based on the framework selected in the analysis phase, applying Task-Trait Alignment adjustments (amplification and counterbalancing) as specified.\n\nYou have access to two reference documents:\n\n## FRAMEWORK TEMPLATE\n${frameworkTemplateDoc.content || 'Not available'}\n\n## PERSONALITY CALIBRATION\n${personalityDoc.content || 'Not available'}\n\n---\n\n## TASK\n\n1. Use framework template\n2. Apply amplification (leverage strengths) and counterbalancing (inject requirements)\n3. Incorporate user answers\n4. Generate model recommendations\n\n## COUNTERBALANCE INJECTION\n\nWhen counterbalancing specified: add explicit requirements in prompt, include in quality criteria.\n\n## OUTPUT FORMAT\n\nYou MUST respond with valid JSON only (no markdown code blocks, no extra text).\n\nIMPORTANT: The optimised_prompt field will contain newlines. You MUST properly escape them as \\\\n in the JSON output. All newlines in string values must be escaped.\n\nUse this exact structure:\n\n\\`\\`\\`json\n{\n  \"optimised_prompt\": \"The complete prompt text, ready for copy/paste. This should be a fully self-contained prompt that includes all context, requirements, and instructions. It should be usable immediately without any additional information.\",\n\n  \"metadata\": {\n    \"framework_used\": {\n      \"name\": \"Framework Name\",\n      \"code\": \"FRAMEWORK_CODE\",\n      \"components\": [\"Component1\", \"Component2\"],\n      \"explanation\": \"How the framework was applied\"\n    },\n\n    \"task_trait_alignment\": {\n      \"amplified\": [\n        {\n          \"trait\": \"High N (64%)\",\n          \"requirement_aligned\": \"VISION\",\n          \"how_applied\": \"Description of how this was leveraged in the prompt\"\n        }\n      ],\n      \"counterbalanced\": [\n        {\n          \"trait\": \"High T (84%)\",\n          \"requirement_opposed\": \"EMPATHY\",\n          \"reason\": \"Why counterbalancing was needed\",\n          \"injections_added\": [\n            \"Specific text that was added to the prompt\"\n          ]\n        }\n      ],\n      \"neutral\": [\n        {\n          \"trait\": \"High I (65%)\",\n          \"reason\": \"Why no adjustment was made\"\n        }\n      ]\n    },\n\n    \"personality_adjustments_summary\": [\n      \"AMPLIFIED: Brief description\",\n      \"COUNTERBALANCED: Brief description\"\n    ],\n\n    \"model_recommendations\": [\n      {\n        \"rank\": 1,\n        \"model\": \"Model Name\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Why this model is recommended, considering counterbalance complexity\"\n      },\n      {\n        \"rank\": 2,\n        \"model\": \"Alternative Model\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Why this is a good alternative\"\n      },\n      {\n        \"rank\": 3,\n        \"model\": \"Budget Option\",\n        \"model_id\": \"model-id-string\",\n        \"rationale\": \"Cost-effective option if applicable\"\n      }\n    ],\n\n    \"iteration_suggestions\": [\n      \"Suggestion for how to refine the prompt if needed\",\n      \"Another potential adjustment\"\n    ]\n  }\n}\n\\`\\`\\``;\n\n// Build the user message with all the context\nlet userMessage = `## ANALYSIS FROM WORKFLOW 1\\n\\n`;\nuserMessage += `Task: ${analysisData.task_classification?.primary_category} (${analysisData.task_classification?.complexity})\n`;\nuserMessage += `Framework: ${analysisData.selected_framework?.name}\n`;\nuserMessage += `Personality: ${analysisData.personality_tier || 'none'}\n\n`;\n\nif (analysisData.task_trait_alignment) {\n    userMessage += `**Task-Trait Alignment Analysis:**\\n\\n\\`\\`\\`json\\n${JSON.stringify(analysisData.task_trait_alignment, null, 2)}\\n\\`\\`\\`\\n\\n`;\n    userMessage += `IMPORTANT: Apply the amplifications and counterbalancing as specified above. For each counterbalanced trait, ensure the injection text is explicitly included in the generated prompt.\\n\\n`;\n}\n\nuserMessage += `---\\n\\n## ORIGINAL TASK\\n\\n${webhookData.original_task_description || 'No task description provided'}\\n\\n`;\n\nif (webhookData.user_context?.personality?.personality_type) {\n    userMessage += `## PERSONALITY DATA\\n\\n`;\n    userMessage += `Type: ${webhookData.user_context.personality.personality_type}\\n`;\n    if (webhookData.user_context.personality.trait_percentages) {\n        userMessage += `Percentages: ${JSON.stringify(webhookData.user_context.personality.trait_percentages)}\\n`;\n    }\n    userMessage += `\\n`;\n}\n\n// Add pre-analysis context if available\nif (preAnalysisContext && Object.keys(preAnalysisContext).length > 0) {\n    userMessage += `## PRE-ANALYSIS CONTEXT\\n\\n`;\n    userMessage += `Context gathered during pre-analysis:\\n\\n\\`\\`\\`json\\n`;\n    userMessage += JSON.stringify(preAnalysisContext, null, 2) + `\\n\\`\\`\\`\\n\\n`;\n}\n\nuserMessage += `## USER'S ANSWERS TO CLARIFYING QUESTIONS\\n\\n`;\nif (questionAnswers && questionAnswers.length > 0) {\n    questionAnswers.forEach((qa, index) => {\n        userMessage += `**Q${index + 1}: ${qa.question}**\\n`;\n        userMessage += `A: ${qa.answer}\\n\\n`;\n    });\n} else {\n    userMessage += `No question answers provided.\\n\\n`;\n}\n\nuserMessage += `---\\n\\n`;\nuserMessage += `Now construct the optimised prompt. Remember to:\\n`;\nuserMessage += `1. Use the ${analysisData.selected_framework?.name || 'selected'} framework structure\\n`;\nuserMessage += `2. Incorporate all user answers naturally into the prompt\\n`;\nuserMessage += `3. Apply AMPLIFICATION for aligned traits (leverage strengths)\\n`;\nuserMessage += `4. Apply COUNTERBALANCING for opposed traits (inject explicit requirements)\\n`;\nuserMessage += `5. Make the prompt self-contained and immediately usable\\n`;\nuserMessage += `6. Recommend models considering the complexity of counterbalancing needed${userContextString}`;\n\nreturn [\n    {\n        json: {\n            system: systemPrompt,\n            messages: [\n                {\n                    role: 'user',\n                    content: userMessage,\n                },\n            ]\n        },\n    },\n];"
            },
            "id": "393804e7-47cc-4e3b-8010-dbe3314350f2",
            "name": "Prepare Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                80,
                -352
            ]
        }
    ],
    "pinData": [],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Load Reference Documents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Anthropic API": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Prompt": {
            "main": [
                [
                    {
                        "node": "Call Anthropic API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Reference Documents": {
            "main": [
                [
                    {
                        "node": "Prepare Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "a647465d-d784-4246-9af6-cd0592655770",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "84d0a09da6de796c56234811b8afdc764a7fd996e2a2f20623945672625b0bf7"
    },
    "id": "YMvRB5aEeEqeZzO0",
    "tags": [
        {
            "updatedAt": "2025-11-25T10:54:37.163Z",
            "createdAt": "2025-11-25T10:54:37.163Z",
            "id": "JCf838Zrlbs7oBCN",
            "name": "prompt-framework"
        }
    ]
}